@charset 'utf-8'
@import compass
@import compass/css3/user-interface

@import fonts
@import grid
@import forms

$headerBackgroundColor: #484848

$blueBackground: #d5dffc
$blueBorder: #bbc4df

$cyanBackground: #c3ffff
$cyanBorder: #93d5dd

$greenBackground: #eafcd5
$greenBorder: #b9d796
$greenText: darken($greenBorder, 30%)

$magentaBackground: #fcd5fc
$magentaBorder: #dbb5db

$yellowBackground: #fcf3d0
$yellowBorder: #f4c873
$yellowText: #d29216

@mixin button
    cursor: pointer
    white-space: nowrap
    @include user-select(none)

.button
    font: 11px $sansFont
    text-align: center
    padding: 0.2em 0.5em
    background-color: #777
    color: #fff
    @include button
    @include border-radius(3px)

    &:hover
        background-color: #369

noscript
    display: block
    padding: 1em
    color: white
    background-color: #a00
    text-align: center
    font-family: Arial, sans-serif


.nobr,
.nowrap
    white-space: nowrap


.message
    font-size: 12px
    @include border-radius(0.5em)
    padding: 0.5em 0.7em
    margin: 0em auto 0.5em auto
    width: 25em
    font-family: $sansFont
    background-color: $yellowBackground
    border: 1px solid $yellowBorder
    color: $yellowText

.message .red.caps
    background-color: #fcd5d0
    color: #ea361c

.invisible
    visibility: hidden

.transparent,
.transparent *
    color: transparent !important
    background-color: transparent !important


a.cslav
    color: #000

body,
div
    margin: 0
    padding: 0
    font-size: 13pt
    font-family: $sansFont

div#main
    margin: 1em auto
    width: 40em
    position: relative

#main-flex
    display: flex

    & > aside
        order: 1
        width: 23%
        border: 1px solid green

    & > article
        order: 2
        width: 77%
        border: 1px solid red

.exgroup
    color: #a00

.author
    font-style: italic
    font-size: 12px
    font-family: $sansFont
    color: #777
    margin-top: 20px
    margin-right: 50px
    text-align: right

.cinnabar
    color: #f00

.hidden
    display: none
    visibility: hidden
