@charset 'utf-8'

#eM--editMeaning
    margin: 0
    padding-top: 10px

#eM--meaning,
#eM--gloss
    +column(15)
    margin-bottom: 1em
    clear: all

    label,
    textarea
        +column(15, true)
    textarea
        height: 5em

#eM--metaphorical,
#eM--substantivus
    +column(7)
    margin-bottom: 2em
    clear: all

    input
        @include column(1, true)
        margin-top: 2px
        margin-left: -3px
