@charset 'utf-8'

.entry,
.entry *
    font-family: $serifFont

div.entry, div.refheader
    margin-top: 4em

div.refheader
    color: green
    border-bottom: 1px solid green

div.entry.ref
    margin-top: 1.7em
    line-height: 100%

.headword
    font-size: 150% !important

.orthvar
    font-size: 120% !important

.ai
    font-size: smaller

.ai-etym
    background-color: #fcd5fc
    border: 1px solid #dbb5db

.ai-example
    background-color: #d5dffc
    border: 1px solid #bbc4df

.ai-meaning
    background-color: #eafcd5
    border: 1px solid #b9d796

.ai-entry
    background-color: #fcf3d0
    border: 1px solid #f4c873

.ai-grfmnng,.ai-grfex
    background-color: #c3ffff
    border: 1px solid #93d5dd

div.ai
    padding: 10px
    line-height: 150%
    @include border-radius(0.5em)

div.ai p
    margin: 0 0 0.5em 0

span.ai,span.noaddress
    padding: 0.1em 0.4em
    @include border-radius(0.3em)

span.noaddress
    padding: 0.15em 0.4em
    background-color: #a00
    color: #fff
    font-family: $sansFont
    font-style: italic
    font-size: smaller

div.edit-controls
    margin: 1em auto 4em 1.5em

.edit-controls a
    text-decoration: none
    color: #369
    border-bottom: 1px dotted #369
    &, &:hover
        background-color: white

span.edit-controls a
    border-bottom-width: 0
