@charset "utf-8"

@import resource_version

$exampleLeftPadding: 50px

div#main
  margin: 1em auto
  width: 40em
  position: relative

.exampleHeader
  margin-top: 3em
  color: #555
  line-height: 24px
  margin-bottom: 1em
  font-family: $serifFont

.example
  padding-left: $exampleLeftPadding
  position: relative
  margin-bottom: 40px

.example--id
  position: absolute
  left: 0px
  top: 3px
  font-family: $sansFont
  font-size: 13px
  color: #65482a

.example--address
  color: #0a0
  font-family: $serifFont

input.example--address
  width: 90%

.example--comment
  padding: 0.1em 0.4em
  font: 0.8em AntConSol
  color: #0a0
  background-color: #eafcd5
  border: 1px solid #b9d796

  +border-radius(3px)

.context
  color: gray

.example--formLabel
  font-family: $sansFont
  font-size: 13px
  margin-right: 1em

.greqForExample
  list-style: none
  position: relative

.greqFieldContainer
  position: relative
  display: inline-block
  padding-top: 5px
  margin: 13px 10px 0 0

  label
    position: absolute
    white-space: nowrap
    top: -7px
    font:
      family: $sansFont
      size: 10px

  input
    border: 1px solid #ccc
    padding: 0 0.4em

  input[type="text"]
    width: 11em

.greqFieldContainer.c1 input[type="text"]
  background-color: #b9d796
  border-color: #b9d796

.greqFieldContainer.c2 input[type="text"]
  background-color: #bbc4df
  border-color: #bbc4df

.greqFieldContainer.checkbox
  width: 8.3em
  top: -15px

  label
    position: relative
    top: auto
    font-size: 12px
    margin-left: 0.5em

.greqList--comma:last-child
  display: none

.greqList
  font-family: $serifFont
  color: #be8c2b

  & .grec
    white-space: nowrap

.greqNote
  margin-left: 0.7em
  color: #a00
  font-style: italic

.greqComment
  margin-left: 0.7em
  padding: 0.1em 0.4em
  font: 0.8em AntConSol
  color: #be8c2b
  background-color: #fcf3d0
  border: 1px solid #f4c873

  +border-radius(3px)

#main .button
  background-color: #eee
  color: #777

#main .button.dark
  background-color: #777
  color: #fff

.greqFieldButton
  color: #fff

  &:hover
    background-color: #a00

  &.onSide
    position: absolute
    right: 0
    top: 1.5em

.greqFieldAjaxLoader

.exFieldAjaxLoader
  background: transparent url("ajax-loader.gif?#{$shash}") no-repeat 50% 50%
  width: 16px
  height: 16px
  position: absolute
  display: block
  left: -30px
  top: 20px

.exFieldAjaxLoader
  top: 0

.greqStatus
  position: absolute
  bottom: -5px
  right: 0
  width: 10em

.antconcButton,
.addGreqButton
  margin-top: 15px
  width: 150px

.orthoTick
  position: relative
  color: #777
  font:
    family: $sansFont
    size: 11px

  input
    position: absolute
    bottom: -1px
    display: inline
    margin-left: 4px
