@charset 'utf-8'

.filters,
.filters *
    font-size: 11px
    line-height: 18px

.filters
    background-color: #eee
    font-family: $sansFont
    position: relative
    text-align: left

    .f5s--statusbar
        background-color: $yellowBackground
        color: $yellowText
        display: none
        padding: 5px 0
        word-spacing: 3px
        .f5sS--item
            @include border-radius(3px)
            background-color: $yellowBorder
            text-shadow: 0 0 5px white
            font-weight: bold
            padding: 0 5px
            white-space: nowrap
            word-spacing: 1px

            .f5sSI--prefix
                text-transform: uppercase
                font-weight: bold

    .f5s--dashboard
        display: none
        padding: 10px

        .f5sD--sort
            @include column(6)

            #id_sortdir
                @include column(4)
            #id_sortbase
                @include column(6)

        .f5sD--filter
            @include column(14, true)
            @include prepend(1)

        .f5sD--buttons
            @include column(6)

        .button.f5sD--close,
        .button.f5sD--reset,
        .button.f5sD--submit
            padding: 0
        .button.f5sD--close,
        .button.f5sD--reset
            @include column(3)
        .button.f5sD--submit
            @include column(3,true)

    .f5s--advertiser
        background-color: #999
        height: 4px
        position: relative

        .f5sA--label
            @include border-radius(3px)
            @include button
            background-color: #999
            color: white
            display: none
            font-size: 10px
            font-weight: bold
            height: 15px
            line-height: 120%
            position: absolute
            text-align: center
            width: 70px
