@charset 'utf-8'

@font-face
    font-family: 'Triodion Ucs'
    src: url('fonts/TriIEUcs.eot')
    src: local('Triodion Ucs'), local('Triodion ieUcs'), local('Triodion ieUcs Regular'), local('Triodion-ieUcs'), url('fonts/TriIEUcs.woff') format('woff'), url('fonts/TriIEUcs.ttf') format('truetype'), url('fonts/TriIEUcs.svg#Triodion-ieUcs') format('svg')

@font-face
    font-family: 'SIL Ulysses'
    src: url('fonts/silur-webfont.eot')
    src: local('SIL Ulysses'), url('fonts/silur-webfont.woff') format('woff'), url('fonts/silur-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'hebrew'
    src: url('fonts/hebrew-webfont.eot')
    src: local('hebrew'), url('fonts/hebrew-webfont.woff') format('woff'), url('fonts/hebrew-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Hebrew-Russian!'
    src: url('fonts/heb-rus-webfont.eot')
    src: local('Hebrew-Russian!'), url('fonts/heb-rus-webfont.woff') format('woff'), url('fonts/heb-rus-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Estrangelo Edessa'
    src: url('fonts/estre-webfont.eot')
    src: local('Estrangelo Edessa'), url('fonts/estre-webfont.woff') format('woff'), url('fonts/estre-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'GEO-LitNusx'
    src: url('fonts/ltzura2-webfont.eot')
    src: local('GEO-LitNusx'), url('fonts/ltzura2-webfont.woff') format('woff'), url('fonts/ltzura2-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'SPEdessa'
    src: url('fonts/spedessa-webfont.eot')
    src: url('fonts/spedessa-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/spedessa-webfont.woff') format('woff'), url('fonts/spedessa-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Coptic'
    src: url('fonts/coptic2-webfont.eot')
    src: local('Coptic'), url('fonts/coptic2-webfont.woff') format('woff'), url('fonts/coptic2-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Old Standard TT'
    src: url('fonts/oldstandard-regular-webfont.eot')
    src: url('fonts/oldstandard-regular-webfont.woff') format('woff'), url('fonts/oldstandard-regular-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Old Standard TT'
    src: url('fonts/oldstandard-italic-webfont.eot')
    src: url('fonts/oldstandard-italic-webfont.woff') format('woff'), url('fonts/oldstandard-italic-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: italic

@font-face
    font-family: 'Old Standard TT'
    src: url('fonts/oldstandard-bold-webfont.eot')
    src: url('fonts/oldstandard-bold-webfont.woff') format('woff'), url('fonts/oldstandard-bold-webfont.ttf') format('truetype')
    font-weight: bold
    font-style: normal

@font-face
    font-family: 'AntConSol'
    src: url('fonts/antconsol-webfont.eot')
    src: url('fonts/antconsol-webfont.woff') format('woff'), url('fonts/antconsol-webfont.ttf') format('truetype')





.cslav
    font-family: "Triodion Ucs" !important
    font-weight: normal !important
    font-size: 110% !important

.antconsol
    font-family: AntConSol !important

.grec
    font-family: 'SIL Ulysses' !important

.hebrew,
.aramaic
    font-family: 'hebrew' !important

.hebrew-translit,
.syriac-translit,
.aramaic-translit
    font-family: 'Hebrew-Russian!' !important
    font-size: 90% !important

.akkadian
    //pass

.armenian
    //pass

.georgian
    font-family: 'GEO-LitNusx' !important

.coptic
    font-family: Coptic !important

.syriac
    font-family: 'SPEdessa' !important

// 'Estrangelo Edessa'
