@charset "utf-8"

nav.breadTabs ul
  overflow: hidden
  margin: 0
  padding: 0
  height: 45px
  display: flex

  +background(linear-gradient(top, rgba(252, 243, 208, 0.7) 0%, rgba(210, 146, 22, 0) 100%))

  position: relative

  li.breadCrumb
    flex: 0 1 auto
    height: 26px
    cursor: pointer

    +user-select(none)

    padding: 15px 37px 15px 30px
    position: relative

    img
      position: absolute
      top: 0
      bottom: 0
      right: -10px

    span
      font-size: 13px
      color: sienna
      opacity: 0.8

  li.tab
    flex: 0 1 auto
    margin-top: 20px
    padding: 4px 20px 0px 20px
    height: 26px
    cursor: pointer
    background-color: #efefef
    border-bottom: none
    margin-left: -2px

    +user-select(none)
    +border-radius(9px, 23px)
    +box-shadow(0 10px 20px rgba(0, 0, 0, 0.7), 0px -1px 10px rgba(120, 120, 120, 0.4))

    text-align: center
    font-family: Arial
    font-size: 12px
    position: relative
    color: #888

    &:before
      content: ""
      background-color: inherit
      width: 10px
      height: 25px
      display: block
      position: absolute
      bottom: 0
      left: -2px

      +rotate(15deg)

    &:after
      content: ""
      background-color: inherit
      width: 10px
      height: 25px
      display: block
      position: absolute
      bottom: 0
      right: -2px

      +rotate(-15deg)

    &:first-child
      margin-left: 35px

    &:hover
      background-color: #F7E9B0
      color: #d29216

    &.current
      background-color: white
      z-index: 2
      color: #777

      +box-shadow(0 10px 20px rgba(0, 0, 0, 0.7), 0px -1px 10px rgba(0, 0, 0, 0.4))

#tabShadow,
#breadCrumbShadow
  +box-shadow(0 -1px 10px rgba(210, 146, 22, 0.2))

#breadCrumbShadow
  content: ""
  display: block
  top: 45px
  left: 45px
  right: 0
  position: absolute

#tabShadow
  flex: 1 1 auto
  margin-top: 45px

section.tabcontent
  padding-top: 25px

$listWidth: 560px
$listElementHorizontalPadding: 20px
$listElementWidth: ($listWidth - $listElementHorizontalPadding * 2) / $listWidth
$draggedElement: ($listWidth - $listElementHorizontalPadding * 4) / $listWidth

.edit,
.edit *
  font-size: 11px
  line-height: 18px

.edit section .cslav
  font-size: 16px !important

.edit
  +myFormWidgets

  background-color: white
  font-family: $sansFont
  position: relative
  text-align: left

  input
    +box-sizing(border-box)

  ul.ko_container,
  ul.ui-sortable,
  ul.meanings,
  ul.collogroups,
  ul.examples
    width: $listWidth
    position: relative
    z-index: 0

    & ~ a.pasteItems,
    & ~ a.addItem,
    & + div > a.pasteItems,
    & + div > a.addItem
      height: 30px
      display: block
      border: 1px dashed black
      width: percentage($listElementWidth)
      background: url(addItem.png?#{$shash}) 10px 7px no-repeat no-repeat
      opacity: 0.2
      cursor: pointer
      margin-bottom: 12px

    & ~ a.pasteItems,
    & + div > a.pasteItems
      background-image: url(paste.png?#{$shash})

    li
      width: percentage($listElementWidth)
      background-color: white
      list-style: none
      padding: 10px $listElementHorizontalPadding
      margin-top: 10px
      position: relative

      +user-select(none)
      +box-shadow(0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset)

      &.sortable-placeholder
        +box-shadow(0 1px 4px rgba(orange, 0.7), 0 0 40px rgba(orange, 0.5) inset)

        padding-top: 0
        padding-bottom: 0

      &.being-dragged
        +box-shadow(0 1px 4px rgba(green, 0.5), 0 0 40px rgba(green, 0.3) inset)

        height: 1.5em !important
        width: percentage($draggedElement) !important
        line-height: 4em
        overflow: hidden
        cursor: move
        cursor: -moz-grabbing
        cursor: -webkit-grabbing

        &:first-line
          line-height: 1em

      &.being-dragged:after,
      &.being-dragged:before
        +box-shadow(none !important)

      ul,
      ul ~ a.pasteItems,
      ul ~ a.addItem,
      ul + div > a.pasteItems,
      ul + div > a.addItem
        width: 90%
        margin-left: 10%

      &:last-of-type
        margin-bottom: 10px

    li:after,
    li:first-of-type:before
      content: " "
      position: absolute

      +box-shadow(0 0 10px rgba(0, 0, 0, 0.3))

      height: 8px
      bottom: 0
      left: 5px
      right: 5px
      z-index: -1
      border-radius: 300px / 4px

    li:first-of-type:before
      bottom: auto
      top: 0

    li li:last-of-type:after
      +box-shadow(none)

  ul.meanings:before,
  ul.examples:before,
  ul.collogroups:before,
  ul.translations:before
    display: block
    font-weight: bold
    color: sienna
    border-bottom: 1px dotted sienna

  ul:empty::before
    border-bottom: none

  ul.meanings:before
    content: "Значения"

  ul.examples:before
    content: "Иллюстрации"

  ul.collogroups:before
    content: "Словосочетания"

  ul.translations:before
    content: "Переводы"

  ul.meanings ul.meanings:before
    content: "Употребления"

  ul.collogroups ul.meanings:before
    content: "Значения"

  ul.collogroups ul.meanings ul.meanings:before
    content: "Употребления"

.tabcontent > .addItem,
.tabcontent > div > .addItem,
.tabcontent > .pasteItems,
.tabcontent > div > .pasteItems,
.orthvars > .addItem,
.orthvars > div > .addItem,
.meaningContexts ~ .addItem
  width: ($listWidth - 5px) !important

#infoTab--participles > .addItem,
#infoTab--participles > div > .addItem,
#usageExamples .pasteItems,
#usageExamples .addItem
  width: $listWidth - 15px

.orthvars ul li,
ul.meaningContexts li,
#infoTab--participles ul li
  padding-left: 12px

  .deleteItem
    opacity: 0.3
    position: absolute
    display: block
    top: 30%
    right: 17px

  &.being-dragged
    width: percentage($listElementWidth) !important

.orthvars ul li
  position: relative

  input[type="text"]
    margin-left: 20px

  input[type="checkbox"]
    position: relative
    margin-left: 1em
    top: -0.4em

  label
    margin-left: 0.5em

.meaningContexts *
  overflow: visible

.meaningContexts li
  label
    +column(2)

    position: relative
    margin-top: 2px

    input[type="text"]
      +column(2, true)

    span
      top: -14px
      font-size: 9px
      position: absolute
      z-index: 300

#infoTab
  display: flex
  flex-direction: column

  & > section:first-of-type
    display: flex

    & > section:first-of-type
      flex: 3 0 auto

      & label
        padding: 0.5em 0.7em
        line-height: 2.3em
        display: block-inline

        &.checked
          +border-radius(5px)

          background-color: rgb(252, 243, 208)
          color: sienna

    & > section.n-adj-v:first-of-type
      flex: 0 0 90px

    & > section:last-of-type
      flex: 1 1 auto

#infoTab--uninflected,
#infoTab--possessive
  +column(4)
  +append(15)

  margin-bottom: 1.2em

  & input
    +column(1, true)

    margin-top: 2px
    margin-left: -3px

  & span
    +column(3)

    text-align: right

#infoTab--genitive
  +column(10)
  +prepend(1)

  margin-bottom: 1.2em

  & label
    +column(5)
    +pull(1)

    & span
      +column(3)

      text-align: right

    & input
      +column(2, true)

  & > span
    +column(5, true)

#infoTab--gender
  +column(4)
  +prepend(1)

  margin-bottom: 2.4em
  clear: left

  & > select
    +column(2, true)

  & > span
    +column(2)

    text-align: right

  & > div
    +column(2, true)

    & label
      +column(2, true)

      & input
        +column(1)

        margin-top: 2px

      & span
        +column(1, true)

#infoTab--number
  +column(5)

  & > span
    +column(2)

    text-align: right

  & > select
    +column(3, true)

#infoTab--onym
  +column(10)
  +prepend(1)

  clear: left
  margin-bottom: 1.2em

  & span
    +column(2)

    text-align: right
    line-height: 10px

  & select
    +column(4)

#infoTab--canonical
  +column(4)

  clear: left

  & input
    +column(1, true)

    margin-top: 2px
    margin-left: -3px

  & span
    +column(3)

    text-align: right

#infoTab--nomSg,
#infoTab--shortForm
  +column(12)

  clear: left

  & label input
    +column(4)

  & label span
    +column(3)

    text-align: right

  & > span
    +column(5, true)

#infoTab--nomSg label span
  word-spacing: 0.0005em

#infoTab--sg1,
#infoTab--sg2
  +column(15)

  clear: left
  margin-bottom: 1.2em

  & label span
    +column(3)

    text-align: right

  & label input
    +column(5)

  & > span
    +column(7, true)

#infoTab--participles
  +column(12)

  margin-top: 2.4em
  clear: left

  header
    color: #777
    font-weight: bold
    border-bottom: 1px #777 solid
    padding-left: 12px

  ul:empty + input[type="button"]
    margin-left: 12px
    margin-top: 7px

  ul > li > div
    padding-left: 5px

    & > label
      & > span
        +column(1)

        line-height: 20px

      & > select
        +column(3)

        height: 20px

      & > input[type="text"]
        +column(4)

.expandItem,
.deleteItem,
.cutItem,
.editItem
  width: 16px
  height: 16px
  opacity: 0.3
  position: absolute
  cursor: pointer
  display: none
  top: -8px

.dragItem
  width: 7px
  height: 33px
  position: absolute
  cursor: move
  cursor: -moz-grab
  cursor: -webkit-grab
  display: none
  top: 3px
  left: 4px
  background: url(dragItem.png?#{$shash})

li:hover:not(.being-dragged) > .expandItem,
li:hover:not(.being-dragged) > .dragItem,
li:hover:not(.being-dragged) > .deleteItem,
li:hover:not(.being-dragged) > .cutItem,
li:hover:not(.being-dragged) > .editItem
  display: block

$expandPosition: 28px

.expandItem
  right: $expandPosition
  background: url(expandItem.png?#{$shash})

  +transform(rotate(0deg))

  transition: all 0.4s

.expandItem.expanded
  +transform(rotate(90deg))

.deleteItem
  background: url(deleteItem.png?#{$shash})
  right: -8px

.editItem
  background: url(editItem.png?#{$shash})
  right: $expandPosition + 18px

.cutItem
  right: $expandPosition
  top: auto
  bottom: -8px
  background: url(scissors.png?#{$shash})

.cutItem.cutItemNonFirst
  background: url(scissorsPlus.png?#{$shash})

.examples > li > .editItem
  right: $expandPosition - 8px

#usageExamples
  +column(20)

  clear: all
  margin-top: 2.4em

.substantivus
  +border-radius(3px)

  background-color: #ccc
  color: #555
  padding: 0 0.3em

.paracslav
  font-size: 13px
  color: #555

.leftPad
  margin-left: 0.75em

.lozenge
  position: relative
  top: 0.1em
  font-size: 2em
  margin-right: 0.5em
