@charset 'utf-8'

@mixin roundedCorners($radius)
    -moz-border-radius: $radius
    -webkit-border-radius: $radius
    border-radius: $radius

$cslFont: 'Triodion Ucs'
$sansFont: Arial, sans-serif
$serifFont: 'Old Standard TT'

@mixin button
    cursor: pointer
    white-space: nowrap
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none

.button
    font: 11px $sansFont
    text-align: center
    padding: 0.2em 0.5em
    background-color: #777
    color: #fff
    @include button
    @include roundedCorners(3px)

    &:hover
        background-color: #369
