@charset 'utf-8'
@import fonts

label
    width: 10em !important
    text-align: right

p.help
    width: 300px !important
    margin-left: 9em !important

//div > input[type="checkbox"]
//    margin-left: 12em !important

table#result_list td,
table#result_list th,
.antconsol
    font-family: AntConSol

.typing
    font-family: AntConSol
    font-size: larger

.civil
    font-family: "Times New Roman", serif
    font-size: 10pt
    font-style: italic

.cslav
    font-family: "Triodion Ucs"
    font-size: 14pt !important

.green,
.typing,
.civil
    color: #0a0

.blank
    height: 1em
    border: 0 solid #fff

.help
    display: none

.hidden
    display: none

label.required
    font-weight: normal !important

label.required:after
    content: "*"

body
    font-family: Vardana, Arial, sans-serif

textarea#id_example,
#example_set-group .field-example textarea,
#orthographic_variants-group .field-idem input,
#collocation_set-group .field-collocation input,
#participle_set-group .field-idem input,
input#id_nom_sg,
input#id_genitive,
input#id_short_form,
input#id_sg1,
input#id_sg2
    font-family: AntConSol
    width: 7em

input[id$="-collocation"]
    width: 40em !important

.field-headword a
    color: black
    font-family: Arial, Verdana, sans-serif
    font-weight: normal
    word-spacing: 0.35em

.field-headword
    text-align: right !important

$headword-width: 15em
.field-headword,
.column-headword
    width: $headword-width !important
    min-width: $headword-width !important

.column-civil_inv,
.field-civil_inv
    width: 50px !important
    max-width: 50px !important
    white-space: pre-line
    word-wrap: break-word
    font-size: 10px
    line-height: 10px

.column-genitive, .field-genitive,
.column-short_form, .field-short_form,
.column-sg1, .field-sg1,
.column-sg2, .field-sg2
    max-width: 10em !important

    input
        width: 95% !important
        font-family: AntConSol

td.field-_entry,
td.field-_collogroup
    max-width: 5em !important
    overflow-wrap: break-word

select[id$="-transitivity"]
    width: 5em !important

select[id$="-substantivus_type"]
    width: 3.5em !important

td input[type="text"][id$="-substantivus_csl"]
    width: 80px !important

td textarea[id$="-meaning"],
td textarea[id$="-gloss"]
    width: 10em
    height: 10em

.column-phraseological,
.field-phraseological
    max-width: 7.5em
    position: relative

.field-canonical_name,
.field-nom_sg
    display: none

.field-authors select
    height: 32em
    background-color: white !important

.myerr
    background-color: #fcd5d0


// Скрываем шапку в админке
#header,
.breadcrumbs,
#content h1,
#content .object-tools
    display: none

.hebrew,
.aramaic
    font-family: 'hebrew'
    font-size: larger

.hebrew-translit,
.syriac-translit,
.aramaic-translit
    font-family: 'Hebrew-Russian!'

.akkadian
    //pass

.armenian
    //pass

.georgian
    font-family: 'GEO-LitNusx'
    font-size: larger

.coptic
    font-family: Coptic
    font-size: larger

.syriac
    font-family: 'SPEdessa'
    font-size: larger

// 'Estrangelo Edessa'

div.field-box.field-untitled_exists
    margin-right: 20em
