@charset 'utf-8'

@import reset
@import common

@import header
@import filters
@import examples_for_hellinist
@import pagination

.indicator
    margin-left: 1em
    cursor: pointer

    span
        @include border-radius(3px)
        background-color: #a00
        color: white
        font-weight: bold
        padding: 0.2em 0.55em

#main .button
    background-color: #eee
    color: #777
