@charset 'utf-8'

@import resource_version
@import reset
@import common

@import header
@import filters
@import examples_for_hellinist
@import indesign_like_entry
@import pagination

.indicator
    margin-left: 1em
    padding: 0 !important
    cursor: pointer

    span
        @include border-radius(3px)
        background-color: #a00
        color: white
        font-weight: bold
        padding: 0.2em 0.55em
