[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
"psycopg2" = ">=2.7"
"hip2unicode" = {git = "https://github.com/while0pass/hip2unicode.git"}
Django = "<1.12,>=1.11"
"Jinja2" = ">=2.10"

[requires]
python_version = "2.7"
