[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
"hip2unicode" = {git = "https://github.com/slavdict/hip2unicode.git"}
Django = "<1.12,>=1.11.20"
"Jinja2" = ">=2.10"
"psycopg2-binary" = "*"

[requires]
python_version = "2.7"
