Django>1.7,<1.8
psycopg2>=2.6
Jinja2>=2.8.0

# Coffin>0.3.8
https://github.com/coffin/coffin/archive/7b5d514238f44fa0fbc30e198b7405d38dacb626.zip

# HIP2Unicode
git+https://github.com/while0pass/hip2unicode.git#egg=HIP2Unicode
