{% extends "error.html" %}
{% block title %}Требуется авторизация{% endblock %}
{% block main %}
    {% if form.errors %}
    <div class="form-error">Имя пользователя или пороль введены неверно. Попробуйте ещё раз.</div>
    {% endif %}

    <form method="post" action="">
    {% csrf_token %}
    <div class="form">
        <table>
            <col style="width: 40%;"></col>
            <col style="width: 60%;"></col>
            <tr>
                <td>Имя</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Войти" /></td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock main %}
