{% extends "error.html" %}
{% block title %}Требуется авторизация{% endblock %}
{% block main %}
    {% if form.errors %}
    <div class="form-error">Имя пользователя или пороль введены неверно. Попробуйте ещё раз.</div>
    {% endif %}

    <form method="post" action="">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <div class="form">
        <style>
            td input[type="text"],
            td input[type="password"] { width: 97%; }
        </style>
        <table>
            <col style="width: 35%;"></col>
            <col style="width: 65%;"></col>
            <tr>
                <td>Имя</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag() }}</td>
                <td>{{ form.password }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Войти" /></td>
            </tr>
        </table>
    </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock main %}
