<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--[if lt IE 7 ]> <html lang="ru" class="ie6 no-js"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="ie7 no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="ie8 no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="no-js"> <!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Форма добавления/изменения словарнорй статьи</title>
  <link rel="stylesheet" href="css/html5boilerplate.css?v=2" />
  <link rel="stylesheet" href="css/1618blueprint.css?v=2" />
  <link rel="stylesheet" href="css/style.css?v=2" />
  <script src="js/libs/modernizr-1.6.min.js"></script>
</head>

<body>
    <div class="y4"></div>
  <div class="container" id="cont">

    <div class="x21 y3"></div>

    <form action="" method="post">

        <div class="x21 bottom3">

            <div class="x3 right text">Лексема</div>

            <input type="text" class="x5 y1 antconsol" value="" name="entry" id="entry_id" />

            <div id="display-entry" class="x6 prepend-1 text cslav"></div>

            <div class="x6 text"></div>

        </div>

        <div class="x21 bottom3">

            <div class="x3 right text">Часть речи</div>

            <div class="x3">

                <div class="x3 omega bottom0">
                    <div class="x2 right text">сущ.</div>
                    <input type="radio" value="noun" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">гл.</div>
                    <input type="radio" value="verb" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">прил.</div>
                    <input type="radio" value="adjective" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">нар.</div>
                    <input type="radio" value="adverb" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text control-text">другое</div>
                    <input type="radio" value="" name="part_of_speech" id="pos_another" />
                </div>

            </div>

            <div class="x3" id="additional_pos">

                <div class="x3 omega bottom0">
                    <div class="x2 right text">предл.</div>
                    <input type="radio" value="preposition" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">мест.</div>
                    <input type="radio" value="pronoun" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">союз&nbsp;</div>
                    <input type="radio" value="conjunction" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">част.</div>
                    <input type="radio" value="particle" name="part_of_speech" />
                </div>

                <div class="x3 omega bottom0">
                    <div class="x2 right text">межд.</div>
                    <input type="radio" value="interjection" name="part_of_speech" />
                </div>

            </div>

        </div>

    </form>

  </div> <!--! end of #container -->


  <script src="js/libs/jquery-1.4.4.min.js"></script>

  <script src="js/mylibs/ac2ucs8.js"></script>
  <script>
     $(function(){
        $('#display-entry').html(antconc_ucs8($('#entry_id').val(), false));
        $('#additional_pos').toggle();

        $('#cont').dblclick(function(){
            $(this).toggleClass('showgrid');
            });
        $('#entry_id').keyup(function(){
            $('#display-entry').html(antconc_ucs8($(this).val(), false));
        });
        $('#pos_another').change(function(){
            $('#additional_pos').toggle();
        });
    });
  </script>

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="js/profiling/yahoo-profiling.min.js"></script>
  <script src="js/profiling/config.js"></script>
  <!-- end profiling code -->

</body>
</html>
