textarea {
  padding: 2px; }

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="button"],
textarea,
select {
  background-color: #f9f9f9;
  border: 1px solid #adadad;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

input[type="text"]:active, input[type="text"]:focus, input[type="text"]:hover,
textarea:active, textarea:focus, textarea:hover,
select:active, select:focus, select:hover {
  background-color: #fff2db;
  border: 1px solid #f7b84c;
  color: #b86200; }

input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-size: 11px;
  background: #eeeeee url(button-bg.png) repeat-x;
  border: 1px solid #adadad; }

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background-image: none; }

input[type="button"]:hover, input[type="button"]:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
input[type="reset"]:hover, input[type="reset"]:focus {
  border: 1px solid #f7b84c;
  color: #b86200; }

.cslav {
  font-family: "Triodion ieUcs";
  font-size: larger;
  line-height: 10px; }

.antconsol {
  font-family: "AntConSol"; }

.red {
  background-color: red; }

.right {
  text-align: right; }

.text {
  padding-top: 2px; }
