input, textarea {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea {
    padding: 2px;
}

input[type=text],
textarea,
select {
    background-color: #f9f9f9;
    border: 1px solid #adadad;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

input:focus,
input:hover,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
    border: 1px solid #f7b84c;
}

input[type="checkbox"] {
    height: 21px;
    width: 21px;
}

input[type="text"]:active,
input[type="text"]:focus,
textarea:active,
textarea:focus,
select:active,
select:focus
{
    background-color: #FFF2DB;
    border: 1px solid #f7b84c;
    color: #B86200;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    font-size: 11px;
    background: #eee url(button-bg.png) repeat-x;
    border: 1px solid #adadad;
}

.cslav {
    font-family: 'Triodion ieUcs';
    font-size: larger;
    line-height: 10px;
}

.antconsol {
    font-family: 'AntConSol';
}

.cslav-content {
    width: 200px;
}

.red {
    background-color: red;
    }
