{% macro etymology(etym, isLanguageChanged, loop) %}


{% if isLanguageChanged %}
    {% if not loop.first %}
        {{ backspace }};{{ space }}
    {% endif %}

    <i>{{ etym.get_language_display() }}</i>&nbsp;
{% else %}
    {% if not loop.first %}
        {{ backspace }},{{ space }}
    {% endif %}
{% endif %}

{% if etym.unitext and etym.has_etymology_language() %}
    {{ etym.unitext }}{{ space }}
    {% if etym.meaning %}
        ‘{{ etym.meaning }}’{{ space }}
    {% endif %}
{% endif %}

{% if show_additional_info and etym.additional_info %}
    <span class="ai ai-etym">{{ etym.additional_info }}</span>
{% endif %}

{% endmacro %}

{# vim: set ft=htmldjango: #}
