@font-face {
    font-family: 'Triodion';
    src: url('/site-media/fonts/TriIEUcs.eot'); /* .eot */
    src:
        local('Triodion ieUcs'),
        local('Triodion ieUcs Regular'),
        local('Triodion-ieUcs'),
        url('/site-media/fonts/TriIEUcs.woff') format('woff'),
        url('/site-media/fonts/TriIEUcs.ttf') format('truetype'),
        url('/site-media/fonts/TriIEUcs.svg#Triodion-ieUcs') format('svg');
}

.cslav {
    font-family: Triodion;
    font-weight: normal;
    font-size: 110%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13pt;
}

div#header {
    background-color: #a00;
    color: white;
    padding: 0.5em 1em;
}

div#menu {
    width: 10em;
    position: absolute;
}

div#menu div {
    padding: 1em 1em 0;
}

div#menu a,
div#menu a:link {
    text-decoration: none;
    color: #369;
    border-bottom: 1px dotted #369;
}

div#menu a:hover,
div#menu a:active {
    text-decoration: none;
    color: #036;
    border-bottom: 1px dotted #036;
}

div#main {
    margin: 1em auto;
    width: 750px;
}

div.entry {
    margin-top: 2em;
}

.headword {
    font-size: 150% !important;
}
