@font-face {
    font-family: 'Triodion Ucs';
    src: url('/site-media/fonts/TriIEUcs.eot'); /* .eot */
    src:
        local('Triodion Ucs'),
        local('Triodion ieUcs'),
        local('Triodion ieUcs Regular'),
        local('Triodion-ieUcs'),
        url('/site-media/fonts/TriIEUcs.woff') format('woff'),
        url('/site-media/fonts/TriIEUcs.ttf') format('truetype'),
        url('/site-media/fonts/TriIEUcs.svg#Triodion-ieUcs') format('svg');
}

@font-face {
	font-family: 'SIL Ulysses';
	src: url('/site-media/fonts/silur-webfont.eot');
	src:
        local('SIL Ulysses'),
        local('☺'),
        url('/site-media/fonts/silur-webfont.woff') format('woff'),
        url('/site-media/fonts/silur-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'hebrew';
	src: url('/site-media/fonts/hebrew-webfont.eot');
	src:
        local('hebrew'),
        local('☺'),
        url('/site-media/fonts/hebrew-webfont.woff') format('woff'),
        url('/site-media/fonts/hebrew-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Hebrew-Russian!';
	src: url('/site-media/fonts/heb-rus-webfont.eot');
	src:
        local('Hebrew-Russian!'),
        local('☺'),
        url('/site-media/fonts/heb-rus-webfont.woff') format('woff'),
        url('/site-media/fonts/heb-rus-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Estrangelo Edessa';
	src: url('/site-media/fonts/estre-webfont.eot');
	src:
        local('Estrangelo Edessa'),
        local('☺'),
        url('/site-media/fonts/estre-webfont.woff') format('woff'),
        url('/site-media/fonts/estre-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GEO-LitNusx';
	src: url('/site-media/fonts/ltzura2-webfont.eot');
	src:
        local('GEO-LitNusx'),
        local('☺'),
        url('/site-media/fonts/ltzura2-webfont.woff') format('woff'),
        url('/site-media/fonts/ltzura2-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SPEdessa';
	src: url('/site-media/fonts/spedessa-webfont.eot');
	src:
        local('SPEdessa'),
        local('☺'),
        url('/site-media/fonts/spedessa-webfont.woff') format('woff'),
        url('/site-media/fonts/spedessa-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Coptic';
	src: url('/site-media/fonts/coptic2-webfont.eot');
	src:
        local('Coptic'),
        local('☺'),
        url('/site-media/fonts/coptic2-webfont.woff') format('woff'),
        url('/site-media/fonts/coptic2-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Old Standard TT';
	src: url('/site-media/fonts/oldstandard-regular-webfont.eot');
	src: local('☺'), url('/site-media/fonts/oldstandard-regular-webfont.woff') format('woff'), url('/site-media/fonts/oldstandard-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Old Standard TT';
	src: url('/site-media/fonts/oldstandard-italic-webfont.eot');
	src: local('☺'), url('/site-media/fonts/oldstandard-italic-webfont.woff') format('woff'), url('/site-media/fonts/oldstandard-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Old Standard TT';
	src: url('/site-media/fonts/oldstandard-bold-webfont.eot');
	src: local('☺'), url('/site-media/fonts/oldstandard-bold-webfont.woff') format('woff'), url('/site-media/fonts/oldstandard-bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.cslav {
    font-family: "Triodion Ucs";
    font-weight: normal;
    font-size: 110%;
}
a.cslav {
    color: #000;
}

.grec {
    font-family: 'SIL Ulysses';
}

.hebrew,
.aramaic {
    font-family: 'hebrew';
}

.hebrew-translit,
.aramaic-translit {
    font-family: 'Hebrew-Russian!';
    font-size: 90%;
}

.akkadian {}
.armenian {}
.georgian {}
.coptic {}
.syriac {}

body,
div {
    margin: 0;
    padding: 0;
    font-size: 13pt;
    font-family: 'Old Standard TT', serif;
}

div#header {
    background-color: #a00;
    color: white;
    height: 2.5em;
    padding-top: 1em;
}

div#menu {
    width: 40em;
    margin: auto;
}

div#menu a {
    font-family: Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
    color: #fff;
}

div#menu a:hover,
div#menu a:active,
div#menu a:focus {
    border-bottom: 1px dotted #fff;
}

span.divider { margin: 0 0.5em; }

div#main {
    margin: 1em auto;
    width: 40em;
}

div.entry {
    margin-top: 4em;
}

.headword {
    font-size: 150% !important;
}

.orthvar {
    font-size: 120% !important;
}

.ai { font-size: smaller; }
.ai-etym    { background-color: #fcd5fc; }
.ai-example { background-color: #d5dffc; }
.ai-meaning { background-color: #eafcd5; border: 1px solid #b9d796; }
.ai-entry   { background-color: #fcf3d0; border: 1px solid #f4c873; }

div.ai {
    padding: 10px;
    line-height: 150%;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}

div.ai p { margin: 0 0 0.5em 0; }

span.ai,
span.noaddress {
    padding: 0.1em 0.4em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

span.noaddress {
    padding: 0.15em 0.4em;
    background-color: #a00;
    color: #fff;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: smaller;
}
