{% macro etymology(etym, isLanguageChanged, loop) %}

{% if isLanguageChanged %}
    {% if not loop.first %}
        {{ backspace }};{{ space }}
    {% endif %}
{% else %}
    {% if not loop.first %}
        {{ backspace }},{{ space }}
    {% endif %}
{% endif %}

{{ backspace }}{{ space }}
{% if etym.unitext and etym.is_language('greek') %}
    <span class="Greek">
        {{ etym.unitext }}
    </span>{{ space }}
{% elif etym.text and etym.is_language('latin') %}
    <span class="Latin">
        {{ etym.text }}
    </span>{{ space }}
{% endif %}

{% if show_additional_info and etym.additional_info %}
    <span class="ai ai-etym Text hyphenate"
        lang="ru">{{ etym.additional_info }}</span>{{ space }}
{% endif %}

{% endmacro %}
{# vim: set ft=django.html: #}
