{% from 'web/meaning_without_children.html' import meaning with context %}
{% from 'web/valency.html' import valency with context %}
{% set child_meanings = m.child_meanings %}
{% set parent_meanings_loop = loop %}

{% if not is_collogroups %}
    {% set collogroups_loop = none %}
{% endif %}

{% if m.is_valency %}
    {{ valency(m, peer_meanings_loop=parent_meanings_loop,
                  parent_meanings_loop=none,
                  collogroups_loop=collogroup_loop,
                  child_meanings=child_meaning) }}
{% else %}
    {{ meaning(m, peer_meanings_loop=loop,
                  parent_meanings_loop=none,
                  collogroups_loop=collogroup_loop,
                  child_meanings=child_meanings) }}
{% endif %}

{% for m in child_meanings %}

    {% if m.metaphorical %}
        {% include 'web/allusion.html' %}
    {% elif loop.first and m.is_valency and not m.parent_meaning.examples %}
        {{ backspace }}<span class="Text">:</span>{{ space }}
    {% elif loop.first and not m.metaphorical and not m.parent_meaning.examples %}
        {{ backspace }}<span class="Text">;</span>{{ space }}
    {% elif not m.metaphorical %}
        {% include 'web/separator_use.html' %}
    {% endif %}

    {% if m.is_valency %}
        {{ valency(m, peer_meanings_loop=loop,
                      parent_meanings_loop=parent_meanings_loop,
                      collogroups_loop=collogroups_loop,
                      child_meanings=[]) }}
    {% else %}
        {{ meaning(m, peer_meanings_loop=loop,
                      parent_meanings_loop=parent_meanings_loop,
                      collogroups_loop=collogroups_loop,
                      child_meanings=[]) }}
    {% endif %}
{% endfor %}

{# vim: set ft=django.html: #}
