{% macro collogroup(cg, collogroups_loop) %}
{% from 'csl/meaning_without_children.html' import meaning with context %}


{% if not collogroups_loop.first %}
    {% include 'csl/separator_use.html' %}
{% endif %}

{% for c in cg.collocations %}
    {% if not loop.first %}
        {{ backspace }}{{ space }}
    {% endif %}
    {{ c.collocation_ucs |
            web_civil_injection("Valency", "CSLSegmentEm", "Text") |
            web_collocation_special_cases }}
    {% if not loop.last %}
        {{ backspace }}<span class="Text">;</span>{{ space }}
    {% endif %}
{% endfor %}
{{ backspace }}{{ space }}

{% set mnumber = '' %}
{% for m in cg.meanings %}
    {{ backspace }}{{ space }}
    {% if loop.length != 1 %}
        {% set cgmnumber = {1:'а', 2:'б', 3:'в', 4:'г', 5:'д'}[loop.index] %}
        <span class="CgMeaningNumber">
            ({{ cgmnumber }})
        </span>{{ nbsp }}
    {% endif %}
    {% include 'csl/meaning_with_children.html' with context %}
{% endfor %}


{% for m in cg.metaph_meanings %}

    {% include 'csl/allusion.html' %}
    {{ meaning(m, peer_meanings_loop=loop,
                  parent_meanings_loop=none,
                  collogroups_loop=collogroups_loop,
                  child_meanings=[]) }}
{% endfor %}

{% endmacro %}
{# vim: set ft=django.html: #}
