@charset 'utf-8'

@import reset
@import fonts
@import variables

body
    font-family: $serifFont
    font-size: 13pt

div#main
    margin: 1em auto
    width: 40em
    position: relative

.exampleHeader
    margin-top: 3em
    color: #555
    line-height: 20px
    margin-bottom: 10px

.example
    padding-left: 50px
    position: relative
    margin-bottom: 10px

.example--id
    position: absolute
    left: 0px
    top: 3px
    font-family: $sansFont
    font-size: 13px
    color: #555

.example--address
    color: #0a0

.context
    color: gray
