@charset 'utf-8'

@import reset
@import fonts
@import variables

body
    font-family: $serifFont
    font-size: 13pt

div#main
    margin: 1em auto
    width: 40em
    position: relative

.exampleHeader
    margin-top: 2em
    color: #555

.example
    padding-left: 1em

.context
    color: gray
