{% extends "error.html" %}
{% block title %}Страница не найдена{% endblock %}
{% block main %}
    <div class="message">
        К сожалению, запрошенная Вами страница не найдена.
    </div>

    <p>Проверьте написание адреса страницы. Возможно, в него закралась ошибка
    или опечатка, например, <b>ww</b>.example.org/about/ вместо
    <b>www</b>.example.org/about/.</p>

    <p>Вероятно также, что страница никогда не существовала или была перемещена
    администратором и теперь доступна по другому адресу.</p>

    <p>Можете вернуться на <a href="javascript:history.back();">предыдущую страницу</a>.</p>

    <p>Или перейти на <a href="/">начальную страницу сайта</a>.</p>
{% endblock main %}
