            <div style="line-height: 140%;">
                □<!-- &#x25A1; -->
                {% for c in cg.collocations %}
                        <span class="cslav">{{ c.collocation_ucs }}</span
                        >{% if not forloop.last %},{% endif %}
                {% endfor %}

                {% if cg.meanings or cg.metaph_meanings %}&mdash;{% endif %}

                <span>
                    {% for m in cg.meanings %}

                        {% if not cg.meanings|length_is:"1" %}
                            {{ forloop.counter }}.
                        {% endif %}

                        {% include '_meaning.html' %}

                    {% endfor %}


                    {% for m in cg.metaph_meanings %}

                        <span style="color: #777;">►</span>
                        {% include '_meaning.html' %}

                    {% endfor %}
                </span>
            </div>
