<nav class="tabs"
    data-bind="visible: ui.navigationStack.top.type() === 'Collogroup'">
<ul>
    <li data-bind="css: { current: ui.currentForm() === 'variants' }"
        data-href="#variants">Варианты</li>
    <li data-bind="css: { current: ui.currentForm() === 'structure' }"
        data-href="#structure">Структура</li>
    <!--<li data-bind="css: { current: ui.currentForm() === 'examples' }"
        data-href="#examples">Иллюстрации</li>-->
    <!--<li data-bind="css: { current: ui.currentForm() === 'etym' }"
        data-href="#etym">Этимология</li>-->
    <li></li>
</ul>
</nav>
