{% load trim_spaces %}

<div style="line-height: 140%;">
    □<!-- &#x25A1; -->&nbsp;

    {% for ovar in c.collocations %}
            <span class="cslav">{{ ovar.idem_ucs }}</span>
            {% if not forloop.last %},{% endif %}
    {% endfor %}

    {% if c.meanings or c.metaph_meanings %}
        {% backspace %}&nbsp;&mdash;{% space %}
    {% endif %}

    <span>
        {% for m in c.meanings %}

            {% if not c.meanings|length_is:"1" %}
                {{ forloop.counter }}.&nbsp;
            {% endif %}

            {% include '_meaning.html' %}

        {% endfor %}


        {% for m in c.metaph_meanings %}

            <span style="color: #777;">►</span>
            {% include '_meaning.html' %}

        {% endfor %}
    </span>
</div>
