{% extends '_collogroup.html' %}
{% load trim_spaces %}


{% block collogroup_controls %}

    <div class="edit-controls">

        <div>
            <a href="{% url UI:dictionary_collocationgroup_change cg.id %}">
                <img src="/site-media/pen.png" alt="" />
                {% space %}
                Редактировать словосочетания
            </a>
        </div>

        <div>
            <a href="{% url UI:dictionary_meaning_add %}?collogroup={{ cg.id }}">
                <img src="/site-media/plus.png" alt="" />
                {% space %}
                Добавить значение
            </a>
        </div>

    </div>

{% endblock %}


{% block collogroup_meaning %}
    {% include '_meaning_intermed.html' %}
{% endblock %}


{% block collogroup_metaph_meaning %}
    {% include '_meaning_intermed.html' %}
{% endblock %}
