                <div class="entry">

                    <div style="line-height: 100%;">
                    {% for ovar in entry.orth_vars %}
                            {% if forloop.counter == 2 %}({% endif %}<span
                            class="cslav {% if forloop.first %}headword{% else %}orthvar{% endif %}"
                            >{{ ovar.idem_ucs }}</span
                            >{% if not forloop.last and not forloop.first %},
                            {% else %}{% if not forloop.first %}){% endif %}{% endif %}{% if forloop.first and forloop.last %}{% if entry.short_form or entry.genitive or entry.sg1 or entry.sg2 %},{% endif %}{% endif %}
                    {% endfor %}

                    {% if entry.short_form %}<span class="cslav">{{ entry.short_form_ucs }}</span
                    >{% if entry.genitive %},{%endif %}{% endif %}
                    {% if entry.genitive %}-<span class="cslav">{{ entry.genitive_ucs }}</span>{% endif %}
                    {% if entry.sg1 %}<span class="cslav">{{ entry.sg1_ucs }}</span
                    >{% if entry.sg2 %},{%endif %}{% endif %}
                    {% if entry.sg2 %}<span class="cslav">{{ entry.sg2_ucs }}</span>{% endif %}


                    {% if entry.uninflected %}<i>неизм.</i>{% endif %}
                    {% if entry.possessive %}<i>притяж.</i>{% endif %}
                    <i>{{ entry.part_of_speech.tag }}</i
                    >{% if entry.gender %}, <i>{{ entry.gender.tag }}</i>{% endif %}
                    {% if entry.derivation_entry %}<i>от</i> <a class="cslav"
                    href="{{ entry.derivation_entry.get_absolute_url }}">{{ entry.derivation_entry.orth_vars.0.idem_ucs }}</a>{% endif %}
                    </div>


                    {% if entry.etymologies %}
                    {% spaceless %}

                        <div style="line-height: 100%;">
                        {% for etym in entry.etymologies %}

                            {% ifchanged etym.language.tag %}
                                {% if not forloop.first %}<span>; </span>{% endif %}
                            {% else %}
                                {% if not forloop.first %}<span>, </span>{% endif %}
                            {% endifchanged %}

                            {% ifchanged %}
                                <i>{{ etym.language.tag }}&nbsp;</i>
                            {% endifchanged %}

                            {% if etym.text %}
                                <span class="{{ etym.language.css_class }}">{{ etym.text }}</span>
                            {% endif %}

                            {% if etym.translit %}
                                {% if etym.text %}<span> [</span>{% endif %}
                                <span class="{{ etym.language.css_class2 }}">{{ etym.translit }}</span>
                                {% if etym.text %}<span>]</span>{% endif %}
                            {% endif %}

                            {% if etym.mark %}
                                (<i>{{ etym.mark }}</i><span>)</span>
                            {% endif %}

                            {% if etym.meaning %}
                                <span> ‘{{ etym.meaning }}’</span>
                            {% endif %}

                            {% if etym.gloss %}
                                <i> {{ etym.gloss }}</i>
                            {% endif %}

                            {% if etym.unclear %}
                                {% if etym.gloss %}<span>,</span>{% endif %}
                                <i> этимол. неясна</i>
                            {% else %}
                                {% if etym.etymons %}
                                    {% if etym.etymons.0.questionable %}
                                        <span> этимол. спорна:</span>
                                    {% else %}
                                        <span> от </span>
                                    {% endif %}

                                    {% for etym2 in etym.etymons %}

                                        {% if not forloop.first %}<span>; </span>{% endif %}

                                        {% if etym.etymons|length > 1 %}
                                            <span>{{ forloop.counter }})&nbsp;</span>
                                        {% endif %}

                                        <i>{{ etym2.language.tag }}&nbsp;</i>

                                        {% if etym2.text %}
                                            <span class="{{ etym2.language.css_class }}">{{ etym2.text }}</span>
                                        {% endif %}

                                        {% if etym2.translit %}
                                            {% if etym2.text %}<span> [</span>{% endif %}
                                            <span class="{{ etym2.language.css_class2 }}">{{ etym2.translit }}</span>
                                            {% if etym2.text %}<span>]</span>{% endif %}
                                        {% endif %}

                                        {% if etym2.mark %}
                                            (<i>{{ etym2.mark }}</i><span>)</span>
                                        {% endif %}

                                        {% if etym2.meaning %}
                                            <span> ‘{{ etym2.meaning }}’</span>
                                        {% endif %}

                                        {% if etym2.gloss %}
                                            <i> {{ etym2.gloss }}</i>
                                        {% endif %}

                                        {% if show_additional_info and etym2.additional_info %}
                                            <span class="ai ai-etym">{{ etym2.additional_info }}</span>
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}
                            {% endif %}

                            {% if show_additional_info and etym.additional_info %}
                                <span class="ai ai-etym">{{ etym.additional_info }}</span>
                            {% endif %}

                        {% endfor %}
                        </div>

                    {% endspaceless %}
                    {% endif %}


                    {% with entry.proper_noun as pn %}
                        {% if pn %}
                        {% spaceless %}
                            {% if pn.onym.slug == 'anthroponym' %}
                                <i>имя собств.</i>
                                {% if pn.canonical_name %}
                                    <i>, канонич.</i>
                                {% else %}
                                    <i>, неканонич.</i>
                                {% endif %}
                            {% endif %}
                            {% if pn.onym.slug == 'toponym' %}
                                <i>геогр.</i>
                            {% endif %}
                        {% endspaceless %}
                        {% endif %}
                    {% endwith %}

                    {% if entry.link_to_entry or entry.link_to_collogroup or entry.link_to_meaning %}
                    <div>
                        <i>см.</i>

                        {% if entry.link_to_meaning %}
                            {% if entry.link_to_meaning.entry_container %}
                                <a class="cslav"
                                href="{{ entry.link_to_meaning.entry_container.get_absolute_url }}">{{ entry.link_to_meaning.entry_container.orth_vars.0.idem_ucs }}</a
                            {% endif %}
                            {% if entry.link_to_meaning.collogroup_container %}
                                <span class="cslav">{{ entry.link_to_meaning.collogroup_container.collocations.0.collocation_ucs }}</span
                            {% endif %}
                        {% endif %}

                        {% if entry.link_to_entry %}
                            <a class="cslav" href="{{ entry.link_to_entry.get_absolute_url }}">{{ entry.link_to_entry.orth_vars.0.idem_ucs }}</a
                        {% endif %}

                        {% if entry.link_to_collogroup %}
                            <span class="cslav">{{ entry.link_to_collogroup.collocations.0.collocation_ucs }}</span>
                        {% endif %}
                    </div>
                    {% endif %}

                    {% if entry.cfentries or entry.cfcollogroups or entry.cfmeanings %}
                    <div>
                        <i>ср.</i>

                        {% spaceless %}

                        {% for cfm in entry.cfmeanings %}
                            {% if not forloop.first %}<span>, </span>{% endif %}
                            {% if cfm.entry_container %}
                                <a class="cslav"
                                href="{{ cfm.entry_container.get_absolute_url }}">{{ cfm.entry_container.orth_vars.0.idem_ucs }}</a
                            {% endif %}
                            {% if cfm.collogroup_container %}
                                <span class="cslav">{{ cfm.collogroup_container.collocations.0.collocation_ucs }}</span
                            {% endif %}
                        {% endfor %}

                        {% for cfe in entry.cfentries %}
                            {% if not forloop.first or entry.cfmeanings %}<span>, </span>{% endif %}
                            <a class="cslav" href="{{ cfe.get_absolute_url }}">{{ cfe.orth_vars.0.idem_ucs }}</a
                        {% endfor %}

                        {% for cfcg in entry.cfcollogroups %}
                            {% if not forloop.first or entry.cfmeanings or entry.cfentries %}<span>, </span>{% endif %}
                            <span class="cslav"> {{ cfcg.collocations.0.collocation_ucs }}</span>
                        {% endfor %}

                        {% endspaceless %}
                    </div>
                    {% endif %}

                    {% for m in entry.meanings %}

                        <div style="margin-top: 0.7em; line-height: 140%;">

                            {% if not entry.meanings|length_is:"1" %}
                                <b>{{ forloop.counter }}</b>.
                            {% endif %}

                            {% include '_meaning.html' %}

                        </div>

                        <div style="margin-top: 0.7em; line-height: 140%;">

                            {% if m.collogroups %}
                                {% for cg in m.collogroups %}
                                    {% include '_collogroup.html' %}
                                {% endfor %}
                            {% endif %}

                        </div>

                    {% endfor %}


                    {% for m in entry.metaph_meanings %}

                        <div style="margin-top: 0.7em; line-height: 140%;">

                            <span style="color: #777;">►</span>
                            {% include '_meaning.html' %}

                        </div>

                        <div style="margin-top: 0.7em; line-height: 140%;">

                            {% if m.collogroups %}
                                {% for cg in m.collogroups %}
                                    {% include '_collogroup.html' %}
                                {% endfor %}
                            {% endif %}

                        </div>

                    {% endfor %}

                    {% for cg in entry.collogroups %}
                        {% include '_collogroup.html' %}
                    {% endfor %}

                    {% if show_additional_info and entry.additional_info %}
                        <div class="ai ai-entry">{{ entry.additional_info|linebreaks }}</div>
                    {% endif %}
                </div>
