{% from '_etymology.html'   import etymology    with context %}

{% trim %}

{% if intermed and entry.antconc_query %}<div class="message antconsol">{{ entry.antconc_query }}</div>{% endif %}
<div class="entry">

    {% if show_duplicates_warning is not defined %}
        {% set show_duplicates_warning = true %}
    {% endif %}
    {% if entry.duplicate and show_duplicates_warning %}
    <span class="noaddress">У этой статьи есть дубликат!</span>
    {% endif %}

    <div style="line-height: 100%;">

        {% if show_additional_info %}
            {% if entry.questionable_headword %}
                <sup>?</sup>
            {% else %}
                {% if entry.reconstructed_headword %}*{% endif %}
            {% endif %}
        {% endif %}

        {% if not entry.is_part_of_speech('letter') %}
            <span class="cslav headword">{{ entry.orth_vars.0.idem_ucs }}</span>
        {% else %}
            <span class="cslav headword cinnabar">{{ entry.orth_vars.0.idem_letter_ucs }}</span>
        {% endif %}
        {{ space }}

        {% if entry.homonym_order %}
            <sup>{{ entry.homonym_order }}</sup>
            {{ space }}
        {% endif %}

        {% for ovar in entry.orth_vars[1:] %}

            {% if loop.first %}
                {{ space }}(
            {% endif %}

            <span class="cslav orthvar">{{ ovar.idem_ucs }}</span>

            {% if loop.last %}
                {{ backspace }}){{ space }}
            {% else %}
                {{ backspace }},{{ space }}
            {% endif %}

        {% else %}

            {% if entry.short_form or entry.genitive or entry.sg1 or entry.sg2 %}
                {{ backspace }},{{ space }}
            {% endif %}

        {% endfor %}


        {% if entry.short_form %}
            {% if entry.short_form_ucs_wax.0 %}-{% endif %}
            <span class="cslav">{{ entry.short_form_ucs_wax.1 }}</span>
            {{ space }}
        {% endif %}

        {% if entry.genitive %}
            {% if entry.genitive_ucs_wax.0 %}-{% endif %}
            <span class="cslav">{{ entry.genitive_ucs_wax.1 }}</span>
            {{ space }}
        {% endif %}

        {% if entry.sg1 %}
            {% if entry.sg1_ucs_wax.0 %}-{% endif %}
            <span class="cslav">{{ entry.sg1_ucs_wax.1 }}</span>
            {% if entry.sg2 %},{%endif %}
            {{ space }}
        {% endif %}

        {% if entry.sg2 %}
            {% if entry.sg2_ucs_wax.0 %}-{% endif %}
            <span class="cslav">{{ entry.sg2_ucs_wax.1 }}</span>
            {{ space }}
        {% endif %}

        {% if entry.uninflected %}
            <i>неизм.</i>
            {{ space }}
        {% endif %}

        {% if entry.possessive %}
            <i>притяж.</i>
            {{ space }}
        {% endif %}


        {% if entry.participle_type %}
            <i>{{ entry.get_participle_type_display() }}</i>
            {{ space }}
        {% else %}
            {% if entry.part_of_speech %}
                {% if not entry.is_part_of_speech("letter") and
                      not entry.is_part_of_speech("number") %}
                <i>{{ entry.get_part_of_speech_display() }}</i>
                {% endif %}
            {% else %}
                {% if show_additional_info %}
                <span class="noaddress">Не указана часть речи!</span>
                {% endif %}
            {% endif %}

            {{ space }}
            {% if entry.gender %}
                {{ backspace }},{{ space }}
                <i>{{ entry.get_gender_display() }}</i>
                {{ space }}
            {% endif %}
        {% endif %}


        {% if entry.tantum %}
            <i>{{ entry.get_tantum_display() }}</i>
            {{ space }}
        {% endif %}


        {% if entry.derivation_entry %}

            {% if entry.possessive %}
                <i>к</i>&nbsp;
            {% else %}
                <i>от</i>&nbsp;
            {% endif %}

            {% set de = entry.derivation_entry %}
                <a href="{{ de.get_absolute_url() }}">
                    <span class="cslav">{{ de.orth_vars.0.idem_ucs }}</span>
                    {% if de.homonym_order %}
                        <sup>{{ de.homonym_order }}</sup>
                    {% endif %}
                </a>
                {{ space }}

        {% endif %}


        {% if show_additional_info and entry.additional_info %}
            <span class="ai ai-entry">{{ entry.additional_info }}</span>
        {% endif %}
    </div>


    {% if entry.is_onym('ethnonym') %}
        {% if entry.nom_pl_ucs_wax %}
            <div>
                <i>И.п. мн.</i>
                {{ space }}
                {% if entry.nom_pl_ucs_wax.0 %}-{% endif %}
                <span class="cslav">{{ entry.nom_pl_ucs_wax.1 }}</span>
            </div>
        {% endif %}
        {% if entry.nom_sg_ucs_wax %}
            <div>
                <i>м.р. И.п. ед.</i>
                {{ space }}
                {% if entry.nom_sg_ucs_wax.0 %}-{%endif %}
                <span class="cslav">{{ entry.nom_sg_ucs_wax.1 }}</span>
            </div>
        {% endif %}
    {% endif %}


    {% if entry.etymologies %}
        <div style="line-height: 100%;">
            {% for etym in entry.etymologies %}

                {% set prevLang = Lang %}
                {% set Lang = etym.get_language_display() %}
                {% set isLanguageChanged = (Lang != prevLang) %}

                {{ etymology(etym, isLanguageChanged, loop) }}

            {% endfor %}
        </div>
    {% endif %}


    {% if entry.is_onym('anthroponym') %}
        <i>имя собств.</i>
        {% if entry.canonical_name %}
            ,{{ space }}
            <i>канонич.</i>
        {% endif %}
    {% endif %}

    {% if entry.is_onym('toponym') %}
        <i>топоним</i>
    {% endif %}


    {% if entry.link_to_entry or entry.link_to_collogroup or entry.link_to_meaning %}
    <div>
        <i>см.</i>
        {{ space }}

        {% if entry.link_to_meaning %}
                {% set eltm = entry.link_to_meaning %}
                {% if eltm.entry_container %}
                    <a href="{{ eltm.entry_container.get_absolute_url() }}">
                        <span class="cslav">
                            {{ eltm.entry_container.orth_vars.0.idem_ucs }}
                        </span>
                        {% if eltm.entry_container.homonym_order %}
                            <sup>{{ eltm.entry_container.homonym_order }}</sup>
                        {% endif %}
                    </a>
                {% endif %}
                {% if entry.link_to_meaning.collogroup_container %}
                    <span class="cslav">
                        {{ eltm.collogroup_container.collocations.0.collocation_ucs }}
                    </span>
                {% endif %}
        {% endif %}

        {% if entry.link_to_entry %}
            <a href="{{ entry.link_to_entry.get_absolute_url() }}">
                <span class="cslav">
                    {{ entry.link_to_entry.orth_vars.0.idem_ucs }}
                </span>
                {% if entry.link_to_entry.homonym_order %}
                    <sup>{{ entry.link_to_entry.homonym_order }}</sup>
                {% endif %}
            </a>
        {% endif %}

        {% if entry.link_to_collogroup %}
            <span class="cslav">
                {{ entry.link_to_collogroup.collocations.0.collocation_ucs }}
            </span>
        {% endif %}
    </div>
    {% endif %}


    {% if entry.cfentries or entry.cfcollogroups or entry.cfmeanings %}
    <div>
        <i>ср.&nbsp;</i>

        {% for cfm in entry.cfmeanings %}
            {% if not loop.first %}
                {{ backspace }},{{ space }}
            {% endif %}
            {% if cfm.entry_container %}
                <a href="{{ cfm.entry_container.get_absolute_url() }}">
                    <span class="cslav">
                        {{ cfm.entry_container.orth_vars.0.idem_ucs }}
                    </span>
                    {% if cfm.entry_container.homonym_order %}
                        <sup>{{ cfm.entry_container.homonym_order }}</sup>
                    {% endif %}
                </a>
            {% endif %}
            {% if cfm.collogroup_container %}
                <span class="cslav">
                    {{ cfm.collogroup_container.collocations.0.collocation_ucs }}
                </span>
            {% endif %}
        {% endfor %}

        {% for cfe in entry.cfentries %}
            {% if not loop.first or entry.cfmeanings %}
                ,{{ space }}
            {% endif %}
            <a href="{{ cfe.get_absolute_url() }}">
                <span class="cslav">
                    {{ cfe.orth_vars.0.idem_ucs }}
                </span>
                {% if cfe.homonym_order %}
                    <sup>{{ cfe.homonym_order }}</sup>
                {% endif %}
            </a>
        {% endfor %}

        {% for cfcg in entry.cfcollogroups %}
            {% if not loop.first or entry.cfmeanings or entry.cfentries %}
                ,{{ space }}
            {% endif %}
            <span class="cslav">
                {{ cfcg.collocations.0.collocation_ucs }}
            </span>
        {% endfor %}

    </div>
    {% endif %}


    {% if intermed %}

        <div class="edit-controls">

            <div>
                <a href="{% if user.is_admeditor %}{% url admin:dictionary_entry_change entry.pk %}{% else %}{% url UI:dictionary_entry_change entry.pk %}{% endif %}">
                    <img src="{{ STATIC_URL }}pen.png" alt="" />
                    {{ space }}
                    Редактировать информацию о лексеме
                </a>
            </div>

        </div>

    {% endif %}


    {% for m in entry.meanings %}

        <div style="margin-top: 0.7em; line-height: 140%;">
        {% set mnumber = loop.index %}

            {% if not entry.meanings|length == 1 %}
                <b>{{ mnumber }}</b>.{{ space }}
            {% endif %}

            {% include '_meaning_with_children.html' %}

        </div>

        <div style="margin-top: 0.7em; line-height: 140%;">

            {% if m.collogroups %}
                {% for cg in m.collogroups %}
                    {% include '_collogroup.html' %}
                {% endfor %}
            {% endif %}

        </div>

    {% endfor %}


    {% for m in entry.metaph_meanings %}

        <div style="margin-top: 0.7em; line-height: 140%;">

            <span style="color: #777;">►</span>
            {{ space }}
            {% include '_meaning_with_children.html' %}

        </div>

        <div style="margin-top: 0.7em; line-height: 140%;">

            {% if m.collogroups %}
                {% for cg in m.collogroups %}
                    {% include '_collogroup.html' %}
                {% endfor %}
            {% endif %}

        </div>

    {% endfor %}

    {% for cg in entry.collogroups %}
        {% include '_collogroup.html' %}
    {% endfor %}

</div>

    {% if show_additional_info and not intermed %}
        <div class="author">
            {% if entry.editor %}
                {{ entry.editor }}
            {% else %}
                &lt; Автор не назначен &gt;
            {% endif %}
        </div>
    {% endif %}

{% if intermed %}

    <div class="edit-controls">

        <div>
            <a rel="prefetch"
               href="{% if user.is_admeditor %}{% url admin:dictionary_meaning_add %}{% else %}{% url UI:dictionary_meaning_add %}{% endif %}?entry={{ entry.id }}">
                <img src="{{ STATIC_URL }}plus.png" alt="" />
                {{ space }}
                Добавить значение
            </a>
        </div>

        <div>
            <a rel="prefetch"
               href="{% if user.is_admeditor %}{% url admin:dictionary_collocationgroup_add %}{% else %}{% url UI:dictionary_collocationgroup_add %}{% endif %}?entry={{ entry.id }}">
                <img src="{{ STATIC_URL }}plus.png" alt="" />
                {{ space }}
                Добавить словосочетание
            </a>
        </div>

    </div>

    <div class="edit-controls" style="margin-bottom: 7em;">

        <a href="{{ entry.get_absolute_url() }}" style="color: #070;">
            <img src="{{ STATIC_URL }}check.png" alt="" />
            {{ space }}
            Закончить редактирование
        </a>

    </div>

{% endif %}


{% endtrim %}
