<span class="f5sS--total"
    data-bind="visible: !notInitialState()">
    {{ space }}
    Найдено статей:
    {{ space }}
    <strong>{{ number_of_entries }}</strong>
    {{ space }}
</span>

<strong data-bind="visible: notDefaultState
    ">Выбранные фильтры</strong>
<strong data-bind="visible: !notDefaultState() && !notInitialState()
    ">Ни один фильтр не выбран</strong>
<strong data-bind="visible: !notDefaultState() && notInitialState()
    ">Все фильтры сброшены</strong>

{{ space }}
<span class="f5sS--item" data-bind="visible: find">
    {{ space }}
    статьи на
    {{ space }}
    <span class="f5sSI--prefix">
        <span data-bind="text: find"></span>...
    </span>
    <span class="f5sSI--reset"
          data-bind="click: function() { find.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !author.hasDefaultValue()">

    <span data-bind="text: author.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { author.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !status.hasDefaultValue()">

    <span data-bind="text: status.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { status.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !pos.hasDefaultValue()">

    <span data-bind="text: pos.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { pos.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: uninflected">
    неизм.
    <span class="f5sSI--reset"
          data-bind="click: function() { uninflected.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !gender.hasDefaultValue()">

    <span data-bind="text: gender.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { gender.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !tantum.hasDefaultValue()">

    <span data-bind="text: tantum.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { tantum.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !possessive.hasDefaultValue()">

    <span data-bind="text: possessive.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { possessive.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !onym.hasDefaultValue()">

    <span data-bind="text: onym.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { onym.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item"
      data-bind="visible: !canonical_name.hasDefaultValue()">

    <span data-bind="text: canonical_name.obj().name"></span>
    <span class="f5sSI--reset"
          data-bind="click: function() { canonical_name.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: etymology">
    с этимологией
    <span class="f5sSI--reset"
          data-bind="click: function() { etymology.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: variants">
    с вариантами написания
    <span class="f5sSI--reset"
          data-bind="click: function() { variants.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: collocations">
    со словосочетаниями
    <span class="f5sSI--reset"
          data-bind="click: function() { collocations.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: meaningcontexts">
    с контекстами значения
    <span class="f5sSI--reset"
          data-bind="click: function() { meaningcontexts.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: additional_info">
    с примечаниями
    <span class="f5sSI--reset"
          data-bind="click: function() { additional_info.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: homonym">
    омонимы
    <span class="f5sSI--reset"
          data-bind="click: function() { homonym.getDefaultValue(); }"></span>
</span>

{{ space }}
<span class="f5sS--item" data-bind="visible: duplicate">
    дубликаты
    <span class="f5sSI--reset"
          data-bind="click: function() { duplicate.getDefaultValue(); }">
    </span>
</span>

{{ space }}
<span class="button"
      data-bind="visible: showResetAll() && notDefaultState(),
          click: getDefaultState">сбросить все фильтры</span>
