<nav class="tabs">
<ul>
    {% if user.is_admeditor %}
    <!--<li data-href="#admin">Служебная инф.</li>-->
    {% endif %}
    <li data-href="#info" class="current">Справочная инф.</li>
    <li data-href="#orthvars">Варианты</li>
    <li data-href="#structure">Структура</li>
    <!--<li data-href="#examples">Примеры</li>-->
    <!--<li data-href="#constructions">Конструкции</li>-->
    <!--<li data-href="#etym">Этимология</li>-->
    <li></li>
</ul>
</nav>

{% include '_entryEdit_admin.html' %}
{% include '_entryEdit_info.html' %}
{% include '_entryEdit_orthvars.html' %}
{% include '_entryEdit_structure.html' %}
{% include '_entryEdit_examples.html' %}
{% include '_entryEdit_constructions.html' %}
{% include '_entryEdit_etym.html' %}
