<nav class="tabs" data-bind="visible: !Meaning.itemBeingEdited()">
<ul>
    {% if user.is_admeditor %}
    <!--<li data-href="#admin">Служебная инф.</li>-->
    {% endif %}
    <li data-href="#info" class="current">Справочная инф.</li>
    <li data-href="#orthvars">Варианты</li>
    <li data-href="#structure">Структура</li>
    <!--<li data-href="#examples">Примеры</li>-->
    <!--<li data-href="#constructions">Конструкции</li>-->
    <!--<li data-href="#etym">Этимология</li>-->
    <li></li>
</ul>
</nav>

<!-- ko template: { name: ui.currentSection }--><!-- /ko -->

{% include '_template.entryTab.admin.html' %}
{% include '_template.entryTab.info.html' %}
{% include '_template.entryTab.orthvars.html' %}
{% include '_template.entryTab.structure.html' %}
{% include '_template.entryTab.examples.html' %}
{% include '_template.entryTab.constructions.html' %}
{% include '_template.entryTab.etym.html' %}
