{% extends '_entry.html' %}
{% load trim_spaces %}


{% block entry_controls %}

    <div class="edit-controls">

        <div>
            <a href="{% url UI:dictionary_entry_change entry.pk %}">
                <img src="/site-media/pen.png" alt="" />
                {% space %}
                Редактировать информацию о лексеме
            </a>
        </div>

        <div>
            <a href="{% url UI:dictionary_meaning_add %}?entry={{ entry.id }}">
                <img src="/site-media/plus.png" alt="" />
                {% space %}
                Добавить значение
            </a>
        </div>

        <div>
            <a href="{% url UI:dictionary_collocationgroup_add %}?entry={{ entry.id }}">
                <img src="/site-media/plus.png" alt="" />
                {% space %}
                Добавить словосочетание
            </a>
        </div>

    </div>

{% endblock %}


{% block entry_meaning %}
    {% include '_meaning_intermed.html' %}
{% endblock %}

{% block meaning_collogroup %}
    {% include '_collogroup_intermed.html' %}
{% endblock %}

{% block entry_metaph_meaning %}
    {% include '_meaning_intermed.html' %}
{% endblock %}

{% block metaph_meaning_collogroup %}
    {% include '_collogroup_intermed.html' %}
{% endblock %}

{% block entry_collogroup %}
    {% include '_collogroup_intermed.html' %}
{% endblock %}


{% block entry_view_control %}

    <div class="edit-controls" style="margin-bottom: 7em;">

        <a href="{{ entry.get_absolute_url }}" style="color: #070;">
            <img src="/site-media/check.png" alt="" />
            {% space %}
            Закончить редактирование
        </a>

    </div>

{% endblock %}
