<!-- ko if: ui.hierarchy.meaning() || ui.hierarchy.example() -->
<!-- ko with: ui.hierarchy -->

    <li class="breadCrumb" id="firstBreadCrumb" data-bind="visible: meaning">

        <!-- ko with: meaning -->
        <span data-bind="text: order"></span>.{{ space }}
        <span data-bind="visible: metaphorical">►</span>{{ space }}
        <!-- /ko -->
        <span data-bind="if: meaningSlug, text: meaningSlug"></span>
        <span data-bind="ifnot: meaningSlug">&lt;Значение&gt;</span>

        <!-- NOTE: Реализацию разделителей на основе canvas
            см. commit c3f1d323ff0e02ff01a65e3dfe1820b5c370dd73 -->
        <img src="{{ STATIC_URL }}meaningSeparator.png" alt=""
            data-bind="visible: usage() || example()"/>
    </li>
    <li class="breadCrumb" id="secondBreadCrumb" data-bind="visible: usage">

        <!-- ko with: usage -->
        <span data-bind="visible: metaphorical">►</span>{{ space }}
        <span data-bind="visible: substantivus">
            <span class="substantivus">в роли сущ.</span>
            <span data-bind="visible: substantivus_type">
                {{ space }}
                <span class="substantivus"
                    data-bind="text: substantivus_type.label"></span>
            </span>
        </span>{{ space }}
        <!-- /ko -->

        <span data-bind="if: usageSlug, text: usageSlug"></span>
        <span data-bind="ifnot: usageSlug">&lt;Употребление&gt;</span>

        <!-- NOTE: Реализацию разделителей на основе canvas
            см. commit c3f1d323ff0e02ff01a65e3dfe1820b5c370dd73 -->
        <img src="{{ STATIC_URL }}meaningSeparator.png" alt=""
            data-bind="visible: example"/>
    </li>
    <li class="breadCrumb" id="thirdBreadCrumb" data-bind="visible: example">
        <span data-bind="if: exampleSlug">
            <span data-bind="wax: exampleSlug"></span>…
        </span>
        <span data-bind="ifnot: exampleSlug">&lt;Иллюстрация&gt;</span>
    </li>

    <li id="breadCrumbShadow" class="breadCrumb"></li>

<!-- /ko -->
<!-- /ko -->
