<section id="structure" class="tabcontent" data-bind="with: data.entry">

    <ul class="meanings" data-bind="sortable: { data: meanings,
                                                connectClass: 'meanings' }">
        <li>
            <a type="image" class="deleteItem"
                data-bind="click: $parent.meanings.itemDestroyer($data).do"></a>
            <a type="image" class="editItem" data-bind="click: edit"></a>
            <a type="image" class="expandItem" data-bind="click: toggle,
                css: { expanded: isExpanded }"></a>

            <span data-bind="text: order"></span>
            <span data-bind="visible: metaphorical">►</span>
            <span data-bind="text: meaning"></span>
            <i data-bind="text: gloss"></i>

            <ul class="examples" data-bind="sortable: { data: examples,
                                                connectClass: 'examples' },
                                            visible: isExpanded">
                <li>
                    <span data-bind="wax: example"></span>{{ space }}
                    (<span data-bind="text: address_text"></span>)
                </li>
            </ul>

            <ul class="meanings" data-bind="sortable: { data: meanings,
                                                connectClass: 'meanings' },
                                            visible: isExpanded">
                <li>
                    <a type="image" class="deleteItem"
                        data-bind="click:
                            $parent.meanings.itemDestroyer($data).do"></a>
                    <a type="image" class="editItem"
                        data-bind="click: edit"></a>
                    <a type="image" class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>

                    <span data-bind="text: order"></span>
                    <span data-bind="visible: metaphorical">►</span>
                    <span data-bind="text: meaning"></span>
                    <i data-bind="text: gloss"></i>

                    <ul class="examples" data-bind="sortable:
                            { data: examples, connectClass: 'examples' },
                        visible: isExpanded">
                        <li>
                            <span data-bind="wax: example"></span>{{ space }}
                            (<span data-bind="text: address_text"></span>)
                        </li>
                    </ul>

                </li>

            </ul>

            <ul class="collogroups"
                data-bind="sortable: collogroups, visible: isExpanded">
                <li>
                    <a type="image" class="deleteItem"
                        data-bind="click:
                            $parent.collogroups.itemDestroyer($data).do"></a>
                    <a type="image" class="editItem"
                        data-bind="click: edit"></a>
                    <a type="image" class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>

                    <span data-bind="text: order"></span>
                    <span data-bind="foreach: collocations">
                        {{ backspace }}
                        <span data-bind="if: $index">,</span>
                        {{ space }}
                        <span class="cslav" data-bind="wax: collocation"></span>
                    </span>

                    <ul class="meanings" data-bind="sortable:
                                  { data: meanings, connectClass: 'meanings' },
                        visible: isExpanded">
                        <li>
                            <a type="image" class="deleteItem"
                                data-bind="click:
                                $parent.meanings.itemDestroyer($data).do"></a>
                            <a type="image" class="editItem"
                                data-bind="click: edit"></a>
                            <a type="image" class="expandItem"
                                data-bind="click: toggle,
                                css: { expanded: isExpanded }"></a>

                            <span data-bind="text: order"></span>
                            <span data-bind="visible: metaphorical">►</span>
                            <span data-bind="text: meaning"></span>
                            <i data-bind="text: gloss"></i>

                            <ul class="examples" data-bind="sortable:
                                { data: examples, connectClass: 'examples' },
                                visible: isExpanded">
                                <li>
                                    <span data-bind="wax: example"></span>{{ space }}
                                    (<span data-bind="text: address_text"></span>)
                                </li>
                            </ul>

                        </li>
                    </ul>

                </li>
            </ul>

        </li>
    </ul>

    <input type="button" value="Добавить значение"
        data-bind="click: meanings.itemAdder($root.data.entry).do">

</section>
