<section id="info" class="tabcontent current">

    <select data-bind="options: ui.choices.part_of_speech,
        value: data.entry.part_of_speech, optionsText: 'name',
        optionsValue: 'id'">
    </select>

    <br/><br/>
    <div data-bind="visible:
        data.entry.part_of_speech() === ui.slugs.part_of_speech['noun'] ||
        data.entry.part_of_speech() === ui.slugs.part_of_speech['adjective']">
        <label>
            Неизменяемое
            <input type="checkbox"
                   data-bind="checked: data.entry.uninflected"/>
        </label>
    </div>

    <br/><br/>
    <div data-bind="visible:
        data.entry.part_of_speech() === ui.slugs.part_of_speech['noun']">

        <label>
            Форма Р. падежа
            <input type="text" data-bind="value: data.entry.genitive"/>
        </label>

    <br/><br/>
        <label>
            Род
            <select data-bind="options: ui.choices.gender,
                value: data.entry.gender, optionsText: 'name',
                optionsValue: 'id'">
            </select>
        </label>

        <label>
            Число
            <select data-bind="options: ui.choices.tantum,
                value: data.entry.tantum, optionsText: 'name',
                optionsValue: 'id'">
            </select>
        </label>

    <br/><br/>
        <label>
            Тип имени собственного
            <select data-bind="options: ui.choices.onym,
                value: data.entry.onym, optionsText: 'name',
                optionsValue: 'id'">
            </select>
        </label>

        <label data-bind="visible:
            data.entry.onym() == ui.slugs.onym['anthroponym']">
            Каноническое
            <input type="checkbox"
                   data-bind="checked: data.entry.canonical_name"/>
        </label>

        <div data-bind="visible:
            data.entry.onym() == ui.slugs.onym['ethnonym']">

            <label>
                И.ед.м.
                <input type="text" data-bind="value: data.entry.nom_sg,
                                        valueUpdate: 'afterkeydown'"/>
            </label>

            <span data-bind="wax: data.entry.nom_sg"></span>

        </div>

    </div>

    <div data-bind="visible:
                        data.entry.part_of_speech() ===
                        ui.slugs.part_of_speech['adjective']">

        <label>
            Краткая форма
            <input type="text" data-bind="value: data.entry.short_form,
                                          valueUpdate: 'afterkeydown'"/>
        </label>

        <span data-bind="wax: data.entry.short_form"></span>

        Притяжательное
        <input type="checkbox"
               data-bind="checked: data.entry.possessive"/>

    </div>

    <div data-bind="visible:
        data.entry.part_of_speech() === ui.slugs.part_of_speech['verb']">

        <label>
            Форма 1ед.
            <input type="text" data-bind="value: data.entry.sg1,
                                          valueUpdate: 'afterkeydown'"/>
        </label>

        <span data-bind="wax: data.entry.sg1"></span>

    <br/><br/>
        <label>
            Форма 2ед.
            <input type="text" data-bind="value: data.entry.sg2,
                                          valueUpdate: 'afterkeydown'"/>
        </label>

        <span data-bind="wax: data.entry.sg2"></span>

    <br/><br/>
        <ul data-bind="sortable: data.entry.participles">
            <li>

                <input type="button" value="&times;"
                    data-bind="click:
                        $root.ui.destroyParticiple.bind(null, $data)"/>

                <label>
                    Тип причастия
                    <select data-bind="
                        options: $root.ui.choices.participle_type,
                        value: tp, optionsText: 'name',
                        optionsValue: 'id'">
                    </select>
                </label>

                <input type="text"
                    data-bind="value: idem, valueUpdate: 'afterkeydown'"/>

                <span data-bind="wax: idem"></span>

            </li>
        </ul>

        <input type="button" value="Добавить причастие"
            data-bind="click: ui.addParticiple"/>

    </div>

</section>
