<section id="structure" class="tabcontent">

    <ul class="meanings" data-bind="sortable: { data: ui.entry.meanings,
                                                connectClass: 'meanings' }">
        <li>
            <span data-bind="text: order"></span>
            <span data-bind="visible: metaphorical">►</span>
            <span data-bind="text: meaning"></span>
            <i data-bind="text: gloss"></i>

            <ul class="examples" data-bind="sortable: { data: examples,
                                                connectClass: 'examples' }">
                <li>
                    <span data-bind="wax: example"></span>{{ space }}
                    (<span data-bind="text: address_text"></span>)
                </li>
            </ul>

            <ul class="meanings" data-bind="sortable: { data: childMeanings,
                                                connectClass: 'meanings' }">
                <li>
                    <span data-bind="text: order"></span>
                    <span data-bind="visible: metaphorical">►</span>
                    <span data-bind="text: meaning"></span>
                    <i data-bind="text: gloss"></i>

                    <ul class="examples" data-bind="sortable:
                            { data: examples, connectClass: 'examples' }">
                        <li>
                            <span data-bind="wax: example"></span>{{ space }}
                            (<span data-bind="text: address_text"></span>)
                        </li>
                    </ul>

                </li>

            </ul>

            <ul data-bind="sortable: collogroups">
                <li>
                    <span data-bind="text: order"></span>
                    <span data-bind="foreach: collocations">
                        {{ backspace }}
                        <span data-bind="if: $index">,</span>
                        {{ space }}
                        <span class="cslav" data-bind="wax: collocation"></span>
                    </span>

                    <ul class="meanings" data-bind="sortable:
                                  { data: meanings, connectClass: 'meanings' }">
                        <li>
                            <span data-bind="text: order"></span>
                            <span data-bind="visible: metaphorical">►</span>
                            <span data-bind="text: meaning"></span>
                            <i data-bind="text: gloss"></i>

                            <ul class="examples" data-bind="sortable:
                                { data: examples, connectClass: 'examples' }">
                                <li>
                                    <span data-bind="wax: example"></span>{{ space }}
                                    (<span data-bind="text: address_text"></span>)
                                </li>
                            </ul>

                        </li>
                    </ul>

                </li>
            </ul>

        </li>
    </ul>

</section>
