<nav class="breadCrumbs" data-bind="visible: ui.hierarchy.meaning() ||
    ui.hierarchy.example(), with: ui.hierarchy">
<ul>
    <li id="firstBreadCrumb" data-bind="visible: meaning">

        <!-- ko with: meaning -->
        <span data-bind="text: order"></span>.{{ space }}
        <span data-bind="visible: metaphorical">►</span>{{ space }}
        <!-- /ko -->
        <span data-bind="text: meaningSlug"></span>

        <img src="{{ STATIC_URL }}meaningSeparator.png" alt=""
            data-bind="visible: usage() || example()"/>
    </li>
    <li id="secondBreadCrumb" data-bind="visible: usage">

        <!-- ko with: usage -->
        <span data-bind="visible: metaphorical">►</span>{{ space }}
        <span data-bind="visible: substantivus">
            <span class="substantivus">в роли сущ.</span>
            <span data-bind="visible: substantivus_type">
                {{ space }}
                <span class="substantivus"
                    data-bind="text: substantivus_type.label"></span>
            </span>
        </span>{{ space }}
        <!-- /ko -->

        <span data-bind="text: usageSlug"></span>

        <img src="{{ STATIC_URL }}meaningSeparator.png" alt=""
            data-bind="visible: example"/>
    </li>
    <li id="thirdBreadCrumb" data-bind="visible: example">
        <span data-bind="wax: exampleSlug"></span>…
    </li>
    <li></li>
</ul>
</nav>
