{% macro etymology(etym, isLanguageChanged, loop) %}


{% if isLanguageChanged %}
    {% if not loop.first %}
        {{ backspace }};{{ space }}
    {% endif %}

    <i>{{ etym.language.tag }}</i>&nbsp;
{% else %}
    {% if not loop.first %}
        {{ backspace }},{{ space }}
    {% endif %}
{% endif %}

{% if etym.language.slug == 'greek'
    and etym.unitext
    and not etym.corrupted %}
        <span>{{ etym.unitext }}</span>
        {{ space }}
{% else %}
    {% if etym.text %}
        <span class="{{ etym.language.css_class }}
        {% if etym.corrupted %} cinnabar{% endif %}">{{ etym.text }}</span>
        {{ space }}
    {% endif %}
{% endif %}

{% if etym.translit %}
    {% if etym.text or etym.unitext %}
        {{ space }}[
        <span class="{{ etym.language.css_class2 }}">{{ etym.translit }}</span>
        ]{{ space }}
    {% else %}
        <span class="{{ etym.language.css_class2 }}">{{ etym.translit }}</span>
        {{ space }}
    {% endif %}
{% endif %}

{% if etym.mark %}
    (<i>{{ etym.mark }}</i>){{ space }}
{% endif %}

{% if etym.meaning %}
    <span>‘{{ etym.meaning }}’</span>
    {{ space }}
{% endif %}

{% if etym.gloss %}
    <i>{{ etym.gloss }}</i>
    {{ space }}
{% endif %}

{% if etym.source %}
    <span>[{{ etym.source }}]</span>
    {{ space }}
{% endif %}

{% if etym.unclear %}
    {% if etym.gloss %}
        {{ backspace }},{{ space }}
    {% endif %}
    <i>этимол. неясна</i>
{% else %}
    {% if etym.etymons %}
        {% if etym.etymons.0.questionable %}
            <span>этимол. спорна:</span>
            {{ space }}
        {% else %}
            <span>от</span>
            {{ space }}
        {% endif %}

        {% for etym2 in etym.etymons %}

            {% if not loop.first %}
                {{ backspace }};{{ space }}
            {% endif %}

            {% if etym.etymons|length > 1 %}
                <span>{{ loop.index }})</span>&nbsp;
            {% endif %}

            <i>{{ etym2.language.tag }}</i>&nbsp;

            {% if etym2.language.slug == 'greek'
                and etym2.unitext
                and not etym2.corrupted %}
                    <span>{{ etym2.unitext }}</span>
                    {{ space }}
            {% else %}
                {% if etym2.text %}
                    <span class="{{ etym2.language.css_class }}
                    {% if etym2.corrupted %} cinnabar{% endif %}">{{ etym2.text }}</span>
                    {{ space }}
                {% endif %}
            {% endif %}

            {% if etym2.translit %}
                {% if etym2.text or etym2.unitext %}
                    {{ space }}[
                    <span class="{{ etym2.language.css_class2 }}">{{ etym2.translit }}</span>
                    ]{{ space }}
                {% else %}
                    <span class="{{ etym2.language.css_class2 }}">{{ etym2.translit }}</span>
                    {{ space }}
                {% endif %}
            {% endif %}

            {% if etym2.mark %}
                (<i>{{ etym2.mark }}</i>){{ space }}
            {% endif %}

            {% if etym2.meaning %}
                <span>‘{{ etym2.meaning }}’</span>
                {{ space }}
            {% endif %}

            {% if etym2.gloss %}
                <i>{{ etym2.gloss }}</i>
                {{ space }}
            {% endif %}

            {% if etym2.source %}
                <span>[{{ etym2.source }}]</span>
                {{ space }}
            {% endif %}

            {% if show_additional_info and etym2.additional_info %}
                <span class="ai ai-etym">{{ etym2.additional_info }}</span>
            {% endif %}

        {% endfor %}
    {% endif %}
{% endif %}

{% if show_additional_info and etym.additional_info %}
    <span class="ai ai-etym">{{ etym.additional_info }}</span>
{% endif %}

{% endmacro %}
