<span class="cslav">{{ e.example_ucs }}</span>
{% if e.greek_equivs %}
    &mdash;
    {% for ge in e.greek_equivs %}
        <span class="grec">{{ ge.text }}</span
        >{%if ge.mark %} <i>{{ ge.mark }}</i>{% endif %}{% if not forloop.last %},{% endif %}
    {% endfor %}
{% endif %}

{% if e.address_text %}
    ({{ e.address_text }}{% if show_additional_info and e.additional_info %}
    <span class="ai ai-example">{{ e.additional_info }}</span>{% endif %})
{% else %}
    {% if show_additional_info %}
        (<span class="noaddress">Нет адреса!</span>{% if show_additional_info and e.additional_info %}
    <span class="ai ai-example">{{ e.additional_info }}</span>{% endif %})
    {% endif %}
{% endif %}
