<span class="entry-example">{{ e.example_ucs|cslav_words }}</span>
{{ space }}


{% if e.greek_equivs %}

    {% set DASH = cycler('&nbsp;&mdash;', '', '', '') %}
    {% set COMMA = joiner(',') %}
    {% for ge in e.greek_equivs %}

        {% set ADDITIONAL_INFO = show_additional_info and ge.additional_info %}
        {% if ge.unitext or ADDITIONAL_INFO %}
            {{ backspace }}{{ DASH.next() }}{{ space }}
            {{ backspace }}{{ COMMA() }}{{ space }}
        {% endif %}

        <span class="unigrec{% if ge.corrupted %} cinnabar{% endif %}">{{ ge.unitext }}</span>
        {{ space }}

        {% for x in (ge.mark, ge.source, ge.note)|reject('equalto', '') %}

            {% if loop.first %}
                <span>[</span>
            {% else %}
                {{ backspace }},{{ space }}
            {% endif %}

            <i>{{ x }}</i>
            {{ space }}

            {% if loop.last %}
                {{ backspace }}<span>]</span>{{ space }}
            {% endif %}

        {% endfor %}

        {% if ADDITIONAL_INFO %}
            <span class="ai ai-grfex">{{ ge.additional_info }}</span>
        {% endif %}


    {% endfor %}

{% endif %}


{% if e.address_text %}
    ({{ e.address_text }}
    {% if show_additional_info and e.additional_info %}
        {{ space }}<span class="ai ai-example">{{ e.additional_info }}</span>
    {% endif %}
    {{ backspace }}){{ space }}
{% else %}
    {% if show_additional_info %}
        (
        <span class="noaddress">Нет адреса!</span>
        {% if show_additional_info and e.additional_info %}
            <span class="ai ai-example">{{ e.additional_info }}</span>
        {% endif %}
        ){{ space }}
    {% endif %}
{% endif %}


{% if e.note %}
    <i>{{ e.note|cslav_injection }}</i>
{% endif %}


{% if intermed %}

    <span class="edit-controls">
        <a href="{% url 'UI:dictionary_example_change' e.id %}">
            <img src="{{ STATIC_URL }}pen.png" alt="" />
        </a>
    </span>

{% endif %}

{# vim:ft=django.html:
#}
