{% macro example(e, changedHost, loopPos) %}

{% if changedHost %}
  <div class="exampleHeader">
      {% set host = e.host %}
      {% set host_entry = e.host_entry %}
      {% if host.orth_vars %}
          <a href="{{ host.get_absolute_url() }}#{{ e.meaning.get_url_fragment() }}"
                target="_blank">
              <span class="Headword">{{ host.orth_vars.0.idem_ucs }}</span>
          </a>{{ space }}
          <i>{{ host.get_part_of_speech_display() }}</i>{{ space }}
      {% else %}
          <span class="Headword" style="color: #aaa;">
              {{ host_entry.orth_vars.0.idem_ucs }}
          </span>{{ space }}
          <i>{{ host_entry.get_part_of_speech_display() }}</i>
          {{ space }}|{{ space }}

          {% for c in host.collocations %}
              <a href="{{ host_entry.get_absolute_url() }}#{{ e.meaning.get_url_fragment() }}"
                    target="_blank">
                  <span class="CSLSegmentEm">{{ c.collocation_ucs }}</span>
              </a>
              {% if not loop.last %},{% endif %}{{ space }}
          {% endfor %}
      {% endif %}
      {% if e.meaning.meaning %}
          ‘{{ e.meaning.meaning|cslav_injection }}’
          {{ space }}
      {% endif %}
      {% if e.meaning.gloss %}
          {% if e.meaning.meaning %}
              ({{ e.meaning.gloss|cslav_injection }})
          {% else %}
              {{ e.meaning.gloss|cslav_injection }}
          {% endif %}
      {% endif %}
  </div>
{% endif %}

<div class="example" data-bind="with: examples[{{ loopPos }}]">

    <span class="example--id">[<span data-bind="text: id"></span>]</span>

    <span class="example--address Address" data-bind="
        contenteditable: address,
        event: { change: $data.saveMe }
        "></span>

    {{ space }}
    <span data-bind="visible: comment() || commentEditable()">
        <span class="example--comment" data-bind="
            text: comment, visible: !commentEditable(), click: toggleComment"></span>
        <input class="example--comment" data-bind="
            textInput: comment, visibleActive: commentEditable(),
            event: {
                change: function() { $data.toggleComment(); $data.saveMe(); },
                blur: toggleComment
            }" />
    </span>
    {{ space }}

    <span class="button" data-bind="visible: !address(), click: function () {
            address('…');
        }">
        Указать адрес примера
    </span>
    {{ space }}

    <span class="button" data-bind="visible:
                !comment() && !commentEditable() && !exampleEditable(),
                click: toggleComment">Добавить примечание к примеру</span>
    <br />

    <span data-bind="visible: !exampleEditable()">
        <span data-bind="visible: !antconcVisible()">
            <span class="CSLSegment context" data-bind="text: leftContext"></span>
            <span class="CSLSegment" data-bind="text: text"></span>{{ space }}
            <span class="CSLSegment context" data-bind="text: leftContext"></span>
        </span>

        <span class="antconsol"
            data-bind="visible: antconcVisible(), text: antconc"></span>

        <span class="greqList" data-bind="visible: greqs().length && !antconcVisible()">
            {{ space }}
            <!-- ko foreach: greqs -->
                <span class="Greek" data-bind="text: unitext"></span>
                <span data-bind="text: note, visible: note()"
                    class="greqNote"></span>
                <span data-bind="text: additional_info,
                                 visible: additional_info()"
                    class="greqComment"></span>
                <span class="greqList--comma">,</span>{{ space }}
            <!-- /ko -->
        </span>{{ space }}

        <span class="button antconcButton" data-bind="click: toggleAntconc,
                visible: !exampleEditable()">
            <span data-bind="visible: antconcVisible()">ЦСЛ</span>
            <span data-bind="visible: !antconcVisible()">АнтКонк</span>
        </span>{{ space }}
    </span>

    <div class="antconsol" style="color: #a00" data-bind="
        visibleFocus: exampleEditable(), contenteditable: example"></div>

    <span class="button antconcButton"
        data-bind="visible: !exampleEditable(),
                   click: editExample">Редактировать</span>
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable(),
                   click: saveExample">Сохранить</span>
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable(), click: cancelExample">
        Отмена
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable() && howManyBackups() > 0,
            click: revertExample">
        Вернуть предыдущий вариант
        (<span data-bind="text: howManyBackups"></span>)
    </span>{{ space }}

    <span class="orthoTick">
        <label>Выверена ли орфография
            <input type="checkbox" data-bind="checked: audited,
                                              event: {change: saveExample}" />
        </label>
    </span>{{ space }}

    <ul data-bind="foreach: greqs">
        <li class="greqForExample">

            <span class="greqFieldContainer c1">
                <label>греч. параллель</label>
                <input type="text" data-bind="
                    textInput: unitext,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .unitext }}" />
            </span>

            <span class="greqFieldContainer c2" data-bind="visible: unitext">
                <label>начальная форма лексемы</label>
                <input type="text" data-bind="
                    textInput: initial_form,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .initial_form }}" />
            </span>

            <span class="greqFieldContainer" data-bind="visible: unitext">
                <label>начальная форма фразеологизма</label>
                <input type="text" data-bind="
                    textInput: initial_form_phraseology,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .initial_form_phraseology }}" />
            </span>

            <br/>

            <span class="greqFieldContainer checkbox">
                <input type="checkbox" data-bind="
                    checked: aliud,
                    event: { change: saveMe },
                    attr: { id: 'greq' + id() }" />
                <label data-bind="attr: { for: 'greq' + id() }"
                    >в греч. иначе</label>
            </span>

            <span class="greqFieldContainer" data-bind="visible: unitext">
                <label>комментарий в словаре</label>
                <input type="text" data-bind="
                    textInput: note,
                    event: { change: saveMe }" />
            </span>

            <span class="greqFieldContainer" data-bind="visible: unitext">
                <label>примечание для авторов</label>
                <input type="text" data-bind="
                    textInput: additional_info,
                    event: { change: saveMe }" />
            </span>

            <span class="button greqFieldButton onSide"
                data-bind="click: removeMe">&#x2716;</span>

            <span class="greqFieldAjaxLoader"
                data-bind="visible: beingSaved()"></span>
        </li>
    </ul>

    <div class="button addGreqButton"
        data-bind="click: addGreq">
        &#x271a; Добавить греч. параллель
    </div>

    <div class="greqStatus greqFieldContainer">
        <label class="example--formLabel">Статус:</label>
        <select data-bind="value: status, event: { change: saveMe }">
            {% for option in statusList %}
            <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <span class="exFieldAjaxLoader" data-bind="visible: beingSaved()"></span>

</div>
{% endmacro %}
{# vi:set ft=django.html: #}
