{% macro entry(entry) %}

<div class="exampleHeader" id="e{{ entry.id }}">
    <a href="{{ entry.get_absolute_url() }}" target="_blank">
        <span class="Headword">{{ entry.orth_vars.0.idem_ucs }}</span>
        {% if entry.homonym_order %}
            <span class="HeadwordHomonymNumber">
                {{ entry.homonym_order }}
            </span>
        {% endif %}
    </a>
    {{ space }}
    <span class="Em">{{ entry.get_part_of_speech_display() }}</span>{{ space }}
    {% if entry.homonym_gloss %}
        <span class="Text">‘{{ entry.homonym_gloss }}’</span>
    {% endif %}
    {{ space }}
    <span class="etymList greqList"
        data-bind="visible: etymsForEntries[{{ entry.id }}]().length">
        <!-- ko foreach: etymsForEntries[{{ entry.id }}] -->
            <span class="Greek" data-bind="text: unitext"></span>
            <span data-bind="text: additional_info,
                             visible: additional_info()"
                class="greqComment"></span>
            <span class="greqList--comma">,</span>
            {{ space }}
        <!-- /ko -->
    </span>{{ space }}
    <ul data-bind="foreach: etymsForEntries[{{ entry.id }}]()">
        <li class="greqForExample" style="margin-left: 0.9em;">

            <span class="greqFieldContainer">
                <label style="left: 0">греч. параллель</label>
                <input type="text" data-bind="
                    textInput: unitext,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS.Etymology.unitext }}" />
            </span>

            <span class="greqFieldContainer">
                <label style="left: 0">значение</label>
                <input type="text" data-bind="
                    textInput: meaning,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS.Etymology.meaning }}" />
            </span>

            <span class="greqFieldContainer">
                <label style="left: 0">примечание для авторов</label>
                <input type="text" data-bind="
                    textInput: additional_info,
                    event: { change: saveMe }" />
            </span>

            <span class="button greqFieldButton"
                data-bind="click: removeMe">&#x2716;</span>

            <span class="greqFieldAjaxLoader"
                data-bind="visible: beingSaved()"></span>
        </li>
    </ul>

    <div class="button addGreqButton" style="margin-bottom: 3em;"
        data-bind="click: function () { addEtymology({{ entry.id }}); }">
        &#x271a; Добавить греч. параллель
    </div>
</div>

{% endmacro %}
{# vi:set ft=django.html: #}
