{% macro example(e, entryID, loop, parentloop) %}

<div class="example" style="margin-left: -2.8em;"
    data-bind="with: examplesForEntries[{{ entryID }}]
                                       [{{ parentloop.index0 }}]
                                       [{{ loop.index0 }}]">

    <div class="antconsol" style="color: #a00" data-bind="
        visibleFocus: exampleEditable, contenteditable: example"></div>

    <span data-bind="visible: !exampleEditable()">
        <span data-bind="visible: !antconcVisible()">
            <span class="CSLSegment context" data-bind="text: leftContext"></span>
            <span class="CSLSegment" data-bind="text: text"></span>{{ space }}
            <span class="CSLSegment context" data-bind="text: leftContext"></span>
        </span>

        <span class="antconsol"
            data-bind="visible: antconcVisible(), text: antconc"></span>

        <span class="greqList" data-bind="visible: greqs().length && !antconcVisible()">
            {{ space }}
            <!-- ko foreach: greqs -->
                <span class="Greek" data-bind="text: unitext"></span>
                <span data-bind="text: note, visible: note()"
                    class="greqNote"></span>
                <span data-bind="text: additional_info,
                                 visible: additional_info()"
                    class="greqComment"></span>
                <span class="greqList--comma">,</span>{{ space }}
            <!-- /ko -->
        </span>{{ space }}

    </span>

    <span class="example--address Address" data-bind="
        contenteditable: address,
        event: { change: $data.saveMe }
        "></span>{{ space }}

    <span data-bind="visible: comment() || commentEditable()">
        <span class="example--comment" data-bind="
            text: comment, visible: !commentEditable(), click: toggleComment"></span>
        <input class="example--comment" data-bind="
            textInput: comment, visibleActive: commentEditable(),
            event: {
                change: function() { $data.toggleComment(); $data.saveMe(); },
                blur: toggleComment
            }" />
    </span>{{ space }}
    <br />

    <span class="button" data-bind="visible:
            !comment() && !commentEditable() && !exampleEditable(),
            click: toggleComment">
        Добавить примечание к примеру
    </span>{{ space }}

    <span class="button antconcButton"
          data-bind="click: toggleAntconc, visible: !exampleEditable()">
        <span data-bind="visible: antconcVisible()">ЦСЛ</span>
        <span data-bind="visible: !antconcVisible()">АнтКонк</span>
    </span>{{ space }}


    <span class="button antconcButton"
        data-bind="visible: !exampleEditable(), click: editExample">
        Редактировать пример
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable(), click: saveExample">
        Сохранить
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable(), click: cancelExample">
        Отмена
    </span>{{ space }}

    <span class="button antconcButton dark"
        data-bind="visible: exampleEditable() && howManyBackups() > 0,
            click: revertExample">
        Вернуть предыдущий вариант
        (<span data-bind="text: howManyBackups"></span>)
    </span>{{ space }}

    <span class="orthoTick">
        <label>Выверена ли орфография
            <input type="checkbox" data-bind="checked: audited,
                                              event: {change: saveExample}" />
        </label>
    </span>{{ space }}

    <ul data-bind="foreach: greqs" style="margin-top: 1em">
        <li class="greqForExample">

            <span class="greqFieldContainer c1">
                <label>греч. параллель</label>
                <input type="text" data-bind="
                    textInput: unitext,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .unitext }}" />
            </span>

            <span class="greqFieldContainer c2">
                <label>начальная форма лексемы</label>
                <input type="text" data-bind="
                    textInput: initial_form,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .initial_form }}" />
            </span>

            <span class="greqFieldContainer">
                <label>начальная форма фразеологизма</label>
                <input type="text" data-bind="
                    textInput: initial_form_phraseology,
                    event: { change: saveMe }"
                    maxlength="{{ MAX_LENGTHS
                        .GreekEquivalentForExample
                        .initial_form_phraseology }}" />
            </span>

            <br/>

            <span class="greqFieldContainer checkbox">
                <input type="checkbox" data-bind="
                    checked: aliud,
                    event: { change: saveMe },
                    attr: { id: 'greq' + id() }" />
                <label data-bind="attr: { for: 'greq' + id() }"
                    >в греч. иначе</label>
            </span>

            <span class="greqFieldContainer">
                <label>комментарий в словаре</label>
                <input type="text" data-bind="
                    textInput: note,
                    event: { change: saveMe }" />
            </span>

            <span class="greqFieldContainer">
                <label>примечание для авторов</label>
                <input type="text" data-bind="
                    textInput: additional_info,
                    event: { change: saveMe }" />
            </span>

            <span class="button greqFieldButton onSide"
                data-bind="click: removeMe">&#x2716;</span>

            <span class="greqFieldAjaxLoader"
                data-bind="visible: beingSaved()"></span>
        </li>
    </ul>

    <div class="button addGreqButton"
        data-bind="click: addGreq">
        &#x271a; Добавить греч. параллель
    </div>

    <div class="greqStatus greqFieldContainer">
        <label class="example--formLabel">Статус:</label>
        <select data-bind="value: status, event: { change: saveMe }">
            {% for option in statusList %}
            <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <span class="exFieldAjaxLoader" data-bind="visible: beingSaved()"></span>

</div>
{% endmacro %}
{# vi:set ft=django.html: #}
