{% extends '_meaning.html' %}
{% load trim_spaces %}

{% block meaning_controls %}

    <div class="edit-controls">

        <div>
            <a href="{% url UI:dictionary_meaning_change m.pk %}">
                <img src="/site-media/pen.png" alt="" />
                {% space %}
                Редактировать значение
            </a>
        </div>

        <div>
            <a href="{% url UI:dictionary_example_add %}?meaning={{ m.id }}">
                <img src="/site-media/plus.png" alt="" />
                {% space %}
                Добавить пример
            </a>
        </div>

    </div>

{% endblock %}


{% block meaning_example %}
    {% include '_example_intermed.html' %}
{% endblock %}


