{% if not m.metaphorical and m.parent_meaning %}
    <span class="exgroup">||</span>
    {{ space }}
{% endif %}

{% if m.contexts %}
    {% for mc in m.contexts %}

        {% if loop.first %}
            <span style="color: #070;">
            [
        {% endif %}

        {% if mc.left_text %}
            <i>{{ mc.left_text }}</i>
            {{ space }}
        {% endif %}

        {% if mc.context %}
            <span class="cslav">{{ mc.context_ucs }}</span>
            {{ space }}
        {% endif %}

        {% if mc.right_text %}
            <i>{{ mc.right_text }}</i>
        {% endif %}

        {% if not loop.last %}
            {{ backspace }},{{ space }}
        {% else %}
            {{ backspace }}]</span>{{ space }}
        {% endif %}

    {% endfor %}
{% endif %}

{% if m.substantivus %}
    <i>в&nbsp;роли сущ.</i>
    {{ space }}
    {% if m.substantivus_type %}
        {{ space }}({{ m.get_substantivus_type_display() }}){{ space }}
    {% endif %}
{% endif %}

{% if m.link_to_entry or m.link_to_collogroup or m.link_to_meaning %}
    <i>см.</i>
    {{ space }}

    {% if m.link_to_meaning %}

        {% if m.link_to_meaning.entry_container %}
            <a href="{{ m.link_to_meaning.entry_container.get_absolute_url() }}">
                <span class="cslav">
                    {{ m.link_to_meaning.entry_container.orth_vars.0.idem_ucs }}
                </span>
                {% if m.link_to_meaning.entry_container.homonym_order %}
                    <sup class="homonym-number">{{ m.link_to_meaning.entry_container.homonym_order }}</sup>
                {% endif %}
            </a>
            {{ space }}
        {% endif %}

        {% if m.link_to_meaning.collogroup_container %}
            <span class="cslav">
                {{ m.link_to_meaning.collogroup_container.collocations.0.collocation_ucs }}
            </span>
            {{ space }}
        {% endif %}

    {% endif %}

    {% if m.link_to_entry %}
        <a href="{{ m.link_to_entry.get_absolute_url() }}">
            <span class="cslav">
                {{ m.link_to_entry.orth_vars.0.idem_ucs }}
            </span>
            {% if m.link_to_entry.homonym_order %}
                <sup class="homonym-number">{{ m.link_to_entry.homonym_order }}</sup>
            {% endif %}
        </a>
        {{ space }}
    {% endif %}

    {% if m.link_to_collogroup %}
        <span class="cslav">{{ m.link_to_collogroup.collocations.0.collocation_ucs }}</span>
        {{ space }}
    {% endif %}

    {% if m.meaning or m.gloss %}
        {{ backspace }};{{ space }}
    {% endif %}
{% endif %}


{% if m.meaning %}
    <span>{{ m.meaning|capfirst }}</span>
{% endif %}

{% if m.greek_equivs %}

    {% if m.meaning %}
        {{ backspace }},{{ space }}
    {% endif %}

    <i>греч.</i>&nbsp;

    {% for ge in m.greek_equivs %}

        <span class="unigrec {% if ge.corrupted %}cinnabar{% endif %}">
            {{ ge.unitext }}
        </span>
        {{ space }}

        {% if ge.mark %}
            (<i>{{ ge.mark }}</i>)
            {{ space }}
        {% endif %}

        {% if not loop.last %}
            {% if show_additional_info and ge.additional_info %}
                {{ space }}
                <span class="ai ai-grfmnng">{{ ge.additional_info }}</span>
            {% endif %}
            {{ backspace }},{{ space }}
        {% endif %}

    {% endfor %}
{% endif %}

{% if m.gloss %}
    {% if m.meaning or m.greek_equivs %}
        {{ backspace }};{{ space }}
    {% endif %}
    <i>{{ m.gloss }}</i>
    {{ space }}
{% endif %}


{% if m.cfentries or m.cfcollogroups or m.cfmeanings %}
    {% if m.meaning or m.gloss %}
        {{ backspace }},{{ space }}
    {% endif %}

    <i>ср.&nbsp;</i>

    {% set comma = joiner('{{ backspace }},{{ space }}') %}
    {% for cfm in m.cfmeanings %}
        {{ comma() }}
        {% if cfm.entry_container %}
            <a href="{{ cfm.entry_container.get_absolute_url() }}">
                <span class="cslav">
                    {{ cfm.entry_container.orth_vars.0.idem_ucs }}
                </span>
                {% if cfm.entry_container.homonym_order %}
                    <sup class="homonym-number">{{ cfm.entry_container.homonym_order }}</sup>
                {% endif %}
            </a>
        {% endif %}
        {% if cfm.collogroup_container %}
            <span class="cslav">
                {{ cfm.collogroup_container.collocations.0.collocation_ucs }}
            </span>
        {% endif %}
    {% endfor %}

    {% for cfe in m.cfentries %}
        {{ comma() }}
        <a href="{{ cfe.get_absolute_url() }}">
            <span class="cslav">
                {{ cfe.orth_vars.0.idem_ucs }}
            </span>
            {% if cfe.homonym_order %}
                <sup class="homonym-number">{{ cfe.homonym_order }}</sup>
            {% endif %}
        </a>
    {% endfor %}

    {% for cfcg in m.cfcollogroups %}
        {{ comma() }}
        <span class="cslav">
            {{ cfcg.collocations.0.collocation_ucs }}
        </span>
    {% endfor %}

{% endif %}


{% if show_additional_info and m.additional_info %}
    {{ space }}
    <span class="ai ai-meaning">{{ m.additional_info }}</span>
{% endif %}

{% if m.meaning or m.gloss or m.greek_equivs or m.link_to_entry
   or m.link_to_collogroup or m.link_to_meaning or m.cfentries
   or m.cfcollogroups or m.cfmeanings
   or show_additional_info and m.additional_info %}

    {% if m.examples %}
        {{ backspace }}:{{ space }}
    {% endif %}

{% endif %}


{% if m.examples %}

    {% if not intermed %}
        {% set separator = joiner('{{ backspace }};{{ space }}') %}
    {% else %}
        {% set separator = cycler('{{ space }}').next %}
    {% endif %}

    {% for e in m.examples %}

        {% if intermed %}<div style="margin-top: 10px;">{% endif %}

        {{ separator() }}
        {% include '_example.html' %}

        {% if intermed %}</div>{% endif %}

    {% endfor %}

{% endif %}


{% if intermed %}

    <div class="edit-controls">

        <div>
            <a href="{% if user.is_admeditor %}{% url admin:dictionary_meaning_change m.pk %}{% else %}{% url UI:dictionary_meaning_change m.pk %}{% endif %}">
                <img src="{{ STATIC_URL }}pen.png" alt="" />
                {{ space }}
                Редактировать
                {% if not m.parent_meaning %}
                    значение {% if mnumber %}№&nbsp;{{ mnumber }}{% endif %}
                {% else %}
                    группу примеров
                {% endif %}
            </a>
        </div>

        <div>
            <a href="{% if user.is_admeditor %}{% url admin:dictionary_example_add %}{% else %}{% url UI:dictionary_example_add %}{% endif %}?meaning={{ m.id }}">
                <img src="{{ STATIC_URL }}plus.png" alt="" />
                {{ space }}
                Добавить пример
            </a>
        </div>

    </div>

{% endif %}
