{% macro pageref(page) -%}
    <a href="?page={{ page }}">{{ page }}</a>
{%- endmacro %}

{% if page.paginator.num_pages > 1 %}
<div class="pagination">

    {% if page.has_previous() %}
        {% if page.number > 4 %}

            {{ pageref(1) }}
            {{ space }}...{{ space }}

        {% else %}
            {% if page.number > 2 %}

                {{ pageref(1) }}
                {{ space }}

                {% if page.number == 4 %}

                    {{ pageref(2) }}
                    {{ space }}

                {% endif %}
            {% endif %}
        {% endif %}

        {{ pageref(page.previous_page_number()) }}
        {{ space }}

    {% endif %}

    <a class="current-page">{{ page.number }}</a>

    {% if page.has_next() %}

        {{ space }}
        {{ pageref(page.next_page_number()) }}

        {% if page.number < (page.paginator.num_pages - 3) %}

            {{ space }}...{{ space }}
            {{ pageref(page.paginator.num_pages) }}

        {% else %}
            {% if page.number < (page.paginator.num_pages - 1) %}
                {% if page.number < (page.paginator.num_pages - 2) %}

                    {{ space }}
                    {{ pageref(page.paginator.num_pages - 1) }}

                {% endif %}

                {{ space }}
                {{ pageref(page.paginator.num_pages) }}

            {% endif %}
        {% endif %}
    {% endif %}

</div>
{% endif %}
