{% trim %}
<div>
{% if params_without_page %}
    {% set other_get_params = '&amp;' ~ params_without_page %}
{% else %}
    {% set other_get_params = '' %}
{% endif %}

{% macro pageref(page, label=none, title=none, AB=none) -%}
<a href="?page={{ page }}{{ other_get_params }}
{%- if AB %}&amp;AB={{ AB }}{% endif %}"
{% if title is not none %}title="{{ title }}"{% endif %}>
    {%- if label is none -%}
        {{ page }}
    {%- else -%}
        {{ label }}
    {%- endif -%}
</a>
{%- endmacro %}

{% macro fa_icon(class, transforms='') -%}
<i class="fas fa-{{ class }} fa-fw fa-xs"
{% if transforms %}
   data-fa-transform="{{ transforms }}"
{% endif %}
    ></i>
{%- endmacro %}

{% if page.paginator.num_pages > 5 %}
    <div class="binary-search{% if page.A %} active{% endif %}">
        <label>бинарный поиск</label>
        {% if page.A %}
            {% set A = page.A %}
        {% else %}
            {% set A = 1 %}
        {% endif %}
        {% set B = page.number %}
        {% set C = (B - A) // 2 + A %}
        {% set AB = '{0},{1}'.format(A, B) %}
        {{ pageref(C, label=fa_icon('backward', 'up-2'), title=C, AB=AB) }}

        {% set A = page.number %}
        {% if page.B %}
            {% set B = page.B %}
            {% set C = (B - A) // 2 + A %}
        {% else %}
            {% set B = page.paginator.num_pages %}
            {% set C = B %}
        {% endif %}
        {% set AB = '{0},{1}'.format(A, B) %}
        {{ pageref(C, label=fa_icon('forward', 'up-2'), title=C, AB=AB) }}
    </div>

    {% if page.has_previous() %}
        {% set prev_page = page.number - 1 %}
    {% else %}
        {% set prev_page = 1 %}
    {% endif %}
    {% if page.has_next() %}
        {% set next_page = page.number + 1 %}
    {% else %}
        {% set next_page = page.paginator.num_pages %}
    {% endif %}
    <div class="pagination-rewind">
        {{ pageref(1, label=fa_icon('fast-backward'),
                      title='Первая страница') }}
        {{ space }}

        {{ pageref(prev_page, label=fa_icon('step-backward', 'up-1'),
                              title='Предыдущая страница') }}
        {{ space }}

        {{ pageref(next_page, label=fa_icon('step-forward', 'up-1'),
                              title='Следующая страница') }}
        {{ space }}

        {{ pageref(page.paginator.num_pages, label=fa_icon('fast-forward'),
                                             title='Последняя страница') }}
    </div>
{% endif %}

{% if page.paginator.num_pages > 1 %}
    <div class="pagination">

        {% if page.has_previous() %}
            {% if page.number > 4 %}

                {{ pageref(1) }}
                {{ space }}...{{ space }}

            {% else %}
                {% if page.number > 2 %}

                    {{ pageref(1) }}
                    {{ space }}

                    {% if page.number == 4 %}

                        {{ pageref(2) }}
                        {{ space }}

                    {% endif %}
                {% endif %}
            {% endif %}

            {{ pageref(page.previous_page_number()) }}
            {{ space }}

        {% endif %}

        <a class="current-page">{{ page.number }}</a>

        {% if page.has_next() %}

            {{ space }}
            {{ pageref(page.next_page_number()) }}

            {% if page.number < (page.paginator.num_pages - 3) %}

                {{ space }}...{{ space }}
                {{ pageref(page.paginator.num_pages) }}

            {% else %}
                {% if page.number < (page.paginator.num_pages - 1) %}
                    {% if page.number < (page.paginator.num_pages - 2) %}

                        {{ space }}
                        {{ pageref(page.paginator.num_pages - 1) }}

                    {% endif %}

                    {{ space }}
                    {{ pageref(page.paginator.num_pages) }}

                {% endif %}
            {% endif %}
        {% endif %}

    </div>
{% endif %}

</div>
{% endtrim %}


{# vim: set ft=htmldjango: #}
