{% trim %}

{% if not intermed %}
{% if entry.orth_vars_refs[1:] or entry.nom_sg_ucs_wax or entry.participles %}

    {% block refheader %}↑↑{% endblock %}

    {% for e in entry.orth_vars_refs[1:] %}

        <div class="entry ref">

            <span class="cslav headword">{{ e.idem_ucs }}</span>
            {{ space }}

            <i>см.&nbsp;</i>
            <a href="{{ entry.get_absolute_url() }}">
                <span class="cslav">
                    {{ entry.orth_vars.0.idem_ucs }}
                </span>
            </a>
        </div>

    {% endfor %}


    {% if entry.nom_sg_ucs_wax %}

        <div class="entry ref">

            <span class="cslav headword">{{ entry.nom_sg_ucs_wax.1 }}</span>
            {{ space }}

            <i>см.&nbsp;</i>
            <a href="{{ entry.get_absolute_url() }}">
                <span class="cslav">
                    {{ entry.orth_vars.0.idem_ucs }}
                </span>
            </a>
        </div>

    {% endif %}


    {% if entry.participles %}

        {% for wf in entry.participles %}

            <div class="entry ref">

                <span class="cslav headword">{{ wf.idem_ucs }}</span>
                {{ space }}

                <i>{{ wf.get_tp_display() }} от</i>&nbsp;

                <a href="{{ entry.get_absolute_url() }}">
                    <span class="cslav">
                        {{ entry.orth_vars.0.idem_ucs }}
                    </span>
                </a>

                &nbsp;(<i>см.</i>)
            
            </div>

        {% endfor %}

    {% endif %}

{% endif %}
{% endif %}

{% endtrim %}
