{% if debug %}
    <script type="text/javascript"
        src="//cloud.github.com/downloads/SteveSanderson/knockout/knockout-2.2.0.debug.js"></script>
    <script>window.ko || document.write('<script src="js/libs/knockout-2.2.0.debug.js"><\/script>')</script>
{% else %}
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/knockout/2.2.0/knockout-min.js"></script>
    <script>window.ko || document.write('<script src="js/libs/knockout-2.2.0.js"><\/script>')</script>
{% endif %}
