{% if debug %}

    <script type="text/javascript"
            src="{{ JSLIBS.knockoutMapping.debug }}"></script>

    <script>
        window.jQuery || document.write(
            "<script src='" +
            "{{ JSLIBS.knockoutMapping.debugLocal }}" +
            "'><\/script>"
            )
    </script>

{% else %}

    <script type="text/javascript"
            src="{{ JSLIBS.knockoutMapping.min }}"></script>

    <script>
        window.jQuery || document.write(
            "<script src='" +
            "{{ JSLIBS.knockoutiMapping.minLocal }}" +
            "'><\/script>"
            )
    </script>

{% endif %}
