{% if debug %}

    <script type="text/javascript"
        src="{{ JSLIBS.knockout.debug }}"></script>

    <script>
        window.ko || document.write(
            "<script src='" +
            "{{ JSLIBS.knockout.debugLocal }}" +
            "'><\/script>"
            )
    </script>

{% else %}

    <script type="text/javascript"
        src="{{ JSLIBS.knockout.min }}"></script>

    <script>
        window.ko || document.write(
            "<script src='" +
            "{{ JSLIBS.knockout.minLocal }}" +
            "'><\/script>"
            )
    </script>

{% endif %}
