<script>

    if (!vM) var vM = {};
    if (!vM.valuesToInitialize) vM.valuesToInitialize = {};
    if (!vM.valuesToInitialize.entryFilters)
        vM.valuesToInitialize.entryFilters = {};
    if (!vM.listsForWidgets) vM.listsForWidgets = {};
    if (!vM.listsForWidgets.entryFilters)
        vM.listsForWidgets.entryFilters = {};

    {% set filters = form.cleaned_data %}
    (function () {
        var ef = vM.valuesToInitialize.entryFilters;
        ef.additional_info = {{ 'true' if filters.additional_info else 'false' }};
        ef.author = '{{ filters.author }}';
        ef.canonical_name = '{{ filters.canonical_name }}';
        ef.collocations = {{ 'true' if filters.collocations else 'false' }};
        ef.duplicate = {{ 'true' if filters.duplicate else 'false' }};
        ef.etymology_sans = {{ 'true' if filters.etymology_sans else 'false' }};
        ef.etymology = {{ 'true' if filters.etymology else 'false' }};
        ef.find = '{{ filters.find }}';
        ef.gender = '{{ filters.gender }}';
        ef.homonym = {{ 'true' if filters.homonym else 'false' }};
        ef.meaningcontexts = {{ 'true' if filters.meaningcontexts else 'false' }};
        ef.onym = '{{ filters.onym }}';
        ef.per_se = {{ 'true' if filters.per_se else 'false' }};
        ef.pos = '{{ filters.pos }}';
        ef.possessive = '{{ filters.possessive }}';
        ef.sortbase = '{{ filters.sortbase }}';
        ef.sortdir = '{{ filters.sortdir }}';
        ef.status = '{{ filters.status }}';
        ef.tantum = '{{ filters.tantum }}';
        ef.uninflected = {{ 'true' if filters.uninflected else 'false' }};
        ef.variants = {{ 'true' if filters.variants else 'false' }};
        ef.volume = '{{ filters.volume }}';
    })();

    (function () {
        var w = vM.listsForWidgets.entryFilters;
        w.authors = {{ viewmodel.authors }};
        w.canonical_name = {{ viewmodel.canonical_name }};
        w.gender = {{ viewmodel.gender }};
        w.onym = {{ viewmodel.onym }};
        w.possessive = {{ viewmodel.possessive }};
        w.pos = {{ viewmodel.pos }};
        w.sortbase = {{ viewmodel.sortbase }};
        w.sortdir = {{ viewmodel.sortdir }};
        w.statuses = {{ viewmodel.statuses }};
        w.tantum = {{ viewmodel.tantum }};
        w.volumes = {{ viewmodel.volumes }};
    })();

</script>
{# vim: set ft=htmldjango: #}
