<script type="text/html" id="orthvars">
<section class="tabcontent orthvars"
data-bind="if: $root.ui.navigationStack.top.type() === 'Entry'">

    <ul data-bind="sortable: orthvars">
        <li>
            <input type="image" src="{{ STATIC_URL }}/deleteItem.png"
                class="deleteOrthvar"
                data-bind="click: $parent.orthvars.itemDestroyer($data).do"/>
            <input type="text"
                data-bind="value: idem, valueUpdate: 'afterkeydown'"/>
            <span data-bind="wax: idem"></span>
        </li>
    </ul>

    <a class="addItem" id="addOrthvar"
        data-bind="click: orthvars.itemAdder($data).do"></a>

</section>
</script>
