<template id="saveDialogue">

    <label>Статус статьи</label>
    <select data-bind="options: ui.choices.entry_status,
        value: data.entry.status, optionsText: 'name',
        optionsValue: 'id'">
    </select>
    <br/><br/>

    <label>Примечание</label>
    <textarea data-bind="value: data.entry.additional_info,
        valueUpdate: 'afterkeydown'"></textarea>
    <br/><br/>

    <input type="button" value="Сохранить"
        data-bind="click: $root.ui.doSave" />

    <input type="button" value="Продолжить редактирование"
        data-bind="click: $root.ui.showSaveDialogue.bind(null, false)" />

</template>
