<script type="text/html" id="saveDialogue">
<div class="modalContainer">
    <div class="modalBackground"></div>

    <div class="modal grid">

        <div id="sD--entryAdvertisement"
            data-bind="template: { name: 'entryAdvertisement' }"></div>

        <div id="sD--entryStatus">
            <span>Статус статьи</span>

            {% for id, name in STATUSES %}
                <label data-bind="css: {
                checked: status() === '{{ id }}' }">
                    <input type="radio" name="statuses" value="{{ id }}"
                        data-bind="checked: status"/>
                    <span>{{ name }}</span>
                </label>
            {% endfor %}
        </div>

        <div id="sD--additionalInfo">
            <label>Примечание</label>
            <textarea data-bind="textInput: additional_info"></textarea>
        </div>

        <div id="sD--buttons">

            <div id="sD--saveAndExit">
                <input type="button" value="Сохранить"
                    data-bind="click: $root.ui.saveDialogue.saveAndExit" />
            </div>

            <a data-bind="click: $root.ui.saveDialogue.cancel"
                >Продолжить редактирование</a>

            <a data-bind="click: $root.ui.saveDialogue.exitWithoutSaving"
                >Выйти без сохранения</a>

        </div>

    </div>

</div>
</script>
