<script type="text/html" id="saveDialogue">
<div class="modalContainer">
    <div class="modalBackground"></div>

    <div class="modal grid">

        <div id="sD--entryAdvertisement"
            data-bind="template: { name: 'entryAdvertisement' }"></div>

        <div data-bind="visible: !$root.canEdit()"
             style="position: relative; height: 27.3em">
            <div style="color: #ccc; position: relative; text-align: center;
                        top: 6em">
                <div id="sD--saving">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div style="padding-top: 1em; letter-spacing: 0.05em;
                            font-variant: all-small-caps; font-weight: bold">
                    Выполняется сохранение
                </div>
            </div>
        </div>

        <div id="sD--entryStatus" data-bind="visible: $root.canEdit">
            <span>Статус статьи</span>

            {% for id, name in STATUSES %}
                <label data-bind="css: {
                checked: status() === '{{ id }}' }">
                    <input type="radio" name="statuses" value="{{ id }}"
                        data-bind="checked: status"/>
                    <span>{{ name }}</span>
                </label>
            {% endfor %}
        </div>

        <div id="sD--additionalInfo" data-bind="visible: $root.canEdit">
            <label>Примечание</label>
            <textarea data-bind="textInput: additional_info"></textarea>
        </div>

        {% if user.is_superuser %}
        <div style="margin: 24em 0 0 18.5em">
          <input data-bind="value: template_version"
                 style="width: 4em; text-align: center">
          <label style="margin-left: 1em">Версия структуры статьи</label>
          <aside style="margin-left: 6em; font-size: smaller; color: gray">
            0{{ nbsp }}— в статьях с такой версией структуры
            иллюстарции можно добавлять ко всем словосочетаниям
            (тома I—III, буквы А—Е);<br>
            1{{ nbsp }}— иллюстрации можно добавлять только
            к фразеологическим словосочетаниям (тома, начиная с IV,
            буквы после Е).<br>
            <em style="font-size: 1em">Поле не отображается у авторов.</em>
          </aside>
        </div>
        {% endif %}

        <div id="sD--buttons" data-bind="visible: $root.canEdit">

            <div id="sD--saveAndExit">
                <input type="button" value="Сохранить"
                    data-bind="click: $root.ui.saveDialogue.saveAndExit" />
            </div>

            <a data-bind="click: $root.ui.saveDialogue.cancel"
                >Продолжить редактирование</a>

            <a data-bind="click: $root.ui.saveDialogue.exitWithoutSaving"
                >Выйти без сохранения</a>

        </div>

    </div>

</div>
</script>
