<script type="text/html" id="editExample">
<section data-bind="if: constructor.name === 'Example'">
<div id="eE--editExample" class="grid">

    <div class="eE--example">
        <div>
            <label>Иллюстрация</label>
            <textarea data-bind="textInput: example"></textarea>
        </div>

        <div class="eE--exampleWax" data-bind="exampleWithTranslation: example"></div>
    </div>

    <div id="eE--address">
        <label>Адрес</label>
        <textarea data-bind="textInput: address_text"></textarea>
    </div>

    <nav data-bind="visible: !context.isVisible()">
        <a data-bind="click: context.isVisible.bind($data, true)">
            Более широкий контекст (для грециста)
        </a>
    </nav>

    <div class="eE--example" data-bind="visible: context.isVisible">
        <div>
            <label>Более широкий контекст (для грециста)</label>
            <textarea data-bind="textInput: context,
             hasFocus: context.isVisible, event: {
                blur: context.isVisible.bind($data, false) }"></textarea>
        </div>

        <div class="eE--exampleWax" data-bind="wax: context"></div>
    </div>

    <div class="eE--status">
        <label>Статус греческих параллелей</label>
        <div>{% for id, name in GREEK_EQ_STATUSES %}
        <label data-bind="css: { checked: greek_eq_status() == '{{ id }}' }">
            <input type="radio" name="greekeqstatus"
                value="{{ id }}" data-bind="checked: greek_eq_status"/>
            {{ space }}{{ name }}
        </label>
        {% endfor %}</div>
    </div>

    <div class="eE--exampleWax" data-bind="exampleWithTranslation: example"
        style="clear: both; width: 100%"></div>

    <div style="clear: both; margin-top: 24em"
        data-bind="template: { name: 'translations', data: $data }"></div>

</div>
</section>
</script>
