<script type="text/html" id="variants">
<section class="tabcontent orthvars"
    data-bind="if: constructor.name === 'Collogroup'">

    <ul data-bind="sortable: collocations">
        <li>
            <a class="dragItem" data-bind="visible:
                $parent.collocations().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.collocations.itemDestroyer($data).do"></a>
            <input type="text" data-bind="textInput: collocation"
                   maxlength="{{ MAX_LENGTHS.Collocation.collocation }}"/>
            <span data-bind="wax: collocation"></span>
        </li>
    </ul>

    <a class="addItem"
        data-bind="click: collocations.itemAdder($data).do"></a>

</section>
</script>
