<script type="text/html" id="uses">

<section class="tabcontent" data-bind="if: constructor.name === 'Meaning'">

    <ul class="meanings" data-bind="sortable: { data: meanings }">

        <li data-bind="event: { dblclick: toggle }, dblclickBubble: false">
            <a class="dragItem" data-bind="visible:
                    !isExpanded() && $parent.meanings().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                    $parent.meanings.itemDestroyer($data).do"></a>
            <a class="editItem" data-bind="click: edit"></a>
            <a class="expandItem" data-bind="click: toggle,
                css: { expanded: isExpanded }"></a>
            <a class="cutItem" data-bind="
                click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                visible: $root.ui.cutBuffer.emptyOrContainsMeanings"></a>

            <span data-bind="visible: metaphorical">►</span>{{ space }}
            <span data-bind="visible: substantivus">
                <span class="substantivus">в роли сущ.</span>
                <span data-bind="visible: substantivus_type">
                    {{ space }}
                    <span class="substantivus"
                        data-bind="text: substantivus_type.label"></span>
                </span>
            </span>{{ space }}
            <span data-bind="text: meaning"></span>
                <span data-bind="visible:
                    meaning() && gloss()">;{{ space }}</span>
            <i data-bind="text: gloss"></i>

            <ul class="examples" data-bind="sortable: { data: examples },
                                            visible: isExpanded">

                <li data-bind="event: { dblclick: function(){} },
                        dblclickBubble: false">
                    <a class="dragItem" data-bind="visible:
                     $parent.examples().length > 1"></a>
                    <a class="deleteItem" data-bind="click:
                     $parent.examples.itemPoolReturner($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <span data-bind="wax: example"></span>{{ space }}
                    (<span data-bind="text: address_text"></span>)
                </li>

            </ul>

            <a class="addItem" data-bind="visible: isExpanded, click:
                examples.itemAdder($data, $root.data.entry).do"></a>

        </li>

    </ul>

    <a class="pasteItems"
        data-bind="click: $root.ui.cutBuffer.pasteInto(meanings),
                   visible: $root.ui.cutBuffer.containsMeanings"></a>
    <a class="addItem" data-bind="click:
        meanings.itemAdder($root.data.entry, $data).do"></a>

</section>
</script>
