<script type="text/html" id="orthvars">
<section class="tabcontent orthvars"
    data-bind="if: constructor.name === 'Entry'">

    <ul data-bind="sortable: orthvars">
        <li>
            <a class="dragItem"
               data-bind="visible: $parent.orthvars().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.orthvars.itemDestroyer($data).do"></a>
            <input type="text" data-bind="textInput: idem"
                   data-help="OrthographicVariant.idem"
                   maxlength="{{ MAX_LENGTHS.OrthographicVariant.idem }}"/>
            <span data-bind="wax: idem"
              style="margin-left: 0.75em"></span>

            <input type="checkbox"
                data-help="OrthographicVariant.reconstructed"
                data-bind="checked: reconstructed,
                           attr: { 'id': 'ovrecon' + id() }"
                >
            <label data-bind="attr: { 'for': 'ovrecon' + id() }"
                   data-help="OrthographicVariant.reconstructed">
                Реконструирован
            </label>

            <input type="checkbox"
                data-bind="checked: questionable,
                           attr: { 'id': 'ovquest' + id() },
                           visible: reconstructed"
                data-help="OrthographicVariant.questionable">
            <label data-bind="attr: { 'for': 'ovquest' + id() },
                              visible: reconstructed"
                   data-help="OrthographicVariant.questionable">
                Под сомнением
            </label>
        </li>
    </ul>

    <a class="addItem" data-bind="click: orthvars.itemAdder($data).do"></a>

</section>
</script>
