<script type="text/html" id="variants">
<section class="tabcontent orthvars"
    data-bind="if: constructor.name === 'Collogroup'">

    <label data-help="CollocationGroup.phraseological">
        <input type="checkbox" data-bind="checked: phraseological"
            data-help="CollocationGroup.phraseological">
        <span style="position: relative; left: 0.75em; top: 0.25em">
            Фразеологизм</span>
    </label>

    <ul data-bind="sortable: collocations">
        <li data-help="Collocation.collocation">
            <a class="dragItem" data-bind="visible:
                $parent.collocations().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.collocations.itemDestroyer($data).do"></a>
            <input type="text" data-bind="textInput: collocation"
                   data-help="Collocation.collocation"
                   maxlength="{{ MAX_LENGTHS.Collocation.collocation }}"/>
            <span class="leftPad" data-bind="wax: collocation"></span>
        </li>
    </ul>

    <a class="addItem"
        data-bind="click: collocations.itemAdder($data).do"></a>

</section>
</script>
