<script type="text/html" id="constructions">
<section class="tabcontent" data-bind="if: constructor.name === 'Entry' ||
   (constructor.name === 'Meaning' && !$root.ui.hierarchy.usage())">

    <ul class="collogroups" data-bind="sortable: collogroups">

        <li data-bind="event: { dblclick: toggle }, dblclickBubble: false">

            <a class="dragItem" data-bind="visible:
                    !isExpanded() && $parent.collogroups().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                    $parent.collogroups.itemDestroyer($data).do"></a>
            <a class="editItem" data-bind="click: edit"></a>
            <a class="expandItem" data-bind="click: toggle,
                css: { expanded: isExpanded }"></a>

            <span data-bind="foreach: collocations">
                {{ backspace }}
                <span data-bind="if: $index">,</span>
                {{ space }}
                <span class="cslav" data-bind="wax: collocation"></span>
            </span>

            <ul class="meanings" data-bind="sortable: { data: meanings },
                                            visible: isExpanded">

                <li data-bind="event: { dblclick: toggle },
                    dblclickBubble: false">
                    <a class="dragItem" data-bind="visible:
                        !isExpanded() && $parent.meanings().length > 1"></a>
                    <a class="deleteItem" data-bind="click:
                        $parent.meanings.itemDestroyer($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <a class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>

                    <span data-bind="text: order"></span>.{{ space }}
                    <span data-bind="visible: metaphorical">►</span>{{ space }}
                    <span data-bind="visible: substantivus">
                        <span class="substantivus">в роли сущ.</span>
                        <span data-bind="visible: substantivus_type">
                            {{ space }}
                            <span class="substantivus"
                                data-bind="text: substantivus_type.label"></span>
                        </span>
                    </span>{{ space }}
                    <span data-bind="text: meaning"></span>
                        <span data-bind="visible:
                            meaning() && gloss()">;{{ space }}</span>
                    <i data-bind="text: gloss"></i>

                    <ul class="examples" data-bind="sortable: { data: examples },
                                                    visible: isExpanded">
                        <li data-bind="event: { dblclick: function(){} },
                                dblclickBubble: false">
                            <a class="dragItem" data-bind="visible:
                             $parent.examples().length > 1"></a>
                            <a class="deleteItem" data-bind="click:
                             $parent.examples.itemPoolReturner($data).do"></a>
                            <a class="editItem" data-bind="click: edit"></a>
                            <span data-bind="wax: example"></span>{{ space }}
                            (<span data-bind="text: address_text"></span>)
                        </li>
                    </ul>

                    <a class="addItem" data-bind="visible: isExpanded,
                        click: examples.itemAdder($data,
                            $root.data.entry, $parent).do"></a>

                </li>
            </ul>

            <a class="addItem" data-bind="visible: isExpanded,
                click: meanings.itemAdder($parent).do"></a>

        </li>
    </ul>

    <a class="addItem"
        data-bind="click: collogroups.itemAdder($data).do"></a>

</section>
</script>
