<script type="text/html" id="translations">
<section class="orthvars">

    <ul class="translations" data-bind="sortable: translations">
        <li>

            <a class="dragItem" data-bind="visible:
                $parent.translations().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.translations.itemDestroyer($data).do"></a>

            <label style="margin-left: 0" data-help="Translation.source">
                <span style="margin-right: 1em">Источник</span>
                <select style="width: 4em" data-help="Translation.source"
                    data-bind="options: $root.ui.choices.translation_source,
                    value: source, optionsText: 'name',
                    optionsValue: 'id'">
                </select>
            </label>

            <label style="margin-left: 3em" data-help="Translation.hidden">
                <span>Не отображать в статье</span>
                <input type="checkbox" data-bind="checked: hidden"
                       data-help="Translation.hidden">
            </label>

            <label style="margin-left: 3em" data-help="Translation.fragmented">
                <span>Перевод только части примера</span>
                <input type="checkbox" data-bind="checked: fragmented"
                       data-help="Translation.fragmented">
            </label>

            <div style="clear: both; margin-top: 1em;"
                data-bind="visible: fragmented">

                <div style="width: 90%">
                    <span style="padding-right: 1em">Фрагмент:</span>
                    <span class="CSLSegment" data-bind="text: fragmented.fragment"
                        style="font-size: 1.25em"></span>
                </div>
                <div data-bind="slider: { valueMin: fragment_start,
                    valueMax: fragment_end }, jQueryUISliderOptions: { min: 1,
                    max: $parent.example.numberOfWords, step: 1, range: true }"
                    style="width: 90%; margin-top: 1em"></div>

            </div>

            <div style="clear: both; position: relative; height: 1em;"></div>
            <div class="eE--translation" data-help="Translation.translation">
                <label>Перевод</label>
                <textarea data-bind="textInput: translation"
                          data-help="Translation.translation"></textarea>
            </div>
            <div class="eE--translation" data-help="Translation.additional_info">
                <label>Примечание</label>
                <textarea data-bind="textInput: additional_info"
                          data-help="Translation.additional_info"></textarea>
            </div>

            <br style="float:none; clear:both">
        </li>
    </ul>

    <a class="addItem"
        data-bind="click: translations.itemAdder($data).do"></a>

</section>
</script>
