<script type="text/html" id="editMeaning">
<!-- ko if: ui.navigationStack.top.type() === 'Meaning' -->
<section data-bind="with: ui.navigationStack.top"
    id="eM--editMeaning" class="grid">

    <div id="eM--meaning">
        <label>Значение</label>
        <textarea id="eM--meaning" data-bind="value: meaning,
            valueUpdate: 'afterkeydown'"></textarea>
    </div>

    <div id="eM--gloss">
        <label>Пояснение</label>
        <textarea data-bind="value: gloss,
            valueUpdate: 'afterkeydown'"></textarea>
    </div>

</section>
<!-- /ko -->
</script>
