<script type="text/html" id="structure">

<section class="tabcontent" data-bind="if:
    constructor.name === 'Entry' || constructor.name === 'Collogroup'">

    <ul class="meanings" data-bind="sortable: { data: meanings }">
        <li data-bind="event: { dblclick: toggle }, dblclickBubble: false">
            <a class="dragItem" data-bind="visible:
                !isExpanded() && $parent.meanings().length > 1"></a>
            <a class="deleteItem"
                data-bind="click: $parent.meanings.itemDestroyer($data).do"></a>
            <a class="editItem" data-bind="click: edit"></a>
            <a class="expandItem" data-bind="click: toggle,
                css: { expanded: isExpanded }"></a>
            <a class="cutItem" data-bind="
                click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                visible: $root.ui.cutBuffer.emptyOrContainsMeanings"></a>

            <span data-bind="text: order"></span>.{{ space }}
            <span data-bind="visible: metaphorical">►</span>{{ space }}
            <span data-bind="visible: substantivus">
                <span class="substantivus">в роли сущ.</span>
                <span data-bind="visible: substantivus_type">
                    {{ space }}
                    <span class="substantivus"
                        data-bind="text: substantivus_type.label"></span>
                </span>
            </span>{{ space }}
            <i data-bind="visible: figurative">перен.</i>{{ space }}
            <span data-bind="text: meaning"></span>
                <span data-bind="visible:
                    meaning() && gloss()">;{{ space }}</span>
            <i data-bind="text: gloss"></i>

            <ul class="examples"
                data-bind="sortable: { data: examples,
                                       afterMove: examples.sortMe },
                           visible: isExpanded()
                             && ($parent.constructor.name !== 'Collogroup'
                                 || $parent.phraseological()
                                 || $root.data.entry.template_version < 1)">
                <li data-bind="event: { dblclick: function(){} },
                        dblclickBubble: false,
                        css: { wordform_example: wordform_example,
                          extra_example:
                            !wordform_example() && $index() >= $parent.numex() }">
                    <a class="dragItem" data-bind="visible:
                       $parent.examples().length > 1"></a>
                    <a class="deleteItem" data-bind="click:
                       $parent.examples.itemPoolReturner($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <a class="cutItem" data-bind="
                        click: $root.ui.cutBuffer.cutFrom($parent.examples),
                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                        visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                    <span data-bind="wax: example"></span>{{ space }}
                    (<span data-bind="text: address_text"></span>)
                </li>
            </ul>
            <div data-bind="visible: isExpanded()
              && ($parent.constructor.name !== 'Collogroup'
                  || $parent.phraseological()
                  || $root.data.entry.template_version < 1)">
                <a class="pasteItems" data-bind="
                    click: $root.ui.cutBuffer.pasteInto(examples),
                    visible: $root.ui.cutBuffer.containsExamples"></a>
                <a class="addItem" data-bind="visible: isExpanded,
                    click: examples.itemAdder($data, $root.data.entry).do"></a>
            </div>

            <ul class="meanings"
                data-bind="sortable: { data: meanings },
                  visible: isExpanded() && $parent.constructor.name === 'Entry'">
                <li data-bind="event: { dblclick: toggle },
                    dblclickBubble: false">
                    <a class="dragItem" data-bind="visible:
                            !isExpanded() && $parent.meanings().length > 1"></a>
                    <a class="deleteItem" data-bind="click:
                            $parent.meanings.itemDestroyer($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <a class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>
                    <a class="cutItem" data-bind="
                        click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                        visible: $root.ui.cutBuffer.emptyOrContainsMeanings"
                        ></a>

                    <span data-bind="visible: metaphorical">►</span>{{ space }}
                    <span data-bind="visible: substantivus">
                        <span class="substantivus">в роли сущ.</span>
                        <span data-bind="visible: substantivus_type">
                            {{ space }}
                            <span class="substantivus"
                                data-bind="text: substantivus_type.label"></span>
                        </span>
                    </span>{{ space }}
                    <i data-bind="visible: figurative">перен.</i>{{ space }}
                    <span data-bind="text: meaning"></span>
                        <span data-bind="visible:
                            meaning() && gloss()">;{{ space }}</span>
                    <i data-bind="text: gloss"></i>

                    <ul class="examples"
                        data-bind="sortable: { data: examples,
                                               afterMove: examples.sortMe },
                                   visible: isExpanded">
                        <li data-bind="event: { dblclick: function(){} },
                                dblclickBubble: false,
                                css: { wordform_example: wordform_example,
                                  extra_example: !wordform_example() &&
                                    $index() >= $parent.numex() }">
                            <a class="dragItem" data-bind="visible:
                             $parent.examples().length > 1"></a>
                            <a class="deleteItem" data-bind="click:
                             $parent.examples.itemPoolReturner($data).do"></a>
                            <a class="editItem" data-bind="click: edit"></a>
                            <a class="cutItem" data-bind="
                                click: $root.ui.cutBuffer.cutFrom($parent.examples),
                                css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                                visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                            <span data-bind="wax: example"></span>{{ space }}
                            (<span data-bind="text: address_text"></span>)
                        </li>
                    </ul>
                    <div data-bind="visible: isExpanded">
                        <a class="pasteItems" data-bind="
                            click: $root.ui.cutBuffer.pasteInto(examples),
                            visible: $root.ui.cutBuffer.containsExamples"></a>
                        <a class="addItem" data-bind="click:
                            examples.itemAdder($data, $root.data.entry).do"></a>
                    </div>

                </li>

            </ul>
            <div data-bind="visible: isExpanded() &&
                              $parent.constructor.name === 'Entry'">
                <a class="pasteItems" data-bind="
                    click: $root.ui.cutBuffer.pasteInto(meanings),
                    visible: $root.ui.cutBuffer.containsMeanings"></a>
                <a class="addItem" data-bind="
                    click: meanings.itemAdder($root.data.entry, $data).do"></a>
            </div>

            <!-- ko if: $root.ui.navigationStack.top().constructor.name === 'Entry' -->
            <ul class="collogroups"
                data-bind="foreach: collogroups, visible: isExpanded">
                <li data-bind="event: { dblclick: toggle },
                    dblclickBubble: false">
                    <a class="deleteItem" data-bind="click:
                            $parent.collogroups.itemDestroyer($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <a class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>
                    <a class="cutItem" data-bind="
                        click: $root.ui.cutBuffer.cutFrom($parent.collogroups),
                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsCollogroups },
                        visible: $root.ui.cutBuffer.emptyOrContainsCollogroups"></a>

                    <span class="lozenge" data-bind="visible: phraseological">♦</span>
                    <span data-bind="foreach: collocations">
                      <span data-bind="if: $index">;{{ space }}</span>
                      <span data-bind="wax: collocation"></span>
                    </span>

                    <ul class="meanings" data-bind="
                        sortable: meanings,
                        visible: isExpanded">
                        <li data-bind="event: { dblclick: toggle },
                            dblclickBubble: false">
                            <a class="dragItem" data-bind="visible:
                             !isExpanded() && $parent.meanings().length > 1"></a>
                            <a class="deleteItem" data-bind="click:
                                $parent.meanings.itemDestroyer($data).do"></a>
                            <a class="editItem" data-bind="click: edit"></a>
                            <a class="expandItem" data-bind="click: toggle,
                                css: { expanded: isExpanded }"></a>
                            <a class="cutItem" data-bind="click:
                                $root.ui.cutBuffer.cutFrom($parent.meanings),
                                css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                                visible: $root.ui.cutBuffer.emptyOrContainsMeanings"></a>

                            <span data-bind="text: order"></span>.{{ space }}
                            <span data-bind="visible: metaphorical">►</span>{{ space }}
                            <span data-bind="visible: substantivus">
                                <span class="substantivus">в роли сущ.</span>
                                <span data-bind="visible: substantivus_type">
                                    {{ space }}
                                    <span class="substantivus"
                                        data-bind="text: substantivus_type.label"></span>
                                </span>
                            </span>{{ space }}
                            <i data-bind="visible: figurative">перен.</i>{{ space }}
                            <span data-bind="text: meaning"></span>
                                <span data-bind="visible:
                                    meaning() && gloss()">;{{ space }}</span>
                            <i data-bind="text: gloss"></i>

                            <ul class="examples"
                                data-bind="sortable: { data: examples,
                                                       afterMove: examples.sortMe },
                                           visible: isExpanded() &&
                                             ($parent.phraseological() ||
                                     $root.data.entry.template_version() < 1)">
                                <li data-bind="event: { dblclick: function(){} },
                                  dblclickBubble: false,
                                  css: { wordform_example: wordform_example,
                                    extra_example: !wordform_example() &&
                                      $index() >= $parent.numex() }">
                                    <a class="dragItem" data-bind="visible:
                                     $parent.examples().length > 1"></a>
                                    <a class="deleteItem" data-bind="click:
                                     $parent.examples.itemPoolReturner($data).do"></a>
                                    <a class="editItem" data-bind="click: edit"></a>
                                    <a class="cutItem" data-bind="
                                        click: $root.ui.cutBuffer.cutFrom($parent.examples),
                                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                                        visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                                    <span data-bind="wax: example"></span>{{ space }}
                                    (<span data-bind="text: address_text"></span>)
                                </li>
                            </ul>
                            <div data-bind="visible: isExpanded() &&
                                              ($parent.phraseological() ||
                                     $root.data.entry.template_version() < 1)">
                                <a class="pasteItems" data-bind="
                                    click: $root.ui.cutBuffer.pasteInto(examples),
                                    visible: $root.ui.cutBuffer.containsExamples"></a>
                                <a class="addItem" data-bind="
                                    click: examples.itemAdder($data,
                                        $root.data.entry, $parent).do"></a>
                            </div>

                            <ul class="meanings" data-bind="
                                sortable: meanings,
                                visible: isExpanded">

                                <li data-bind="event: { dblclick: toggle },
                                    dblclickBubble: false">
                                    <a class="dragItem" data-bind="visible:
                                     !isExpanded() &&
                                     $parent.meanings().length > 1"></a>
                                    <a class="deleteItem" data-bind="click:
                                     $parent.meanings.itemDestroyer($data).do"></a>
                                    <a class="editItem" data-bind="click: edit"></a>
                                    <a class="expandItem" data-bind="click: toggle,
                                        css: { expanded: isExpanded }"></a>
                                    <a class="cutItem" data-bind="
                                        click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                                        visible: $root.ui.cutBuffer.emptyOrContainsMeanings
                                        "></a>

                                    <span data-bind="visible: metaphorical">►</span>{{ space }}
                                    <span data-bind="visible: substantivus">
                                        <span class="substantivus">в роли сущ.</span>
                                        <span data-bind="visible: substantivus_type">
                                            {{ space }}
                                            <span class="substantivus"
                                                data-bind="text: substantivus_type.label"></span>
                                        </span>
                                    </span>{{ space }}
                                    <i data-bind="visible: figurative">перен.</i>{{ space }}
                                    <span data-bind="text: meaning"></span>
                                        <span data-bind="visible:
                                            meaning() && gloss()">;{{ space }}</span>
                                    <i data-bind="text: gloss"></i>

                                    <ul class="examples"
                                        data-bind="sortable: { data: examples,
                                            afterMove: examples.sortMe },
                                          visible: isExpanded">
                                        <li data-bind="event: { dblclick: function(){} },
                                                dblclickBubble: false,
                                  css: { wordform_example: wordform_example,
                                    extra_example: !wordform_example() &&
                                      $index() >= $parent.numex() }">
                                            <a class="dragItem" data-bind="visible:
                                             $parent.examples().length > 1"></a>
                                            <a class="deleteItem" data-bind="click:
                                             $parent.examples.itemPoolReturner($data).do"></a>
                                            <a class="editItem" data-bind="click: edit"></a>
                                            <a class="cutItem" data-bind="
                                                click: $root.ui.cutBuffer.cutFrom($parent.examples),
                                                css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                                                visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                                            <span data-bind="wax: example"></span>{{ space }}
                                            (<span data-bind="text: address_text"></span>)
                                        </li>
                                    </ul>
                                    <div data-bind="visible: isExpanded">
                                        <a class="pasteItems" data-bind="
                                            click: $root.ui.cutBuffer.pasteInto(examples),
                                            visible: $root.ui.cutBuffer.containsExamples"></a>
                                        <a class="addItem" data-bind="click:
                                            examples.itemAdder($data, $root.data.entry).do"></a>
                                    </div>

                                </li>

                            </ul>
                            <div data-bind="visible: isExpanded">
                                <a class="pasteItems" data-bind="
                                    click: $root.ui.cutBuffer.pasteInto(meanings),
                                    visible: $root.ui.cutBuffer.containsMeanings"></a>
                                <a class="addItem" data-bind="
                                    click: meanings.itemAdder($parent, $data).do"></a>
                            </div>

                        </li>
                    </ul>
                    <div data-bind="visible: isExpanded() && phraseological()">
                        <a class="pasteItems" data-bind="
                            click: $root.ui.cutBuffer.pasteInto(meanings),
                            visible: $root.ui.cutBuffer.containsMeanings"></a>
                        <a class="addItem"
                           data-bind="click: meanings.itemAdder($data).do"></a>
                    </div>

                </li>
            </ul>
            <div data-bind="visible: isExpanded">
                <a class="pasteItems" data-bind="
                    click: $root.ui.cutBuffer.pasteInto(collogroups),
                    visible: $root.ui.cutBuffer.containsCollogroups"></a>
                <a class="addItem"
                    data-bind="
                    click: collogroups.itemAdder($data).do"></a>
            </div>

            <!-- /ko -->
        </li>
    </ul>
    <a class="pasteItems"
        data-bind="click: $root.ui.cutBuffer.pasteInto(meanings),
                   visible: $root.ui.cutBuffer.containsMeanings"></a>
    <a class="addItem"
        data-bind="click: meanings.itemAdder($root.data.entry).do"></a>

    <!-- ko if: constructor.name === 'Entry' && collogroups().length > 0 -->
    <ul class="collogroups" data-bind="foreach: collogroups">

        <li data-bind="event: { dblclick: toggle }, dblclickBubble: false">

            <a class="deleteItem" data-bind="click:
                    $parent.collogroups.itemDestroyer($data).do"></a>
            <a class="editItem" data-bind="click: edit"></a>
            <a class="expandItem" data-bind="click: toggle,
                css: { expanded: isExpanded }"></a>
            <a class="cutItem" data-bind="
                click: $root.ui.cutBuffer.cutFrom($parent.collogroups),
                css: { cutItemNonFirst: $root.ui.cutBuffer.containsCollogroups },
                visible: $root.ui.cutBuffer.emptyOrContainsCollogroups"></a>

            <span class="lozenge" data-bind="visible: phraseological">♦</span>
            <span data-bind="foreach: collocations">
                <span data-bind="if: $index">;{{ space }}</span>
                <span data-bind="wax: collocation"></span>
            </span>

            <ul class="meanings" data-bind="sortable: meanings,
                                            visible: isExpanded() && phraseological()">
                <li data-bind="event: { dblclick: toggle },
                    dblclickBubble: false">
                    <a class="dragItem" data-bind="visible:
                        !isExpanded() && $parent.meanings().length > 1"></a>
                    <a class="deleteItem" data-bind="click:
                        $parent.meanings.itemDestroyer($data).do"></a>
                    <a class="editItem" data-bind="click: edit"></a>
                    <a class="expandItem" data-bind="click: toggle,
                        css: { expanded: isExpanded }"></a>
                    <a class="cutItem" data-bind="
                        click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                        visible: $root.ui.cutBuffer.emptyOrContainsMeanings"></a>

                    <span data-bind="text: order"></span>.{{ space }}
                    <span data-bind="visible: metaphorical">►</span>{{ space }}
                    <span data-bind="visible: substantivus">
                        <span class="substantivus">в роли сущ.</span>
                        <span data-bind="visible: substantivus_type">
                            {{ space }}
                            <span class="substantivus"
                                data-bind="text: substantivus_type.label"></span>
                        </span>
                    </span>{{ space }}
                    <i data-bind="visible: figurative">перен.</i>{{ space }}
                    <span data-bind="text: meaning"></span>
                        <span data-bind="visible:
                            meaning() && gloss()">;{{ space }}</span>
                    <i data-bind="text: gloss"></i>

                    <ul class="examples" data-bind="sortable:
                        { data: examples, afterMove: examples.sortMe },
                        visible: isExpanded">
                        <li data-bind="event: { dblclick: function(){} },
                                dblclickBubble: false,
                                css: { wordform_example: wordform_example,
                                  extra_example: !wordform_example() &&
                                    $index() >= $parent.numex() }">
                            <a class="dragItem" data-bind="visible:
                             $parent.examples().length > 1"></a>
                            <a class="deleteItem" data-bind="click:
                             $parent.examples.itemPoolReturner($data).do"></a>
                            <a class="editItem" data-bind="click: edit"></a>
                            <a class="cutItem" data-bind="
                                click: $root.ui.cutBuffer.cutFrom($parent.examples),
                                css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                                visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                            <span data-bind="wax: example"></span>{{ space }}
                            (<span data-bind="text: address_text"></span>)
                        </li>
                    </ul>
                    <div data-bind="visible: isExpanded">
                        <a class="pasteItems" data-bind="
                            click: $root.ui.cutBuffer.pasteInto(examples),
                            visible: $root.ui.cutBuffer.containsExamples"></a>
                        <a class="addItem" data-bind="click:
                            examples.itemAdder($data, $root.data.entry,
                            $parent).do"></a>
                    </div>

                    <ul class="meanings" data-bind="sortable: meanings,
                                                    visible: isExpanded">

                        <li data-bind="event: { dblclick: toggle },
                            dblclickBubble: false">
                            <a class="dragItem" data-bind="visible:
                             !isExpanded() && $parent.meanings().length > 1"></a>
                            <a class="deleteItem" data-bind="click:
                             $parent.meanings.itemDestroyer($data).do"></a>
                            <a class="editItem" data-bind="click: edit"></a>
                            <a class="expandItem" data-bind="click: toggle,
                                css: { expanded: isExpanded }"></a>
                            <a class="cutItem" data-bind="
                                click: $root.ui.cutBuffer.cutFrom($parent.meanings),
                                css: { cutItemNonFirst: $root.ui.cutBuffer.containsMeanings },
                                visible: $root.ui.cutBuffer.emptyOrContainsMeanings"></a>

                            <span data-bind="visible: metaphorical">►</span>{{ space }}
                            <span data-bind="visible: substantivus">
                                <span class="substantivus">в роли сущ.</span>
                                <span data-bind="visible: substantivus_type">
                                    {{ space }}
                                    <span class="substantivus"
                                        data-bind="text: substantivus_type.label"></span>
                                </span>
                            </span>{{ space }}
                            <i data-bind="visible: figurative">перен.</i>{{ space }}
                            <span data-bind="text: meaning"></span>
                                <span data-bind="visible:
                                    meaning() && gloss()">;{{ space }}</span>
                            <i data-bind="text: gloss"></i>

                            <ul class="examples" data-bind="sortable:
                                    { data: examples, afterMove: examples.sortMe },
                                visible: isExpanded">
                                <li data-bind="event: { dblclick: function(){} },
                                  dblclickBubble: false,
                                  css: { wordform_example: wordform_example,
                                    extra_example: !wordform_example() &&
                                      $index() >= $parent.numex() }">
                                    <a class="dragItem" data-bind="visible:
                                     $parent.examples().length > 1"></a>
                                    <a class="deleteItem" data-bind="click:
                                     $parent.examples.itemPoolReturner($data).do"></a>
                                    <a class="editItem" data-bind="click: edit"></a>
                                    <a class="cutItem" data-bind="
                                        click: $root.ui.cutBuffer.cutFrom($parent.examples),
                                        css: { cutItemNonFirst: $root.ui.cutBuffer.containsExamples },
                                        visible: $root.ui.cutBuffer.emptyOrContainsExamples"></a>
                                    <span data-bind="wax: example"></span>{{ space }}
                                    (<span data-bind="text: address_text"></span>)
                                </li>
                            </ul>
                            <div data-bind="visible: isExpanded">
                                <a class="pasteItems" data-bind="
                                    click: $root.ui.cutBuffer.pasteInto(examples),
                                    visible: $root.ui.cutBuffer.containsExamples"></a>
                                <a class="addItem" data-bind="click:
                                    examples.itemAdder($data, $root.data.entry,
                                    $parent).do"></a>
                            </div>

                        </li>

                    </ul>
                    <div data-bind="visible: isExpanded">
                        <a class="pasteItems" data-bind="
                            click: $root.ui.cutBuffer.pasteInto(meanings),
                            visible: $root.ui.cutBuffer.containsMeanings"></a>
                        <a class="addItem" data-bind="
                            click: meanings.itemAdder($parent, $data).do"></a>
                    </div>



                </li>
            </ul>
            <div data-bind="visible: isExpanded">
                <a class="pasteItems" data-bind="
                    click: $root.ui.cutBuffer.pasteInto(meanings),
                    visible: $root.ui.cutBuffer.containsMeanings"></a>
                <a class="addItem" data-bind="
                    click: meanings.itemAdder($parent).do"></a>
            </div>

        </li>
    </ul>
    <a class="pasteItems" data-bind="
        click: $root.ui.cutBuffer.pasteInto(collogroups),
        visible: $root.ui.cutBuffer.containsCollogroups"></a>
    <a class="addItem"
        data-bind="click: collogroups.itemAdder($data).do"></a>

    <!-- /ko -->
</section>
</script>
