<script type="text/html" id="meaningContexts">
<section class="orthvars" data-bind="if:
    constructor.name === 'Meaning' && !$root.ui.hierarchy.usage()">

    <ul class="meaningContexts" data-bind="sortable: contexts">
        <li><div class="grid">

            <a class="dragItem" data-bind="visible:
                $parent.contexts().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.contexts.itemDestroyer($data).do"></a>

            <label data-help="MeaningContext.left_text">
                <span>гражд.</span>
                <input type="text" data-bind="textInput: left_text"
                       data-help="MeaningContext.left_text"
                       maxlength="{{ MAX_LENGTHS.MeaningContext.left_text }}"/>
            </label>

            <label data-help="MeaningContext.context">
                <span>цсл.</span>
                <input type="text" data-bind="textInput: context"
                       data-help="MeaningContext.context"
                       maxlength="{{ MAX_LENGTHS.MeaningContext.context }}"/>
            </label>

            <label data-help="MeaningContext.right_context">
                <span>гражд.</span>
                <input type="text" data-bind="textInput: right_text"
                    data-help="MeaningContext.right_context"
                    maxlength="{{ MAX_LENGTHS.MeaningContext.right_text }}"/>
            </label>

            <div>
                <span data-bind="text: left_text"></span>{{ space }}
                <span data-bind="wax: context"></span>{{ space }}
                <span data-bind="text: right_text"></span>
            </div>

        </div></li>
    </ul>

    <a class="addItem"
        data-bind="click: contexts.itemAdder($data).do"></a>

</section>
</script>
