<script type="text/html" id="editExample">
<section data-bind="if: constructor.name === 'Example'">
<div id="eE--editExample" class="grid">

    <label data-help="Example.wordform_example" style="display:none"
           data-bind="visible: showWFExCheck">
        <input type="checkbox" data-bind="checked: wordform_example"
            data-help="Example.wordform_example">
        <span style="margin-left: 0.75em; position: relative; top: 0.25em">
            Грамматическая/иная особенность</span>
    </label>

    <label data-help="Example.dont_lowercase" style="display:none"
           data-bind="visible: true">
        <input type="checkbox" data-bind="checked: dont_lowercase"
            data-help="Example.dont_lowercase">
        <span style="margin-left: 0.75em; position: relative; top: 0.25em">
            Не понижать в иллюстрации регистр символов</span>
    </label>

    <div class="eE--example">
        <div data-help="Example.example">
            <label>Иллюстрация</label>
            <textarea data-bind="textInput: example"
                      data-help="Example.example"></textarea>
        </div>

        <div class="eE--exampleWax" data-bind="exampleWithTranslation: example"></div>
    </div>

    <div id="eE--address" data-help="Example.address_text">
        <label>Адрес</label>
        <textarea data-bind="textInput: address_text"
                  data-help="Example.address_text"></textarea>
    </div>

    <!-- ko ifnot: wordform_example -->
    <nav data-bind="visible: !context.isVisible()">
        <a data-bind="click: context.isVisible.bind($data, true)">
            Более широкий контекст (для грециста)
        </a>
    </nav>

    <div class="eE--example" data-bind="visible: context.isVisible"
      data-help="Example.context">
        <div>
            <label>Более широкий контекст (для грециста)</label>
            <textarea data-bind="textInput: context,
             hasFocus: context.isVisible, event: {
                blur: context.isVisible.bind($data, false) }"
             data-help="Example.context"></textarea>
        </div>

        <div class="eE--exampleWax" data-bind="wax: context"></div>
    </div>

    <div class="eE--status" data-help="Example.greek_eq_status">
        <label>Статус греческих параллелей</label>
        <div>{% for id, name in GREEK_EQ_STATUSES %}
        <label data-bind="css: { checked: greek_eq_status() == '{{ id }}' }">
            <input type="radio" name="greekeqstatus"
                value="{{ id }}" data-bind="checked: greek_eq_status"
                data-help="Example.greek_eq_status">
            {{ space }}{{ name }}
        </label>
        {% endfor %}</div>
    </div>

    <div style="clear: both; margin-top: 24em"
        data-bind="template: { name: 'translations', data: $data }"></div>
    <!-- /ko -->

</div>
</section>
</script>
