<script type="text/html" id="translations">
<section class="orthvars">

    <ul class="translations" data-bind="sortable: translations">
        <li>

            <a class="dragItem" data-bind="visible:
                $parent.translations().length > 1"></a>
            <a class="deleteItem" data-bind="click:
                $parent.translations.itemDestroyer($data).do"></a>

            <label>
                <span>Не отображать в статье</span>
                <input type="checkbox" data-bind="checked: hidden" />
            </label>

            <label style="margin-left: 3em">
                <span>Перевод не всего примера, а только части</span>
                <input type="checkbox" data-bind="checked: fragmented" />
            </label>

            <div style="clear: both; margin-top: 1em;"
                data-bind="visible: fragmented">

                <label>Выбрать фрагмент</label>
                <div data-bind="slider: { valueMin: fragment_start,
                    valueMax: fragment_end }, sliderOptions: {
                    min: 1, max: 40, step: 1, range: true }"
                    style="width: 85%"></div>

            </div>

            <div style="clear: both; position: relative; height: 1em;"></div>
            <div class="eE--translation">
                <label>Перевод</label>
                <textarea data-bind="textInput: translation"></textarea>
            </div>
            <div class="eE--translation">
                <label>Примечание</label>
                <textarea data-bind="textInput: additional_info"></textarea>
            </div>

            <br style="float:none; clear:both">
        </li>
    </ul>

    <a class="addItem"
        data-bind="click: translations.itemAdder($data).do"></a>

</section>
</script>
