{% extends 'base.html' %}

{% block shapka %}{% endblock %}

{% block content %}

{% if is_paged %}
    <style>
        .goodness label {
            font-size: 12px;
            padding: 5px;
            display: block;
            width: 50px;
            float: left;
        }
        .goodness label:first-child:hover {
            background-color: rgba(255,0,0,0.2);
        }
        .goodness label:nth-child(2n):hover {
            background-color: rgba(255,200,0,0.2);
        }
        .goodness label:nth-child(3n):hover {
            background-color: rgba(0,255,0,0.2);
        }
        .goodness:after {
            content: '';
            display: block;
            height: 20px;
            clear: both;
            margin-bottom: 140px;
        }
        .goodness.red { background-color: red }
    </style>
{% endif %}

    <style>
        @media print {
            div#main {
                column-count: 1;
                column-width: 11cm;
            }
            .FirstParagraph,
            .MeaningParagraph,
            .CollogroupParagraph,
            .CfParagraph {
                line-height: 0.9cm;
            }
        }

{% if hide_authors %}
        .author {
            display: none;
        }
{% endif %}

    </style>


<script src="{{ STATIC_URL }}js/getCookie.js?{{ STATIC_RESOURCES_VERSION }}"
    type="application/javascript" charset="utf-8"></script>

<div{% if not is_paged and not not_editable %}
        contenteditable="true"
    {% endif %}>
    {% for entry in entries %}
        <div style="position: relative;">

        {% if show_numbers %}
            <a href="/entries/{{ entry.id }}/" target="_blank"
                style="position: absolute; top: -27px; color: #369;">
                <span>[{{ loop.index }}-</span><b>{{ entry.id }}</b>]
            </a>
        {% endif %}

        {% include 'web/entry.html' %}

        {% if is_paged %}
            <div class="goodness">

                {% for goodness, goodness_text in (('b', '–'), ('s', '±'), ('g', '+')) %}

                    <label>
                        <input type="radio"
                            name="good{{ entry.id }}" value="{{ goodness }}"
                            onchange="
                                var self = this;
                                $.ajax({
                                    method: 'POST',
                                    url: '/json/goodness/save/',
                                    data: { id: {{ entry.id }},
                                            goodness: '{{ goodness }}' },
                                    beforeSend: function (request) {
                                        request.setRequestHeader('X-CSRFToken', csrftoken);
                                    },
                                    error: function () {
                                                $(self)
                                                    .parent()
                                                    .parent()
                                                    .addClass('red');
                                        }
                                });"
                            {% if entry.good == goodness %}checked{% endif %} />
                        {{ goodness_text }}
                    </label>

                {% endfor %}

            </div>
        {% endif %}

        </div>
    {% endfor %}

    {% if is_paged %}
        {% include '_pagination.html' %}
    {% endif %}
    </div>

    {% include '_script.Hyphenator.html' %}

{% endblock %}
