{% extends 'base.html' %}

{% block header %}

    {{ space }}
    <a href="{{ url('all_entries_url') }}"
        class="header--item button">Все статьи</a>

    <span style="position: relative;">

        {{ space }}
        <input type="text" name="hdrSearch"
           class="header--item-left header--item-block search"
           data-bind="textInput: searchPrefix,
                event: { keydown: navigateFoundItems, blur: flushItems }"
           autocomplete="off"
           spellcheck="false"
        /><span class="header--item-right button"
                data-bind="click: formSubmit">Найти</span>

        <ul class="SC--foundItems hidden"
            data-bind="foreach: foundItems,
            css: { hidden: foundItems().length == 0 }">

            <li class="SC--foundItem"
                data-bind="css: { 'SC--foundItem-focused': isFocused },
                           event: {
                               mousedown: function(){ $parent.go($data); },
                               mouseover: function(){ $data.focusMe(); }
                           }">
                <span class="SC--fI--headword" data-bind="text: headword"></span>
                <span class="SC--fI--homonym" data-bind="text: hom"></span>
                {{ space }}
                <span class="SC--fI--pOS" data-bind="text: pos"></span>
                {{ space }}
                <span class="SC--fI--hint" data-bind="text: hint"></span>
            </li>

        </ul>

    </span>

    {{ space }}
    <a href="{{ url('converter') }}" class="header--item button">Конвертър</a>

    {% if user.is_admeditor or user.is_hellinist %}
        {{ space }}
        <a href="{{ url('hellinist_workbench') }}"
            class="header--item button">Греческий кабинет</a>
    {% endif %}

    <span class="right-justification">
        <a href="https://docs.google.com/document/d/1AmrZZgBa4BdTlhvyyBEN8n5KYD0-f_AC04Jd-v_pdjU"
           class="header--item button"
           target="_blank">Список сокращений</a>{{ space }}
        <a href="/materials/" class="header--item button"
           target="_blank">Материалы</a>
    </span>
{% endblock %}

{% block javascript_links %}

    <script src="{{ STATIC_URL }}js/hdrSearch.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% endblock %}
