<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="{{ STATIC_URL }}{% block css %}style.css?{{ STATIC_RESOURCES_VERSION }}{% endblock %}"
            rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <noscript>Для правильной работы данной лексикографической
        системы необходимо, чтобы у Вас был включен JavaScript.</noscript>


        {% block shapka %}
        {% trim %}
        <form class="headerForm" method="post"
            action="{% block headerFormAddress %}{{ url('all_entries_url') }}{% endblock %}">
            {{ csrf_input }}

            <div class="header"><div class="grid without-overflow">
                {% block header %}{% endblock %}
            </div></div>

            {% block subheader %}{% endblock %}

        </form>
        {% endtrim %}
        {% endblock shapka %}


        <div id="main">
            {% block content %}{% endblock %}
        </div>


        {% include '_script.jquery.html' %}
        {% include '_script.knockoutjs.html' %}

        {% block javascript_links %}{% endblock %}
        {% block javascript %}{% endblock %}

    </body>
</html>
