{% extends 'base.html' %}

{% block content %}
    <style>
        #window-container { position: relative; }
        #antconc-convertee, #ucs8-raw, #ucs8,
            #step1, #step2, #step3 { position: absolute; }

        #step1 { top: 25px; }
        #step1, #step2, #step3 { width: 37%; height: 100px; }
        #step1 .main, #step2 .main, #step3 .main { width: 84%; float: right; display: block; }
        #antconc-convertee { width: 60%; height: 100px; top: 25px; left: 42%; }

        #step2 { top: 165px; }
        #ucs8-raw { top: 165px; left: 42%; width: 60%; height: 100px; }

        #step3 { top: 305px; height: 107px; }
        #ucs8 { left: 42%; top: 300px; width: 60%; }

        textarea {
            padding: 7px;
            background-color: #eafcd5;
            border: 1px solid #b9d796;
            color: #648044;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px; }
        #antconc-convertee {
            background-color: #d5dffc;
            border: 1px solid #bbc4df;
            color: #626f94;
        }

        textarea:active, textarea:focus, textarea:hover {
            outline: none; }
    </style>

    <div id="window-container">

        <div class="message" id="step1">
            <u>Шаг 1</u>.
            <span class="main">Поместите в голубое поле текст из АнтКонка
                на место уже имеющегося там иллюстративного текста.</span>
        </div>

        <textarea id="antconc-convertee" class="antconsol">{{ convertee }}</textarea>

        <div class="message" id="step2">
            <u>Шаг 2</u>.
            <span class="main">Скопируйте из зелёного поля получившийся текст
            <span class="nobr">в текстовый</span> редактор.</span>
        </div>
        
        <textarea id="ucs8-raw" class="antconsol"></textarea>

        <div class="message" id="step3">
            <u>Шаг 3</u>.
            <span class="main">Чтобы текст принял нормальный вид,
            назначьте ему <span class="nobr">в редакторе</span> шрифт
            наподобие «Irmologion UCS». В названии шрифта должно обязательно фигурировать «UCS», например,
            «Triodion UCS», «Hirmos UCS», «Akathistos UCS» и т.п.</span>
        </div>

        <div id="ucs8" class="cslav"></div>

    </div>

    <script src="{{ STATIC_URL }}js/libs/jquery-1.4.4.min.js"></script>
    <script src="{{ STATIC_URL }}js/libs/ac2ucs8.js"></script>
    <script>
       $(function(){
          var x = antconc_ucs8($('#antconc-convertee').val(), false);
          $('#ucs8-raw').val(x);
          $('#ucs8').html(x);
          $('#antconc-convertee').keyup(function(){
              var x = antconc_ucs8($(this).val(), false);
              $('#ucs8-raw').val(x);
              $('#ucs8').html(x)
          });
       });
    </script>
{% endblock %}

