{% extends "error.html" %}
{% block title %}Импорт заготовок словарных статей{% endblock %}
{% block main %}
    {% if form.errors %}
    <div class="form-error">
        {% for error in form.non_field_errors %}
            <div{% if loop.first %} class="first" {% endif %}>
                {{ error }}
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post"
        enctype="multipart/form-data"
        action="{{ get_parameters }}" class="form">

            {{ csrf_input }}

            Вы собираетесь создать в базе заготовки словарных статей на основе
            информации из CSV-файла.

            {{ form.csvfile.errors }}
            {{ form.csvfile }}

            <input type="submit" value="Импортировать" />

    </form>
{% endblock main %}
