{% extends 'base.html' %}
{% load trim_spaces %}
{% block content %}
    {% trim %}
    {% if entries %}
        <table>
            <col class="eli-control"></col>
            <col class="eli-entry"></col>
            <col class="eli-author"></col>
            <col class="eli-mtime"></col>
            <col class="eli-status"></col>

        {% for entry in entries %}
            <tr class="entry-list-item">

                <td class="eli-control first">
                
                    <div class="shade"> {# div.shade должен быть обязательно в такой ячейке, где с гарантией буде #}
                        <div class="center"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>

                    {% if not entry.editor or user.is_superuser or 'editors' in user.groups.all|stringformat:"s" or 'admins' in user.groups.all|stringformat:"s" or user == entry.editor %}
                        <a href="{% url intermediary_change_form_url entry.pk %}" class="icon edit">
                            <img src="{{ STATIC_URL }}transparent.png" alt="e" />
                        </a>
                        <span class="hint-container">
                            <div class="hint">Редактировать<br/>статью</div>
                        </span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>

                <td class="eli-control">
                    <a href="{{ entry.get_absolute_url }}" class="icon view">
                        <img src="{{ STATIC_URL }}transparent.png" alt="v" />
                    </a>
                    <span class="hint-container">
                        <div class="hint">Просмотреть<br/>статью</div>
                    </span>
                </td>

                <td class="eli-entry">
                    <nobr>
                        <a href="{{ entry.get_absolute_url }}" class="manual-entry">
                            <span class="cslav">{{ entry.orth_vars.0.idem_ucs }}</span>
                        </a>
                        {% if entry.homonym_order %}
                            &nbsp;{{ entry.homonym_order_roman }}
                            <span class="ss">
                                &nbsp;&nbsp;&nbsp;
                                <i>{{ entry.part_of_speech.tag }}</i>
                                {% if entry.homonym_gloss %}
                                    {% space %}
                                    <span class="caps">{{ entry.homonym_gloss }}</span>
                                {% endif %}
                            </span>
                        {% endif %}
                    </nobr>
                </td>

                <td class="eli-author">
                
                    <div class="fade"><div></div></div>

                    {% if entry.editor %}
                        <span class="ss">{{ entry.editor }}</span>
                    {% else %}
                        <span class="ssn">&lt; Автор не назначен &gt;</span>
                    {% endif %}
                </td>

                <td class="eli-mtime">
                    <span class="ss">
                        {{ entry.mtime|date:"d.m.Y, H:i" }}
                    </span>
                </td>

                <td class="eli-status">
                    <span class="ss">{{ entry.status.tag }}</span>
                </td>

            </tr>
        {% endfor %}
        </table>
    {% endif %}

    <div class="pagination">

        {% if page.has_previous %}
            {% if page.number > 4 %}
                <a href="?page=1">1</a>
                {% space %}...{% space %}
            {% else %}
                {% if page.number > 2 %}
                    <a href="?page=1">1</a>
                    {% space %}
                    {% ifequal page.number 4 %}
                        <a href="?page=2">2</a>
                        {% space %}
                    {% endifequal %}
                {% endif %}
            {% endif %}
            <a href="?page={{ page.previous_page_number }}">
                {{ page.previous_page_number }}
            </a>
            {% space %}
        {% endif %}

        <a class="current-page">{{ page.number }}</a>

        {% if page.has_next %}
            {% space %}
            <a href="?page={{ page.next_page_number }}">
                {{ page.next_page_number }}
            </a>
            {% if page.number < page.paginator.num_pages|add:"-3" %}
                {% space %}...{% space %}
                <a href="?page={{ page.paginator.num_pages }}">
                    {{ page.paginator.num_pages }}
                </a>
            {% else %}
                {% if page.number < page.paginator.num_pages|add:"-1" %}
                    {% ifequal page.number page.paginator.num_pages|add:"-3" %}
                        {% space %}
                        <a href="?page={{ page.paginator.num_pages|add:"-2" }}">
                            {{ page.paginator.num_pages|add:"-2" }}
                        </a>
                    {% endifequal %}
                    {% space %}
                    <a href="?page={{ page.paginator.num_pages|add:"-1" }}">
                        {{ page.paginator.num_pages|add:"-1" }}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
    {% endtrim %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $('tr').mouseover(function(){
            $(this).addClass('hover');
        }).mouseout(function(){
            $(this).removeClass('hover');
        });
        $('.icon').mouseover(function(){
            $(this).next('.hint-container').show();
        }).mouseout(function(){
            $(this).next('.hint-container').hide();
        });

    </script>
{% endblock %}