{% extends 'base.html' %}
{% load trim_spaces %}
{% block content %}
    {% if not entries %}
        <div class="message">
        {% if find_prefix %}
            К сожалению, ни одной словарной статьи, начинающейся <span
            class="nowrap">с <b class="red caps">{{ find_prefix.lower }}...</b>, не найдено.</span>
            Пожалуйста, проверьте Ваш запрос на наличие опечаток или измените его
            в целях поиска другого слова. Поиск производится без учёта регистра символов.
        {% else %}{% if mine %}
            К сожалению, в базе данных пока не содержится ни одной словарной статьи, для которой Вы являетесь автором.
        {% else %}
            К сожалению, ни одной словарной статьи, удовлетворяющей Вашему запросу, не найдено.
        {% endif %}{% endif %}
        </div>
    {% endif %}

    {% trim %}
    {% if entries %}
        <table class="entry-list">
            <col class="eli-control" />
            <col class="eli-entry" />
            <col class="eli-author" />
            <col class="eli-mtime" />
            <col class="eli-status" />

            {% if entries|length > 1 %}
            <tr class="control-row">
                <td class="eli-control first"></td>
                <td class="eli-control"></td>
                <td class="eli-entry">
                    <span class="ssn anchor{% ifequal sort 'alph' %} on{% endifequal %}" value="alph"
                          title="Упорядочить по возрастанию">↓</span>
                    <span class="ssn anchor{% ifequal sort '-alph' %} on{% endifequal %}" value="-alph"
                          title="Упорядочить по убыванию">↑</span>
                    <span class="ssn white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;по алфавиту</span>
                </td>
                <td class="eli-author"></td>
                <td class="eli-mtime">
                    <span class="ssn anchor{% ifequal sort 't' %} on{% endifequal %}" value="t"
                          title="Упорядочить по возрастанию">↓</span>
                    <span class="ssn anchor{% ifequal sort '-t' %} on{% endifequal %}" value="-t"
                          title="Упорядочить по убыванию">↑</span>
                    <span class="ssn white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;по вр. изм.</span>
                </td>
                <td class="eli-status"></td>
            </tr>
            {% endif %}

        {% for entry in entries %}
            <tr class="entry-list-item">

                <td class="eli-control first">

                    <div class="shade">
                        <div class="center"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>

                    {% if not entry.editor or user.is_admeditor or user == entry.editor %}
                        <a href="{% url intermediary_change_form_url entry.pk %}" class="icon edit">
                            <img src="{{ STATIC_URL }}transparent.png" alt="e" />
                        </a>
                        <span class="hint-container">
                            <div class="hint">Редактировать<br/>статью</div>
                        </span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>

                <td class="eli-control">
                    <a href="{{ entry.get_absolute_url }}" class="icon view">
                        <img src="{{ STATIC_URL }}transparent.png" alt="v" />
                    </a>
                    <span class="hint-container">
                        <div class="hint">Просмотреть<br/>статью</div>
                    </span>
                </td>

                <td class="eli-entry">

                    <div class="fade">
                        <div>
                            <a href="{{ entry.get_absolute_url }}" class="manual-entry">
                                 <span class="cslav">{{ entry.orth_vars.0.idem_ucs }}</span>
                                 {% if entry.homonym_order %}
                                     &nbsp;{{ entry.homonym_order_roman }}
                                 {% endif %}
                            </a>
                            <span class="ss transparent">
                                &nbsp;&nbsp;&nbsp;
                                <i>{{ entry.part_of_speech.tag }}</i>
                                {% if entry.homonym_gloss %}
                                    {% space %}
                                    <span class="caps" title="{{ entry.homonym_gloss }}">{{ entry.homonym_gloss }}</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <a href="{{ entry.get_absolute_url }}" class="manual-entry invisible">
                        <span class="cslav">{{ entry.orth_vars.0.idem_ucs }}</span>
                {% if entry.homonym_order %}
                        &nbsp;{{ entry.homonym_order_roman }}
                    </a>
                        <span class="ss">
                            &nbsp;&nbsp;&nbsp;
                            <i>{{ entry.part_of_speech.tag }}</i>
                            {% if entry.homonym_gloss %}
                                {% space %}
                                <span class="caps">{{ entry.homonym_gloss }}</span>
                            {% endif %}
                        </span>
                {% else %}
                    </a>
                {% endif %}
                </td>

                <td class="eli-author">

                    {% if entry.editor %}
                        <span class="ss">{{ entry.editor }}</span>
                    {% else %}
                        <span class="ssn">&lt; Автор не назначен &gt;</span>
                    {% endif %}
                </td>

                <td class="eli-mtime">
                    <span class="ss">
                        {{ entry.mtime|date:"d.m.Y, H:i" }}
                    </span>
                </td>

                <td class="eli-status">
                    <span class="ss">{{ entry.status.tag }}</span>
                </td>

            </tr>
        {% endfor %}

            <tr class="entry-list-item last">

                <td class="eli-control first">
                    <div class="shade">
                        <div class="center"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                </td>

                <td class="eli-control"></td>
                <td class="eli-entry"></td>
                <td class="eli-author"></td>
                <td class="eli-mtime"></td>
                <td class="eli-status"></td>

            </tr>

        </table>
    {% endif %}

    {% if page.paginator.num_pages > 1 %}
    <div class="pagination">

        {% if page.has_previous %}
            {% if page.number > 4 %}
                <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page=1">1</a>
                {% space %}...{% space %}
            {% else %}
                {% if page.number > 2 %}
                    <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page=1">1</a>
                    {% space %}
                    {% ifequal page.number 4 %}
                        <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page=2">2</a>
                        {% space %}
                    {% endifequal %}
                {% endif %}
            {% endif %}
            <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page={{ page.previous_page_number }}">
                {{ page.previous_page_number }}
            </a>
            {% space %}
        {% endif %}

        <a class="current-page">{{ page.number }}</a>

        {% if page.has_next %}
            {% space %}
            <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page={{ page.next_page_number }}">
                {{ page.next_page_number }}
            </a>
            {% if page.number < page.paginator.num_pages|add:"-3" %}
                {% space %}...{% space %}
                <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page={{ page.paginator.num_pages }}">
                    {{ page.paginator.num_pages }}
                </a>
            {% else %}
                {% if page.number < page.paginator.num_pages|add:"-1" %}
                    {% if page.number < page.paginator.num_pages|add:"-2" %}
                        {% space %}
                        <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page={{ page.paginator.num_pages|add:"-1" }}">
                            {{ page.paginator.num_pages|add:"-1" }}
                        </a>
                    {% endif %}
                    {% space %}
                    <a href="?{% if find_prefix %}find={{ find_prefix }}&{% endif %}page={{ page.paginator.num_pages }}">
                        {{ page.paginator.num_pages }}
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
    {% endif %}
    {% endtrim %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function getDictFromURIQS(){
            var qs = window.location.search;
            qs = qs.slice(1);
            var qsDict = {};
            if (qs) {
                var params = qs.split("&");
                for (var i=0; i < params.length; i++){
                    var keyvalue = params[i].split("=");
                    qsDict[keyvalue[0]] = keyvalue[1];
                }
            }
            return qsDict;
        }
        var QUERY_STRING = getDictFromURIQS();
        $('tr').mouseover(function(){
            $(this).addClass('hover');
        }).mouseout(function(){
            $(this).removeClass('hover');
        });
        $('.icon').mouseover(function(){
            $(this).next('.hint-container').show();
        }).mouseout(function(){
            $(this).next('.hint-container').hide();
        });
        $(".anchor").click(function(){
            var x = $(this);
            if ( ! (x.hasClass('on')) ) {
                QUERY_STRING['sort'] = x.attr('value');
                window.location = "?" + $.param(QUERY_STRING);
            }
        });
    </script>
{% endblock %}
