{% extends 'base--hdrSearch.html' %}

{% set sort = form['sortdir'].value() + form['sortbase'].value() %}
{% set filters = form.cleaned_data %}

{% block header %}

    <a class="header--item button"
        data-bind="click: function(){
            var x = vM.filters;
            x.author('{{ user.id }}');
            x.isOperated(true);
        }">Мои статьи</a>
    {{ super() }}

{% endblock %}

{% block subheader %}

    <div class="filters">
        <div class="f5s--statusbar"
            data-bind="slide: isOperated() || notDefaultState()"><div class="grid">

            <span class="f5sS--total"
                data-bind="visible: !notInitialState()">
                {{ space }}
                Найдено статей:
                {{ space }}
                <strong>{{ number_of_entries }}</strong>
                {{ space }}
            </span>

            <strong data-bind="visible: notDefaultState">Выбранные фильтры</strong>
            <strong data-bind="visible: !notDefaultState()">Ни один фильтр не выбран</strong>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: find">
                {{ space }}
                статьи на
                {{ space }}
                <span class="f5sSI--prefix"><span data-bind="text: find"></span>...</span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !author.hasDefaultValue()">
                <span data-bind="text: author.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !status.hasDefaultValue()">
                <span data-bind="text: status.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !pos.hasDefaultValue()">
                <span data-bind="text: pos.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: uninflected">неизм.</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !gender.hasDefaultValue()">
                <span data-bind="text: gender.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !tantum.hasDefaultValue()">
                <span data-bind="text: tantum.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !possessive.hasDefaultValue()">
                <span data-bind="text: possessive.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !onym.hasDefaultValue()">
                <span data-bind="text: onym.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: !canonical_name.hasDefaultValue()">
                <span data-bind="text: canonical_name.obj().name"></span>
            </span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: etymology">с этимологией</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: collocations">со словосочетаниями</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: meaningcontexts">с контекстами значения</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: additional_info">с примечаниями</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: homonym">омонимы</span>

            {{ space }}
            <span class="f5sS--item" data-bind="visible: duplicate">дубликаты</span>

        </div></div>
        <div class="f5s--dashboard" data-bind="slide: isOperated"><div class="grid"
                ondblclick="
                    var x = $(this);
                    if (x.hasClass('grid-debug'))
                        x.removeClass('grid-debug');
                    else
                        x.addClass('grid-debug');
                ">

            <div class="f5sD--sort">
            <h3>Упорядочить статьи</h3>

                {{ form.sortdir }}

                <label for="id_sortbase">на основе</label>
                {{ form.sortbase }}

            </div>

            <div class="f5sD--filter">

                <div class="A">
                    <h3>Отобрать статьи по следующим критериям</h3>

                    <div class="AA">
                    {{ form.find.label_tag() }}
                    {{ form.find }}

                    </div>

                    <div class="AB">
                    {{ form.author.label_tag() }}
                    {{ form.author }}

                    {{ form.status.label_tag() }}
                    {{ form.status }}
                    </div>
                </div>

                <div class="B">
                    <div class="BA">
                    {{ form.pos.label_tag() }}
                    {{ form.pos }}

                    {{ form.uninflected.label_tag() }}
                    {{ form.uninflected }}

                    {{ form.gender.label_tag() }}
                    {{ form.gender }}

                    {{ form.tantum.label_tag() }}
                    {{ form.tantum }}
                    </div>

                    <div class="BB">
                    {{ form.onym.label_tag() }}
                    {{ form.onym }}

                    {{ form.canonical_name.label_tag() }}
                    {{ form.canonical_name }}

                    {{ form.possessive.label_tag() }}
                    {{ form.possessive }}
                    </div>

                    <div class="BC">
                    {{ form.etymology }}
                    {{ form.etymology.label_tag() }}

                    {{ form.collocations }}
                    {{ form.collocations.label_tag() }}

                    {{ form.meaningcontexts }}
                    {{ form.meaningcontexts.label_tag() }}

                    {{ form.additional_info }}
                    {{ form.additional_info.label_tag() }}

                    {{ form.homonym }}
                    {{ form.homonym.label_tag() }}

                    {{ form.duplicate }}
                    {{ form.duplicate.label_tag() }}
                    </div>
                </div>

            </div>
            <div class="f5sD--buttons">

                <span data-bind="click: getDefaultState, visible: notDefaultState"
                    class="button f5sD--reset">сбросить</span>
                <span data-bind="visible: !notDefaultState()"
                    class="button f5sD--reset disabled">сбросить</span>

                <span data-bind="click: formSubmit, visible: notInitialState"
                    class="button f5sD--submit">применить</span>
                <span data-bind="visible: !notInitialState()"
                    class="button f5sD--submit disabled">применить</span>

            </div>

        </div></div>

        <div class="f5s--advertiser"><div class="grid">

            <span class="f5sA--label"
                data-bind="click: isOperated.toggle,
                show: !isOperated()">фильтры</span>
            <span class="f5sA--label"
                data-bind="click: closeFilters,
                show: isOperated">закрыть</span>

        </div></div>

    </div>

{% endblock %}


{% block content %}

    {% if not entries %}
        <div class="message">
        {% if filters.find %}
            К сожалению, ни одной словарной статьи, начинающейся <span
            class="nowrap">с <b class="red caps">{{ filters.find.lower() }}...</b>, не найдено.</span>
            Пожалуйста, проверьте Ваш запрос на наличие опечаток или измените его
            в целях поиска другого слова. Поиск производится без учёта регистра символов.
        {% else %}
            К сожалению, ни одной словарной статьи, удовлетворяющей Вашему запросу, не найдено.
        {% endif %}
        </div>
    {% endif %}

    {% trim %}
    {% if entries %}
        <table class="entry-list">
            <col class="eli-control" />
            <col class="eli-entry" />
            <col class="eli-author" />
            <col class="eli-mtime" />
            <col class="eli-status" />

            {% if entries|length > 1 %}
            <tr class="control-row">
                <td class="eli-control first"></td>
                <td class="eli-control"></td>
                <td class="eli-entry">
                    <span class="ssn anchor"
                          data-bind="css: { on: sort() === 'alph' },
                                   click: doSort.bind($data, 'alph')"
                          title="Упорядочить по возрастанию">↓</span>
                      <span class="ssn anchor"
                          data-bind="css: { on: sort() === '-alph' },
                                   click: doSort.bind($data, '-alph')"
                          title="Упорядочить по убыванию">↑</span>
                    <span class="ssn white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;по алфавиту</span>
                </td>
                <td class="eli-author"></td>
                <td class="eli-mtime">
                    <span class="ssn anchor"
                          data-bind="css: { on: sort() === 't' },
                                   click: doSort.bind($data, 't')"
                          title="Упорядочить по возрастанию">↓</span>
                    <span class="ssn anchor"
                          data-bind="css: { on: sort() === '-t' },
                                   click: doSort.bind($data, '-t')"
                          title="Упорядочить по убыванию">↑</span>
                    <span class="ssn white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;по вр. изм.</span>
                </td>
                <td class="eli-status"></td>
            </tr>
            {% endif %}

        {% for entry in entries %}
            <tr class="entry-list-item">

                <td class="eli-control first">

                    <div class="shade">
                        <div class="center"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>

                    {% if not entry.editor or user.is_admeditor or user == entry.editor %}
                        {% if not entry.duplicate or user.is_admeditor %}
                        <a href="{% url intermediary_change_form_url entry.pk %}" class="icon edit">
                            <img src="{{ STATIC_URL }}transparent.png" alt="e" />
                        </a>
                        <span class="hint-container">
                            <div class="hint">Редактировать<br/>статью</div>
                        </span>
                        {% else %}&nbsp;{% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>

                <td class="eli-control">
                    <a href="{{ entry.get_absolute_url() }}" class="icon view">
                        <img src="{{ STATIC_URL }}transparent.png" alt="v" />
                    </a>
                    <span class="hint-container">
                        <div class="hint">Просмотреть<br/>статью</div>
                    </span>
                </td>

                <td class="eli-entry">

                    <div class="fade">
                        <div>
                            <a href="{{ entry.get_absolute_url() }}" class="manual-entry">
                                 <span class="cslav">{{ entry.orth_vars.0.idem_ucs }}</span>
                                 {% if entry.homonym_order %}
                                     <sup class="serif">{{ entry.homonym_order }}</sup>
                                 {% endif %}
                            </a>

                            {% if entry.duplicate %}
                                &nbsp;<span class="noaddress">дубликат</span>
                            {% endif %}

                            <span class="ss transparent">
                                &nbsp;&nbsp;&nbsp;
                                {% if not entry.is_part_of_speech("letter") and
                                      not entry.is_part_of_speech("number") %}
                                    <i>{{ entry.get_part_of_speech_display() }}</i>
                                {% endif %}
                                {% if entry.homonym_gloss %}
                                    {{ space }}
                                    <span class="caps" title="{{ entry.homonym_gloss }}">{{ entry.homonym_gloss }}</span>
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <a href="{{ entry.get_absolute_url() }}" class="manual-entry invisible">
                        <span class="cslav">{{ entry.orth_vars.0.idem_ucs }}</span>
                {% if entry.homonym_order %}
                    <sup class="serif">{{ entry.homonym_order }}</sup>
                    </a>
                        <span class="ss">
                            &nbsp;&nbsp;&nbsp;
                            {% if not entry.is_part_of_speech("letter") and
                                  not entry.is_part_of_speech("number") %}
                                <i>{{ entry.get_part_of_speech_display() }}</i>
                            {% endif %}
                            {% if entry.homonym_gloss %}
                                {{ space }}
                                <span class="caps">{{ entry.homonym_gloss }}</span>
                            {% endif %}
                        </span>
                {% else %}
                    </a>
                {% endif %}
                </td>

                <td class="eli-author">

                    {% if entry.editor %}
                        <span class="ss">{{ entry.editor }}</span>
                    {% else %}
                        <span class="ssn">&lt; Автор не назначен &gt;</span>
                    {% endif %}
                </td>

                <td class="eli-mtime">
                    <span class="ss">
                        {{ entry.mtime|date("d.m.Y, H:i") }}
                    </span>
                </td>

                <td class="eli-status">
                    <span class="ss">{{ entry.get_status_display() }}</span>
                </td>

            </tr>
        {% endfor %}

            <tr class="entry-list-item last">

                <td class="eli-control first">
                    <div class="shade">
                        <div class="center"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                    </div>
                </td>

                <td class="eli-control"></td>
                <td class="eli-entry"></td>
                <td class="eli-author"></td>
                <td class="eli-mtime"></td>
                <td class="eli-status"></td>

            </tr>

        </table>
    {% endif %}

    {% include '_pagination.html' %}
    {% endtrim %}
{% endblock %}
{% block javascript %}

    {{ super() }}

    {% include '_script.my.knockout.common.js.html' %}

    vM.meta = {
        initials: [],
        defaults: []
    };

    vM.filters = {
        formSubmit: vM.hdrSearch.formSubmit,
        isOperated: ko.observable(false),
        closeFilters: function(){
                this.isOperated(false);
                this.getInitialState();
            },

        find: ko.observable()
            .rememberInitial('{{ filters.find }}')
            .rememberDefault('')
            .htmlTextInput('find'),

        author: ko.observable()
            .rememberInitial('{{ filters.author }}')
            .rememberDefault('all')
            .htmlSelect('author', {{ viewmodel.authors }}),

        sortbase: ko.observable()
            .rememberInitial('{{ filters.sortbase }}')
            // .rememberDefault... Значения по умолчанию
            // на клиенте намеренно не определяем,
            // хотя оно есть на сервере
            .htmlSelect('sortbase', {{ viewmodel.sortbase }}),

        sortdir: ko.observable()
            .rememberInitial('{{ filters.sortdir }}')
            // .rememberDefault... Значения по умолчанию
            // на клиенте намеренно не определяем,
            // хотя оно есть на сервере
            .htmlSelect('sortdir', {{ viewmodel.sortdir }}),

        status: ko.observable()
            .rememberInitial('{{ filters.status }}')
            .rememberDefault('all')
            .htmlSelect('status', {{ viewmodel.statuses }}),

        pos: ko.observable()
            .rememberInitial('{{ filters.pos }}')
            .rememberDefault('all')
            .htmlSelect('pos', {{ viewmodel.pos }}),

        uninflected: ko.observable()
            .rememberInitial({{ 'true' if filters.uninflected else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('uninflected'),

        gender: ko.observable()
            .rememberInitial('{{ filters.gender }}')
            .rememberDefault('all')
            .htmlSelect('gender', {{ viewmodel.gender }}),

        tantum: ko.observable()
            .rememberInitial('{{ filters.tantum }}')
            .rememberDefault('all')
            .htmlSelect('tantum', {{ viewmodel.tantum }}),

        possessive: ko.observable()
            .rememberInitial('{{ filters.possessive }}')
            .rememberDefault('all')
            .htmlSelect('possessive', {{ viewmodel.possessive }}),

        onym: ko.observable()
            .rememberInitial('{{ filters.onym }}')
            .rememberDefault('all')
            .htmlSelect('onym', {{ viewmodel.onym }}),

        canonical_name: ko.observable()
            .rememberInitial('{{ filters.canonical_name }}')
            .rememberDefault('all')
            .htmlSelect('canonical_name', {{ viewmodel.canonical_name }}),

        etymology: ko.observable()
            .rememberInitial({{ 'true' if filters.etymology else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('etymology'),

        collocations: ko.observable()
            .rememberInitial({{ 'true' if filters.collocations else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('collocations'),

        meaningcontexts: ko.observable()
            .rememberInitial({{ 'true' if filters.meaningcontexts else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('meaningcontexts'),

        additional_info: ko.observable()
            .rememberInitial({{ 'true' if filters.additional_info else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('additional_info'),

        homonym: ko.observable()
            .rememberInitial({{ 'true' if filters.homonym else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('homonym'),

        duplicate: ko.observable()
            .rememberInitial({{ 'true' if filters.duplicate else 'false' }})
            .rememberDefault(false)
            .htmlCheckbox('duplicate')
    };

    vM.filters.sort = ko.computed({
        read: function(){
            return this.sortdir() + this.sortbase();
        },
        write: function(value){
            if (value.charAt(0) === '-') {
                this.sortdir('-');
                this.sortbase(value.slice(1));
            } else {
                this.sortdir('');
                this.sortbase(value);
            }
        },
        owner: vM.filters
    });

    vM.filters.doSort = function(sort){
        this.sort(sort);
        this.formSubmit();
    };

    vM.filters.isOperated.toggle = function(){ this(!this()); }.bind(vM.filters.isOperated)

    vM.filters.notDefaultState = ko.computed(function(){
        var defaults = vM.meta.defaults;
        for(var i = 0, j = defaults.length; i < j; i++){
            if (!defaults[i].hasDefaultValue()) return true;
        }
        return false;
    }, vM.filters);

    vM.filters.notInitialState = ko.computed(function(){
        var initials = vM.meta.initials;
        for(var i = 0, j = initials.length; i < j; i++){
            if (!initials[i].hasInitialValue()) return true;
        }
        return false;
    }, vM.filters);

    vM.filters.getDefaultState = function(){
        var defaults = vM.meta.defaults;
        for(var i = 0, j = defaults.length; i < j; i++){
            defaults[i].getDefaultValue();
        }
    };

    vM.filters.getInitialState = function(){
        var initials = vM.meta.initials;
        for(var i = 0, j = initials.length; i < j; i++){
            initials[i].getInitialValue();
        }
    };

    $('#id_find')
        .attr('data-bind', 'value: find,' +
            'valueUpdate: "afterkeydown"')
        .attr('autocomplete', 'off')
        .attr('spellcheck', 'false');

    ko.applyBindings(vM.filters, $('.filters').get(0));
    ko.applyBindings(vM.filters, $('#main').get(0));

    $('tr').mouseover(function(){
        $(this).addClass('hover');
    }).mouseout(function(){
        $(this).removeClass('hover');
    });

    $('.icon').mouseover(function(){
        $(this).next('.hint-container').show();
    }).mouseout(function(){
        $(this).next('.hint-container').hide();
    });

{% endblock %}
