label { width: 10em !important; text-align: right; }
p.help { width: 300px !important; margin-left: 9em !important; }
div > input[type="checkbox"] { margin-left: 12em !important; }

@font-face {
    font-family: 'AntConSol';
    src: url('{{ STATIC_URL }}antconsol-webfont.eot');
    src:
        local('☺'),
        url('{{ STATIC_URL }}antconsol-webfont.woff') format('woff'),
        url('{{ STATIC_URL }}antconsol-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Triodion Ucs';
    src: url('{{ STATIC_URL }}fonts/TriIEUcs.eot'); /* .eot */
    src:
        local('Triodion Ucs'),
        local('Triodion ieUcs'),
        local('Triodion ieUcs Regular'),
        local('Triodion-ieUcs'),
        url('{{ STATIC_URL }}fonts/TriIEUcs.woff') format('woff'),
        url('{{ STATIC_URL }}fonts/TriIEUcs.ttf') format('truetype'),
        url('{{ STATIC_URL }}fonts/TriIEUcs.svg#Triodion-ieUcs') format('svg');
}

.antconsol { font-family: AntConSol; }
.typing { font-family: AntConSol; font-size: larger; }
.text { font-family: "Times New Roman", serif; font-size: 10pt; font-style: italic;}
.cslav { font-family: "Triodion Ucs"; font-size: 14pt; }

.green,
.typing,
.text,
.cslav
{ color: #0a0; }
