{% extends 'base.html' %}

{% block content %}

    {% trim %}
    {% for n, host, e in examples_with_hosts %}

        <div class="entry">
            {% set PREVHOST = HOST %}
            {% set HOST = host %}
            {% set isHostTheSame = (PREVHOST == HOST) %}
            <div style="line-height: 100%;{% if isHostTheSame %} color: gray;{% endif %}">

            [<b>{{ n }}</b>]{{ space }}
            
            {# Хостом для примера является словарная статья, а не словосочетание. #}
            {% if host.orth_vars %}

                <span class="cslav headword" style="text-decoration: underline;"">{{ host.orth_vars.0.idem_ucs }}</span>
                {{ space }}

                {% if host.homonym_order %}
                    {{ backspace }}
                    <sup class="homonym-number">{{ host.homonym_order }}</sup>
                    {{ space }}
                {% endif %}

                {% for ovar in host.orth_vars[1:] %}

                    {% if loop.first %}
                        {{ space }}(
                    {% endif %}

                    <span class="cslav orthvar">{{ ovar.idem_ucs }}</span>

                    {% if loop.last %}
                        {{ backspace }}){{ space }}
                    {% else %}
                        {{ backspace }},{{ space }}
                    {% endif %}

                {% endfor %}


                <i>{{ host.part_of_speech.tag }}</i>
                {{ space }}

                {% if host.homonym_gloss %}
                    <span style="text-transform: uppercase;">{{ host.homonym_gloss }}</span>
                {% endif %}

            {# Хостом для примера является словосочетание, а не словарная статья. #}
            {% else %}

                {% for c in host.collocations %}

                        <span class="cslav" style="text-decoration: underline;">{{ c.collocation_ucs }}</span>
                        {% if not loop.last %}
                            ,{{ space }}
                        {% endif %}

                {% endfor %}

            {% endif %}

            </div>


            <span class="cslav">{{ e.example_ucs }}</span>
            {{ space }}

            {% if e.address_text %}
                ({{ e.address_text }}
                {% if e.additional_info %}
                    {{ space }}<span class="ai ai-example">{{ e.additional_info }}</span>
                {% endif %}
                {{ backspace }}){{ space }}
            {% else %}
                    (
                    <span class="noaddress">Нет адреса!</span>
                    {% if e.additional_info %}
                        <span class="ai ai-example">{{ e.additional_info }}</span>
                    {% endif %}
                    ){{ space }}
            {% endif %}
        </div>

    {% endfor %}
    {% endtrim %}
{% endblock %}
