{% extends 'base.html' %}
{% from '_hellinist_example.html' import example with context %}
{% from '_hellinist_entry.html' import entry with context %}

{% block css %}hellinist_workbench.css?{{ STATIC_RESOURCES_VERSION }}{% endblock %}
{% block headerFormAddress %}
    {% if entries is defined %}
        {{ url('hellinist_entries') }}
    {% else %}
        {{ url('hellinist_workbench') }}
    {% endif %}
{% endblock %}

{% block header %}

    <a href="{{ url('all_entries_url') }}" class="header--item button">
        Выход из греческого кабинета
    </a>
    {{ space }}

    {% if entries is defined %}
        <a href="{{ url('hellinist_workbench') }}" class="header--item button">
            Параллели к иллюстрациям
        </a>
    {% else %}
        <a href="{{ url('hellinist_entries') }}" class="header--item button">
            Параллели к статьям
        </a>

        {% if indicators.meaning %}
            <span class="header--item indicator"
                data-bind="click: function(){
                                      vM.filters.getDefaultState();
                                      vM.filters.hwStatus('M');
                                      vM.filters.formSubmit();
                                  }" >
                Необх. для опр. значения{{ space }}
                <span>{{ indicators.meaning }}</span>
            </span>
        {% endif %}

        {% if indicators.urgent %}
            <span class="header--item indicator"
                data-bind="click: function(){
                                      vM.filters.getDefaultState();
                                      vM.filters.hwStatus('U');
                                      vM.filters.formSubmit();
                                  }" >
                Срочных греч. парал.{{ space }}
                <span>{{ indicators.urgent }}</span>
            </span>
        {% endif %}
    {% endif %}

{% endblock %}

{% block subheader %}
    {% if entries is defined %}
        {% include '_entry_filters.html' %}
    {% else %}
        {% include '_examples_filters.html' %}
    {% endif %}
{% endblock %}

{% block content %}
    {% trim %}
    {% if entries is defined %}

        {% for e in entries %}
            <div>{{ entry(e) }}</div>
        {% endfor %}

    {% else %}

        {% for e in examples %}
            <div>{{ example(e, loop.changed(e.host), loop.index0) }}</div>
        {% endfor %}

    {% endif %}
    {% endtrim %}
    {% include '_pagination.html' %}
{% endblock %}

{% block javascript_links %}

<script src="{{ STATIC_URL }}js/libs/ac2ucs8.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

<script src="{{ STATIC_URL }}js/myKnockoutCommon.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

<script>

    $(window).on('beforeunload', function () {
        // Все поля форм делаем неактивными, чтобы вызвать событие changed
        // для того поля, где стоял курсор и тем самым запустить процесс
        // сохранения значения.
        $('input').blur();
    });

    if (!vM) var vM = {};

    vM.urls = {
        jsonGreqDeleteURL: {{ url('jsonGreqDeleteURL') | tojson }},
        jsonGreqSaveURL: {{ url('jsonGreqSaveURL') | tojson }},
        jsonExSaveURL: {{ url('jsonExSaveURL') | tojson }},
        jsonEtymDeleteURL: {{ url('jsonEtymDeleteURL') | tojson }},
        jsonEtymSaveURL: {{ url('jsonEtymSaveURL') | tojson }}
    };

    vM.meta = {
        initials: [],
        defaults: []
    };

    {% if entries is defined %}
        vM.jsonEtymologies = [
            {% set comma = joiner(',') %}
            {% for entry in entries %}
                {% for et in entry.etymologies %}
                    {{ comma() }}
                    { 'id': {{ et.id }},
                      'entry_id': {{ entry.id }},
                      'unitext': {{ et.unitext|tojson }},
                      'additional_info': {{ et.additional_info|tojson }}
                    }
                {% endfor %}
            {% endfor %}
        ];
        if (!vM.filters) vM.filters = {};
        vM.filters.etymsForEntries = {
            {% for entry in entries %}
                {% if not loop.first %},{% endif %}
                {{ entry.id }}: ko.observableArray([])
            {% endfor %}
        };
    {% endif %}

</script>

{% if entries is defined %}

    {% include '_script.entryFilters.html' %}

    <script src="{{ STATIC_URL }}js/entryListForHellinists.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

    <script src="{{ STATIC_URL }}js/entryListFilters.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% else %}

    {% include '_script.examplesFilters.html' %}

    <script src="{{ STATIC_URL }}js/hellinistFilters.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% endif %}

{% endblock %}
