{% extends 'base.html' %}
{% from '_hellinist_example.html' import example with context %}
{% from '_hellinist_example_for_entry.html'
   import example as example_for_entry with context %}
{% from '_hellinist_entry.html' import entry with context %}

{% block css %}hellinist_workbench.css?{{ STATIC_RESOURCES_VERSION }}{% endblock %}
{% block headerFormAddress %}
    {% if entries is defined %}
        {{ url('hellinist_entries') }}
    {% else %}
        {{ url('hellinist_examples') }}
    {% endif %}
{% endblock %}

{% block header %}

    <a href="{{ url('all_entries_url') }}" class="header--item">
        На главную
    </a>{{ space }}

    <a href="{{ url('hellinist_entries') }}"
       class="header--item button{% if entries is defined %} active{% endif %}">
        Статьи
    </a>{{ space }}

    <a href="{{ url('hellinist_examples') }}"
       class="header--item button{% if entries is not defined %} active{% endif %}">
        Поиск по примерам
    </a>{{ space }}

    {% if indicators.get(MEANING_INDICATOR) %}
        <span class="header--item indicator orange"
        {% if entries is defined %}
            onclick="window.location.replace(
                '{{ url('hellinist_examples') }}?{{ MEANING_INDICATOR }}'
            );"
        {% else %}
            data-bind="click: function () {
                                  vM.filters.getDefaultState();
                                  vM.filters.hwStatus('M');
                                  vM.filters.formSubmit();
                              }"
        {% endif %}
                              >
            Для опр. значения{{ space }}
            <span>{{ indicators.get(MEANING_INDICATOR) }}</span>
        </span>
    {% endif %}

    {% if indicators.get(URGENT_INDICATOR) %}
        <span class="header--item indicator"
        {% if entries is defined %}
            onclick="window.location.replace(
                '{{ url('hellinist_examples') }}?{{ URGENT_INDICATOR }}'
            );"
        {% else %}
            data-bind="click: function () {
                                  vM.filters.getDefaultState();
                                  vM.filters.hwStatus('U');
                                  vM.filters.formSubmit();
                              }"
        {% endif %}
                              >
            Срочное{{ space }}
            <span>{{ indicators.get(URGENT_INDICATOR) }}</span>
        </span>
    {% endif %}

{% endblock %}

{% block subheader %}
    {% if entries is defined %}
        {% include '_entry_filters.html' with context %}
    {% else %}
        {% include '_examples_filters.html' %}
    {% endif %}
{% endblock %}

{% block content %}

    {% include '_pagination.html' %}

    {% trim %}

    {% if entries is defined %}
        {% if not form.cleaned_data.per_se and entries|length > 1 %}
        <div class="quickJump">
            <label>Быстрый переход</label>
            <ul>
            {% for e in entries %}
                <li>
                <a href="#e{{ e.id }}">
                    <span class="CSLSegmentEm">
                        {{ e.orth_vars.0.idem_ucs }}
                    </span>
                    {% if e.homonym_order %}
                        <span class="HeadwordHomonymNumber">
                            {{ e.homonym_order }}
                        </span>
                    {% endif %}
                </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% for e in entries %}
            <div class="FirstParagraph">{{ entry(e) }}</div>
            {% if not form.cleaned_data.per_se %}
                {% if e.meanings.count() > 1 %}
                <div class="quickJump">
                    <label>Быстрый переход</label>
                    <ul>
                    {% for exgroup in e.examples_groups_for_hellinists() %}
                        {% set egcg = exgroup.collogroup %}
                        {% set cgchanged = loop.changed(egcg and true,
                                               egcg and egcg.phraseological) %}
                        {% set mgchanged = (not loop.previtem or
                                    loop.previtem.meaning_group.index_mark !=
                                    exgroup.meaning_group.index_mark) %}
                        {% if not egcg %}
                            {% if not loop.first %}</li>{% endif %}
                            <li style="padding-left: 1em; text-indent: -1em;">
                        {% endif %}
                        {% if not egcg %}
                            {% if mgchanged and exgroup.meaning_group.index_mark %}
                                {{ exgroup.meaning_group.index_mark }}.{{ space }}
                            {% endif %}
                            <a href="#{{ e.id }}g{{ exgroup.meaning_group.index_mark }}m{{ exgroup.meaning.index_mark }}">
                                <span>
                                    {% if exgroup.meaning.index_mark %}
                                        <b>{{ exgroup.meaning.index_mark }}.</b>{{ space }}
                                    {% endif %}
                                    {% set meaning = exgroup.meaning.meaning|trim %}
                                    {% set gloss = exgroup.meaning.gloss|trim %}
                                    {% if meaning %}
                                        <span class="Text">
                                            {{ meaning | web_cslav_injection('CSLSegment') }}
                                        </span>{% if gloss %};{% endif %}{{ space }}
                                    {% endif %}
                                    {% if gloss %}
                                        <span class="Em">
                                            {{ gloss | web_cslav_injection('CSLSegment') }}
                                        </span>
                                    {% endif %}
                                </span>
                            </a>
                        {% else %}
                            {% if cgchanged %}
                                <span class="Diamond" style="text-indent: 0">
                                    {% if egcg.phraseological %}
                                        ♦{# U+2666 #}
                                    {% else %}
                                        ♢{# U+2662 #}
                                    {% endif %}
                                </span>{{ nbsp }}
                            {% else %}
                                {% include 'web/separator.html' %}
                            {% endif %}
                            <a href="#{{ egcg.get_url_fragment() }}">
                            {% set semicolon = joiner('{{ backspace }};{{ space }}') %}
                            {% for collocation in egcg.collocations %}
                                {{ semicolon() }}
                                {{ collocation.collocation_ucs |
                                      web_civil_injection("Valency", "CSLSegmentEm", "Text") }}
                                {{ space }}
                            {% endfor %}
                            </a>
                        {% endif %}
                        {% if loop.last %}</li>{% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% for exgroup in e.examples_groups_for_hellinists() %}
                    <div class="exampleHeader Text"
                         {% if not exgroup.collogroup %}
                             id="{{ e.id }}g{{ exgroup.meaning_group.index_mark }}m{{ exgroup.meaning.index_mark }}"
                         {% else %}
                             id="{{ exgroup.collogroup.get_url_fragment() }}"
                         {% endif %}>
                        {% if exgroup.collogroup %}
                            <a href="{{ e.get_absolute_url() }}#{{ exgroup.meaning.get_url_fragment() }}">
                            {% set semicolon = joiner('{{ backspace }};{{ space }}') %}
                            {% for collocation in exgroup.collogroup.collocations %}
                                {{ semicolon() }}
                                {{ collocation.collocation_ucs |
                                      web_civil_injection("Valency", "CSLSegmentEm", "Text") }}
                                {{ space }}
                            {% endfor %}
                            </a>
                        {% endif %}
                        {% if exgroup.meaning_group.index_mark and
                              loop.changed(exgroup.meaning_group.index_mark) %}
                            <b>
                            {{ exgroup.meaning_group.index_mark }}.
                            </b>{{ space }}
                        {% endif %}
                        {% if exgroup.meaning.index_mark %}
                            <b>{{ exgroup.meaning.index_mark }}.</b>{{ space }}
                        {% endif %}
                        {% set meaning = exgroup.meaning.meaning|trim %}
                        {% set gloss = exgroup.meaning.gloss|trim %}
                        {% if meaning %}
                            <span class="Text">
                                {{ meaning | web_cslav_injection('CSLSegment') }}
                            </span>{% if gloss %};{% endif %}{{ space }}
                        {% endif %}
                        {% if gloss %}
                            <span class="Em">
                                {{ gloss | web_cslav_injection('CSLSegment') }}
                            </span>
                        {% endif %}
                    </div>
                    {% set parentloop = loop %}
                    {% for ex in exgroup.examples %}
                        <div style="margin-left: 1em">
                            {{ example_for_entry(ex, e.id, loop, parentloop) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endfor %}

    {% else %}

        {% for ex in examples %}
            <div>{{ example(ex, loop.changed(ex.host), loop.index0) }}</div>
        {% endfor %}

    {% endif %}

    {% endtrim %}

    {% include '_pagination.html' %}
{% endblock %}

{% block javascript_links %}

<script src="{{ STATIC_URL }}js/libs/ac2ucs8.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

<script src="{{ STATIC_URL }}js/myKnockoutCommon.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

<script>

    $(window).on('beforeunload', function () {
        // Все поля форм делаем неактивными, чтобы вызвать событие changed
        // для того поля, где стоял курсор и тем самым запустить процесс
        // сохранения значения.
        $('input').blur();
    });

    if (!vM) var vM = {};

    vM.urls = {
        jsonGreqDeleteURL: {{ url('jsonGreqDeleteURL') | tojson }},
        jsonGreqSaveURL: {{ url('jsonGreqSaveURL') | tojson }},
        jsonExSaveURL: {{ url('jsonExSaveURL') | tojson }},
        jsonEtymDeleteURL: {{ url('jsonEtymDeleteURL') | tojson }},
        jsonEtymSaveURL: {{ url('jsonEtymSaveURL') | tojson }}
    };

    vM.meta = {
        initials: [],
        defaults: []
    };

    {% if entries is defined %}
        vM.jsonEtymologies = [
            {% set comma = joiner(',') %}
            {% for entry in entries %}
                {% for et in entry.etymologies %}
                    {{ comma() }}
                    { 'id': {{ et.id }},
                      'entry_id': {{ entry.id }},
                      'unitext': {{ et.unitext|tojson }},
                      'additional_info': {{ et.additional_info|tojson }}
                    }
                {% endfor %}
            {% endfor %}
        ];

        {% if not form.cleaned_data.per_se %}
        vM.jsonExamplesForEntries = {
            {% set comma1 = joiner(',') %}
            {% for entry in entries %}
                {{ comma1() }} {{ entry.id }}: [
                {% set comma2 = joiner(',') %}
                {% for exgroup in entry.examples_groups_for_hellinists() %}
                    {{ comma2() }} [
                    {% set comma3 = joiner(',') %}
                    {% for ex in exgroup.examples %}
                        {{ comma3() }}
                        {{ ex.toHellinistJSON() }}
                    {% endfor %}
                    ]
                {% endfor %}
                ]
            {% endfor %}
        };
        {% endif %}

        if (!vM.filters) vM.filters = {};
        vM.filters.etymsForEntries = {
            {% for entry in entries %}
                {% if not loop.first %},{% endif %}
                {{ entry.id }}: ko.observableArray([])
            {% endfor %}
        };
    {% endif %}

</script>

<script src="{{ STATIC_URL }}js/getCookie.js?{{ STATIC_RESOURCES_VERSION }}"
    type="application/javascript" charset="utf-8"></script>
<script src="{{ STATIC_URL }}js/hellinistExamples.js?{{ STATIC_RESOURCES_VERSION }}"
    type="application/javascript" charset="utf-8"></script>

{% if entries is defined %}

    {% include '_script.entryFilters.html' %}

    <script src="{{ STATIC_URL }}js/entryListForHellinists.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

    <script src="{{ STATIC_URL }}js/entryListFilters.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% else %}

    {% include '_script.examplesFilters.html' %}

    <script src="{{ STATIC_URL }}js/hellinistFilters.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% endif %}

{% endblock %}
