{% extends 'base--hdrSearch.html' %}

{% block content %}

<style>
    #materials {
        font-family: Arial, sans-serif;
        width: 35em;
        margin: 2em auto;
        color: #333;
    }
    #materials ul {
        list-style-type: none;
        margin-top: 0.5em;
        text-indent: -1.05em;
        margin-left: 1.05em;
    }
    #materials li:before {
        content: '—';
    }
    #materials li {
        padding: 0;
        font-size: 80%;
        margin-bottom: 0.35em;
        margin-top: 0.1em;
    }
    #materials li a:link,
    #materials li a:active,
    #materials li a:hover,
    #materials li a:visited {
        color: #00a;
    }
    #materials li a:hover {
        text-decoration: underline;
    }
    #materials li a em {
        color: gray;
    }
    #materials li.new-group {
        margin-top: 1.5em;
    }
</style>

<div id='materials'>

    <h1>Материалы</h1>

    <ul>

        <li class="new-group">
            <a href="https://docs.google.com/document/d/1F2vnJpp_J48X49tdwrqefmtNd7wJIiAbuExp5TgZuwE">
                Инструкция
            </a>
        </li>

        <li>
            <a href="https://docs.google.com/document/d/1LRtmqgkJt5MD6oEliZDd33JPSWz-4nTJC7NZ7VlSSj8/">
                Дополнительная инструкция
            </a>
        </li>

        <li>
            <a href="https://docs.google.com/document/d/1AmrZZgBa4BdTlhvyyBEN8n5KYD0-f_AC04Jd-v_pdjU">
                Список сокращений
            </a>
        </li>

        <li class="new-group">
            <a href="{{ url('converter') }}">
                Онлайн-конвертер текста<br />
                <em>из АнтКонка в MS Word</em>
            </a>
        </li>

        <li>
            <a href="http://ruscorpora.ru/search-orthlib.html">
                Национальный корпус русского языка: Церковнославянский корпус
            </a>
        </li>

        <li>
            <a href="/dl/cslcorpus.exe" download>
                Корпус текстов, конкордансер&nbsp;AntConc
                и шрифт&nbsp;AntConSol<br />
                одним установочным файлом<br />
                <em>Версия установочного файла от 20.01.2014 г.</em>
            </a>
        </li>

        <li>
            <a href="/dl/AntConSol.ttf" download>
                Шрифт AntConSol
            </a>
        </li>

        <li class="new-group">
            <a href="https://drive.google.com/open?id=1zMfsL9-sBVUO3rVaRccFH-yr3qGaoPju">
                Cловарь церковнославянского языка нового времени. Том I. A—Б
            </a>
        </li>

        <li>
            <a href="https://drive.google.com/open?id=196aGdiiIhgyWdCkhVCjr-RtkPWv2TVDI">
                Cловарь церковнославянского языка нового времени. Том II. В
            </a>
        </li>

    </ul>

</div>

{% endblock %}

