{% extends 'base--hdrSearch.html' %}

{% block content %}

<style>
    #materials {
        font-family: Arial, sans-serif;
        width: 35em;
        margin: 2em auto;
        color: #333;
    }
    #materials ul {
        list-style-type: none;
        margin-top: 0.5em;
        text-indent: -1.05em;
        margin-left: 1.05em;
    }
    #materials li:before {
        content: '—';
    }
    #materials li {
        padding: 0;
        font-size: 80%;
        margin-bottom: 0.35em;
        margin-top: 0.1em;
    }
    #materials li a:link,
    #materials li a:active,
    #materials li a:hover,
    #materials li a:visited {
        color: #00a;
    }
    #materials li a:hover {
        text-decoration: underline;
    }
    #materials li a em {
        color: gray;
    }
    #materials h2,
    #materials h3 {
        font-size: 80%;
        margin-top: 1.5em;
        color: #444;
    }
</style>

<div id='materials'>

    <h1>Материалы</h1>
    <h2>Справочные материалы</h2>
    <ul>

        <li>
            <a href="https://docs.google.com/document/d/1F2vnJpp_J48X49tdwrqefmtNd7wJIiAbuExp5TgZuwE">
                Инструкция
            </a>
        </li>

        <li>
            <a href="https://docs.google.com/document/d/1LRtmqgkJt5MD6oEliZDd33JPSWz-4nTJC7NZ7VlSSj8/">
                Дополнительная инструкция
            </a>
        </li>

        <li>
            <a href="https://docs.google.com/document/d/1AmrZZgBa4BdTlhvyyBEN8n5KYD0-f_AC04Jd-v_pdjU">
                Список сокращений
            </a>
        </li>

        <li>
            <a href="https://docs.google.com/document/d/1x6gDvsXd8_qeCSNyKBoKm1jWVi0Azhun9UVFmPzWS1k">
                Список источников переводов
            </a>
        </li>
    </ul>

    <h3>Cловарь церковнославянского языка нового времени</h3>
    <ul>

        <li>
            <a href="https://drive.google.com/file/d/1zMfsL9-sBVUO3rVaRccFH-yr3qGaoPju/view?usp=sharing">
                Том I. A—Б
            </a>
        </li>

        <li>
            <a href="https://drive.google.com/file/d/196aGdiiIhgyWdCkhVCjr-RtkPWv2TVDI/view?usp=sharing">
                Том II. В
            </a>
        </li>

        <li>
            <a href="https://drive.google.com/file/d/1oFqbbHb6xx7BLfhGV8e7mDSjXGg7rowB/view?usp=sharing">
                Том III. Г—Е
            </a>
        </li>

        <li>
            <a href="https://drive.google.com/file/d/1i6KtuAkDiPnoXfQq1FsCWRjaJ7L_Kyf8/view?usp=sharing">
                Том IV. Ж—З
            </a>
        </li>

        <li>
            <a href="https://drive.google.com/file/d/1OwFIsQyqJTHGy7PIq7Lc6QbQpRPRR66b/view?usp=sharing">
                Том V. И
            </a>
        </li>

    </ul>

    <h2>Техническое</h2>
    <ul>

        <li>
            <a href="{{ url('converter') }}">
                Онлайн-конвертер текста<br />
                <em>из АнтКонка в MS Word</em>
            </a>
        </li>

        <li>
            <a href="http://ruscorpora.ru/search-orthlib.html">
                Национальный корпус русского языка: Церковнославянский корпус
            </a>
        </li>

        <li>
            <a href="/dl/cslcorpus.exe" download>
                Корпус текстов, конкордансер&nbsp;AntConc
                и шрифт&nbsp;AntConSol<br />
                одним установочным файлом<br />
                <em>Версия установочного файла от 04.06.2020 г.</em>
            </a>
        </li>

        <li>
            <a href="/dl/AntConSol.ttf" download>
                Шрифт AntConSol
            </a>
        </li>

    </ul>

</div>

{% endblock %}

