{% extends 'base.html' %}

{% block content %}

    <h1>Материалы</h1>

    <ul>

        <li>
            <a href="https://docs.google.com/document/d/1F2vnJpp_J48X49tdwrqefmtNd7wJIiAbuExp5TgZuwE/view?hl=en_US">
                Инструкция для авторов Церковнославянского словаря
            </a>
        </li>

        <li>
            <a>
                Корпус текстов
            </a>
        </li>

        <li>
            <a>
                Конкордансер &laquo;АнтКонк&raquo;
            </a>
        </li>

    </ul>

{% endblock %}

