{% extends 'base.html' %}

{% block content %}
    <style>
        #window-container { position: relative; }

        .greek, .repr{
            padding: 3px;
            background-color: #eafcd5;
            border: 1px solid #b9d796;
            color: #648044;
            font-size: larger;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px; }

        .repr {
            background-color: #d5dffc;
            border: 1px solid #bbc4df;
            color: #626f94;
        }

        .char {
            margin-left: 3em;
            text-indent: -3em;
        }

        .nowrap {
            white-space: nowrap;
        }

    </style>

    <div id="window-container">

        {% for char in chars %}
            <div class='char {% if nowrap %}nowrap{% endif %}'>
                <span class="greek grec">{{ char }}</span>
                <span class="greek">{{ char }}</span>
                <span class="repr">{{ char.__repr__() }}</span>
                <span>
                    {% for word, entry_id, meaning_id, example_id in words[char] %}
                        <span class="grec">{{ word }}</span>
                        (
                        <a href='/entries/{{ entry_id }}/' target='_blank'>{{ entry_id }}</a>
                        :
                        <a href='/admin/dictionary/entry/{{ entry_id }}/' target='_blank'>{{ entry_id }}</a>

                        {% if meaning_id %}
                            :
                            <a href='/admin/dictionary/meaning/{{ meaning_id }}/' target='_blank'>{{ meaning_id }}</a>
                        {% endif %}

                        {% if example_id %}
                            :
                            <a href='/admin/dictionary/example/{{ example_id }}/' target='_blank'>{{ example_id }}</a>
                        {% endif %}
                        )
                    {% endfor %}
                </span>
            </div>
        {% endfor %}

    </div>
    <script src="{{ STATIC_URL }}js/libs/jquery-1.4.4.min.js"></script>
    <script>
       $(function(){
          $('.char').dblclick(function(){
              $(this).toggleClass('nowrap');
          });
       });
    </script>
{% endblock %}

