{% extends 'base--hdrSearch.html' %}

{% block header %}

    {{ super() }}
    {% if not intermed %}
        {{ space }}
        <a href="{% url switch_info_url %}"
           class="header--item{% if show_additional_info %} on{% endif %}">Инфо</a>
    {% endif %}

{% endblock %}


{% block content %}

    <div data-bind="text: data.entry.orthvars()[0].idem"></div>

    <input data-bind="value: data.entry.orthvars()[0].idem"/>

    <input type="button" value="Сохранить" data-bind="click: save"/>

{% endblock %}


{% block javascript_links %}

    {% include '_script.knockout.mapping.html' %}

{% endblock %}


{% block javascript %}

    {{ super() }}
    var data = {{ entry }};

    vM.entryEdit = {
        data: ko.mapping.fromJS(data),
        ui: {
            tabs: {}
        }
    };

    vM.entryEdit.save = function() {
        $.post('/entries/save/', {data: ko.mapping.toJSON(vM.entryEdit.data)});
    };

    ko.applyBindings(vM.entryEdit, $('#main').get(0));

{% endblock %}
