{% extends 'base-flex.html' %}

{% block header %}
<div>

    <input type="button" data-bind="click: ui.navigationStack.pop"
        class="header--item button" value="Закончить редактирование" />

    {{ space }}
    <input type="button" class="header--item button"
        data-bind="
            click: undoStorage.undo,
            disable: undoStorage.shouldDisableUndo"
        value="↶" /><!-- или ⟲ -->

    {{ space }}
    <input type="button" class="header--item button"
        data-bind="
            click: undoStorage.redo,
            disable: undoStorage.shouldDisableRedo"
        value="↷" /><!-- или ⟳ -->

    <!-- ko with: $root.ui -->
    <span class="cutBufferIndicator header--item"
        data-bind="css: { hidden: cutBuffer().length < 1 }">
        <!-- Использовать ``data-bind="visible: cutBuffer().lenght > 0"``
        нельзя, так как всплывающая подсказка Opentip будет выскакивать
        не под этим индикатором, в верхнем левом углу вьюпорта браузера. -->
        <span data-bind="text: cutBuffer().length"></span>
        <span data-bind="visible: cutBuffer.containsCollogroups">сс.</span>
        <span data-bind="visible: cutBuffer.containsMeanings">зн.</span>
        <span data-bind="visible: cutBuffer.containsExamples">ил.</span>
    </span>
    <!-- /ko -->

</div>

<aside>

    <input type="button" class="header--item button" id="copy_antconc_query"
        value="Запрос для AntConc"
        data-clipboard-text="{{ antconc_query|e }}" />

    {{ space }}
    <a href="http://ruscorpora.ru/search-orthlib.html"
       class="header--item button" target="_new">НКРЯ (цсл)</a>

    {{ space }}
    <a href="https://docs.google.com/document/d/1AmrZZgBa4BdTlhvyyBEN8n5KYD0-f_AC04Jd-v_pdjU"
       class="header--item button"
       target="_blank">Список сокращений</a>

    {{ space }}
    <a href="https://docs.google.com/document/d/1F2vnJpp_J48X49tdwrqefmtNd7wJIiAbuExp5TgZuwE/view?hl=en_US"
       class="header--item button" target="_new">Инструкция</a>

</aside>

{% endblock %}

{% block content %}

    <div class="curtain"></div>

    <aside class="edit">

        <div id="aside--headword">
            <label>Заглавное слово</label>
            <input type="text" data-bind="textInput: ui.entry.headword"
                   maxlength="{{ MAX_LENGTHS.OrthographicVariant.idem }}"/>
        </div>

        <!-- ko if: ui.navigationStack.top -->
        <div class="aside--note"
         data-bind="with: ui.navigationStack.top">

            <!-- ko if: constructor.name === 'Entry' -->
            <label>Примечание к статье</label>
            <!-- /ko -->

            <!-- ko if: constructor.name === 'Collogroup' -->
            <label>Примечание к словосочетанию</label>
            <!-- /ko -->

            <!-- ko if: constructor.name === 'Meaning' -->
                <!-- ko ifnot: $root.ui.hierarchy.usage -->
                <label>Примечание к значению</label>
                <!-- /ko -->
                <!-- ko if: $root.ui.hierarchy.usage -->
                <label>Примечание к употреблению</label>
                <!-- /ko -->
            <!-- /ko -->

            <!-- ko if: constructor.name === 'Example' -->
            <label>Примечание к иллюстрации</label>
            <!-- /ko -->

            <textarea data-bind="textInput: additional_info"></textarea>
        </div>
        <!-- /ko -->

    </aside>

    <article class="edit">

        <header>
            <div data-bind="template: { name: 'entryAdvertisement',
                data: data.entry }" class="entryAdvertisement"
                id="eA--entry"></div>

            <!-- ko if: ui.hierarchy.collogroup -->
            <div class="entryAdvertisement" id="eA--collocation">

                <!-- NOTE: Реализацию разделителя на основе canvas
                     см. commit 17c19b1e12b424bddd2a5b123a130d1fd9841462 -->
                <img id="eA--separator" width="30" height="80"
                    src="{{ STATIC_URL }}collogroupSeparator.png"/>

                <!-- ko if: ui.hierarchy.collogroupSlug -->
                <span class="eA--collocation"
                    data-bind="wax: ui.hierarchy.collogroupSlug"></span>
                <!-- /ko -->
                <!-- ko ifnot: ui.hierarchy.collogroupSlug -->
                <span>&lt;Словосочетание&gt;</span>
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </header>

        {% trim %}
        {% include '_entryEdit_tabs.html' %}
        {% endtrim %}

        <!-- ko template: { name: ui.currentForm, data: ui.navigationStack.top,
            if: ui.navigationStack.top } --><!-- /ko -->

        <!-- ko template: { name: 'saveDialogue', data: data.entry,
            if: !ui.navigationStack.top() } --><!-- /ko -->

        {% include '_template.entryTab.admin.html' %}
        {% include '_template.entryTab.info.html' %}
        {% include '_template.entryTab.orthvars.html' %}
        {% include '_template.entryTab.structure.html' %}
        {% include '_template.entryTab.examples.html' %}
        {% include '_template.entryTab.constructions.html' %}
        {% include '_template.entryTab.etym.html' %}

        {% include '_template.collogroupTab.variants.html' %}
        {% include '_template.collogroupInfo.html' %}

        {% include '_template.editMeaning.html' %}
        {% include '_template.meaningTab.contexts.html' %}
        {% include '_template.meaningTab.uses.html' %}
        {% include '_template.meaningTab.examples.html' %}

        {% include '_template.editExample.html' %}
        {% include '_template.saveDialogue.html' %}
        {% include '_template.entryAdvertisement.html' %}

    </article>
{% endblock %}


{% block javascript_links %}

    <script src="{{ STATIC_URL }}js/libs/ac2ucs8.js?{{ STATIC_RESOURCES_VERSION }}"
        type="text/javascript" charset="utf-8"></script>

    {% include '_script.clipboardjs.html' %}

    {% include '_script.knockout.postbox.html' %}

    {% include '_script.knockout.sortable.html' %}

    {% include '_script.opentip.html' %}

    <script>

        var vM = {};

        vM.dataToInitialize = {
            entry: {{ entry }},
            choices: {{ choices }},
            labels: {{ labels }},
            slugs: {{ slugs }}
        };

        vM.entryURL = '{{ entryURL }}';


        // Настройки knockout-sortable
        var placeholderClass = 'sortable-placeholder';
        ko.bindingHandlers.sortable.allowDrop = false;
        ko.bindingHandlers.sortable.options = {
            appendTo: document.body,
            grid: [30, 1],
            handle: '.dragItem',
            placeholder: placeholderClass,
            start: function (event, ui) {
                var x = $(ui.item),
                    y = x.outerHeight();
                x.addClass('being-dragged');
                $('.' + placeholderClass).height(y);
            },
            stop: function (event, ui) {
                $(ui.item).removeClass('being-dragged');
            },
        };


        // Новый binding для отображения полуюникода в цсл виде
        // с различением слов и частей слова.
        var ac2ucs8 = antconc_ucs8,
            ac2cvlr = antconc_civilrus_word;
        ko.bindingHandlers.wax = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                var value = valueAccessor(),
                    cssClasses = allBindingsAccessor().waxCss || 'cslav';
                value.wax = ko.computed(function () {
                        var word = value(),
                            isAffix = (word[0] === '-'),
                            dash = isAffix ? '<span>-</span>': '',
                            text = ('<span class="' + cssClasses + '">' +
                                    ac2ucs8(isAffix ? word.slice(1) : word, isAffix) +
                                    '</span>');
                            return dash + text;
                    });
                $(element).html(value.wax());
            },
            update: function (element, valueAccessor) {
                var value = valueAccessor();
                $(element).html(value.wax());
            }
        };

    </script>

    <script src="{{ STATIC_URL }}js/edit.js?{{ STATIC_RESOURCES_VERSION }}"
        type="application/javascript" charset="utf-8"></script>

{% endblock %}
