{% extends 'base--hdrSearch.html' %}

{% block header %}

    {{ super() }}
    {% if not intermed %}
        {{ space }}
        <a href="{{ url('switch_info_url') }}"
           class="header--item{% if show_additional_info %} on{% endif %}">Инфо</a>
    {% endif %}

{% endblock %}

{% block content %}

    {% if not intermed %}
        {% if not (user.preplock and entry.preplock)
              and (not entry.authors.exists() or user.is_admeditor
                   or user in entry.authors.all()) %}
            {% if not entry.duplicate or user.is_admeditor %}
            <div style="position: absolute; top: 5px; left: -45px;">
                <a class="icon edit" href="{{ url('edit_form_url', args=[entry.pk]) }}">
                    <img src="{{ STATIC_URL }}transparent.png" alt="изменить" />
                </a>
                {% if user.is_superuser %}
                <br />
                <a class="icon" href="/entries/{{ entry.pk }}/intermed/">
                    <img src="{{ STATIC_URL }}transparent.png" alt="изменить" />
                </a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% trim %}
        {% include 'web/entry.html' %}
    {% endtrim %}

{% endblock %}
