{% extends 'base.html' %}

{% block header %}

    {{ super() }}
    {% if not intermed %}
        <a href="{% url switch_info_url %}"
           class="header--item{% if show_additional_info %} on{% endif %}">Инфо</a>
    {% endif %}

{% endblock %}

{% block content %}

    {% if not intermed %}
        {% if not entry.editor or user.is_admeditor or user == entry.editor %}
        {# user.groups.all|stringformat:"s" преобразует сам список объектов Group в текстовое представление. #}
        {# В результате получается строка вроде "[<Group: authors>, <Group: editors>]". #}
            {% if not entry.duplicate or user.is_admeditor %}
            <div style="position: absolute; top: -3px; left: -40px;">
                <a href="{% url intermediary_change_form_url entry.pk %}" class="icon edit">
                    <img src="{{ STATIC_URL }}transparent.png" alt="изменить" />
                </a>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% include '_entry.html' %}
    {% include '_ref_entries_with_header.html' %}

{% endblock %}
