{% extends 'base--hdrSearch.html' %}

{% block header %}

    {{ super() }}
    {% if not intermed %}
        {{ space }}
        <a href="{% url 'switch_info_url' %}"
           class="header--item{% if show_additional_info %} on{% endif %}">Инфо</a>
    {% endif %}

{% endblock %}

{% block content %}

    {% if not intermed %}
        {% if not entry.authors.exists() or user.is_admeditor
        or user in entry.authors.all() %}
            {% if not entry.duplicate or user.is_admeditor %}
            <div style="position: absolute; top: -3px; left: -40px;">
                <a class="icon edit" href="javascript:
                        chromeOnly('{% url 'edit_form_url' entry.pk %}')">
                    <img src="{{ STATIC_URL }}transparent.png" alt="изменить" />
                </a>
                {% if user.is_superuser %}
                <br />
                <a class="icon" href="/entries/{{ entry.pk }}/intermed/">
                    <img src="{{ STATIC_URL }}transparent.png" alt="изменить" />
                </a>
                {% endif %}
            </div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% include '_entry.html' %}
    {% include '_ref_entries_with_header.html' %}
    {% include '_script.chromeOnly.html' %}

{% endblock %}
