<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>{{ title }}</title>
        <link href="/site-media/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            <span class="cslav" style=" font-size: 20pt; ">слова1рь</span>
        </div>
        <div id="menu">
            <div>
                <a href="/admin/">Внести изменения</a>
            </div>
        </div>
        <div id="main">
            {% for entry in entries %}
                <div class="entry">

                    {% for ovar in entry.orth_vars %}
                            <span class="cslav{% if forloop.first %} headword{% endif %}">{{ ovar.idem_ucs }}</span
                            >{% if not forloop.last %}, {% endif %}
                    {% endfor %}

                    <i>{{ entry.part_of_speech.abbreviation }}</i>

                    {% for m in entry.meanings %}
                        {% if not entry.meanings|length_is:"1" %}
                            <b>{{ forloop.counter }}</b>.
                        {% endif %}

                        {% if m.meaning %}
                            <span>{{ m.meaning.capitalize }}</span
                        {% endif %}
                        {% if m.gloss %}
                            {% if m.meaning %}>;{% endif %}
                            <i>{{ m.gloss.capitalize }}</i
                        {% endif %}
                        {% if m.examples %}>:
                            {% for e in m.examples %}
                                <span class="cslav">{{ e.example_ucs }}</span>
                                {{ e.address }}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </body>
</html>
